<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>网站后台管理模版</title>
    <link rel="stylesheet"  th:href="@{/admin/layui/css/layui.css}" type="text/css"/>
    <link rel="stylesheet"  th:href="@{/admin/css/admin.css}" type="text/css" />
    <style type="text/css">
        .layui-input-block label{
            text-align: left;
        }
    </style>
</head>
<body>
<div class="layui-tab page-content-wrap">
    <table>
        <tr>
            <td style="width: 100px;height: 50px;line-height: 50px">导&nbsp;&nbsp;游&nbsp;&nbsp;姓&nbsp;&nbsp;名：</td>
            <td>
                <select name="guideName"></select>
            </td>
        </tr>
        <tr>
            <td style="width: 100px;height: 50px;line-height: 50px">请假开始日期：</td>
            <td>
                <input type="date" name="startDate" />
            </td>
        </tr>
        <tr>
            <td style="width: 100px;height: 50px;line-height: 50px">请假结束日期：</td>
            <td>
                <input type="date" name="endDate" />
            </td>
        </tr>
        <tr>
            <td colspan="2"><button style="width: 100px;height: 50px;line-height: 50px;margin-left: 50px;color: #ffffff;background-color: #3B7DBB;border: none" onclick="insertGuideSchedule()">提交请假信息</button></td>
        </tr>
    </table>

</div>
<script th:src="@{/admin/layui/layui.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/js/jquery-3.2.1.js}"  type="text/javascript" charset="utf-8"></script>
<script>

    listGuideName();
    /**
     * 获取所有导游绑定下拉框
     */
    function listGuideName() {
        $.ajax({
            url:"/sdglGroundConnection/Guide/listGuideName",
            data:{},
            dataType:"json",
            type:"get",
            success:function (result) {
                var content="<option value='0'>请选择一个导游姓名</option>";
                $.each(result.data,function (i,e) {
                    content+="<option value='"+e.guideId+"'>"+e.guideName+"</option>";
                })
                $("select[name='guideName']").html(content);
            }
        })
    }


    /**
     * 添加导游请假信息
     */
    function insertGuideSchedule() {
        var guideId=$("select[name='guideName']").val();
        var startDate=$("input[name='startDate']").val();
        var endDate=$("input[name='endDate']").val();
        $.ajax({
            url:"/sdglGroundConnection/GuideSchedule/insertGuideSchedule",
            data:{"guideId":guideId,"startDate":startDate,"endDate":endDate},
            dataType:"json",
            type:"get",
            success:function (result) {
                alert(result.msg)
                $("select[name='guideName']").val(0);
                $("input[name='startDate']").val("");
                $("input[name='endDate']").val("");
            }
        })
    }
</script>
</body>
</html>