<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>网站后台管理模版</title>
		<link rel="stylesheet" type="text/css" href="/admin/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="/admin/css/admin.css" />
		<style type="text/css">
		
			#daoyouricheng td {
				text-align: center;

				width: 30px;
				height: 5px;
	
			}
			#daoyouxinxi{

			}
			#tbodyinfo tr td{
				border: 1px solid #0C0C0C;
			}
			#daoyouinfo tr td{
				margin-top: 20px;
			}
			
			.nengyong{

				color: #0C0C0C;
				
			}
			
			.bunengyong{

				color: #0C0C0C;
			}
			
			
		</style>
	</head>

	<body style="overflow-x: hidden;">
		
		<div class="page-content-wrap">
			<div style="height:600px; width: 450px;float: left;">
				<ul class="flow-default" style="height:600px; overflow-y: auto; " id="LAY_demo2" ></ul>
			</div>

			<div style="height:600px; overflow-y: auto; overflow-x: auto; width: 820px;float: left;">
				<h1>导游日程信息</h1>
				<table  class="layui-table" lay-even="" lay-skin="nob" id="daoyouinfo">
					
					<thead>
						<tr id="daoyouricheng">
							<td><span style="width: 90px;"></span></td>
							<td><span style="width: 120px;">aaaaaa</span></td>
							<td>1</td>
							<td>2</td>
							<td>3</td>
							<td>4</td>
							<td>5</td>
							<td>6</td>
							<td>7</td>
							<td>8</td>
							<td>9</td>
							<td>10</td>
							<td>11</td>
							<td>12</td>
							<td>13</td>
							<td>14</td>
							<td>15</td>
							<td>16</td>
							<td>17</td>
							<td>18</td>
							<td>19</td>
							<td>20</td>
							<td>21</td>
							<td>22</td>
							<td>23</td>
							<td>24</td>
							<td>25</td>
							<td>26</td>
							<td>27</td>
							<td>28</td>
							<td>29</td>
							<td>30</td>
							<td>31</td>
						</tr>
					</thead>
					<tbody id="tbodyinfo">
						<tr >
							<td >李晓杰</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="bunengyong">√</td>
							<td class="bunengyong">√</td>
							<td class="bunengyong">√</td>
							<td class="bunengyong">√</td>
							<td class="bunengyong">√</td>
							<td class="bunengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
					
							
						</tr>
						<tr >
							<td>李晓杰</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="bunengyong"></td>
							<td class="bunengyong"></td>
							<td class="bunengyong"></td>
							<td class="bunengyong"></td>
							<td class="bunengyong"></td>
							<td class="bunengyong"></td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
						</tr>
						<tr >
							<td>李晓杰</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="bunengyong"></td>
							<td class="bunengyong"></td>
							<td class="bunengyong"></td>
							<td class="bunengyong"></td>
							<td class="bunengyong"></td>
							<td class="bunengyong"></td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
							<td class="nengyong">√</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<script src="/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="/admin/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script>
			layui.use(['form', 'jquery', 'layer', 'dialog'], function() {
				var $ = layui.jquery;

				//修改状态
				$('#table-list').on('click', '.table-list-status', function() {
					var That = $(this);
					var status = That.attr('data-status');
					var id = That.parent().attr('data-id');
					if(status == 1) {
						That.removeClass('layui-btn-normal').addClass('layui-btn-warm').html('隐藏').attr('data-status', 2);
					} else if(status == 2) {
						That.removeClass('layui-btn-warm').addClass('layui-btn-normal').html('显示').attr('data-status', 1);

					}
				})

			});
		</script>
		<script>
			layui.use('flow', function() {
				var flow = layui.flow;

				flow.load({
					elem: '#LAY_demo2' //流加载容器
						,
					scrollElem: '#LAY_demo2' //滚动条所在元素，一般不用填，此处只是演示需要。
						,
					isAuto: false,
					isLazyimg: true,
					done: function(page, next) { //加载下一页
						//模拟插入
						setTimeout(function() {

							var content="<div style='width: 370px; height: 170px; border:1px solid #2B2E37; margin: 10px; padding: 15px;'>";
								 	content+="<dl>";
							 		content+="<dt>团号:团号写这里</dt>";
							 		content+="<dd>申请的导游:李晓杰</dd>";
								 	content+="<dd>开团信息:晋祠，全国重点文物保护单位之一，位于太原市西南郊25公里处的悬瓮山麓。";
									content+="小桥、古树互相映衬，山环水绕，文物荟萃，古木参天，";
									content+="是一处风景十分优美的古建园林，被誉为山西的“小江南”，驰名中外。";
									content+="晋祠的文物古迹很多，比较著名的有：圣母殿、侍女</dd>";
									content+="<dd ><button class='layui-btn layui-btn-normal layui-btn-radius'>审核通过</button></dd>";
									content+="</dl>";
								content+="</div>";
							var lis = [];
							for(var i = 0; i < 1; i++) {
								lis.push(content)
							}
							next(lis.join(''), page < 6); //假设总页数为 6
						}, 500);
					}
				});

			});
		</script>

	</body>

</html>