<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>查看待审核的调度信息</title>
	<link rel="stylesheet"  th:href="@{/admin/layui/css/layui.css}" type="text/css" />
	<link rel="stylesheet"  th:href="@{/admin/css/admin.css}" type="text/css" />
</head>
<body>
<div class="page-content-wrap">
	<form class="layui-form" action="">
		<div class="layui-form-item">
			<!--<div class="layui-inline tool-btn">
				<button class="layui-btn layui-btn-small layui-btn-normal addBtn"  id="ooo" type="button"><i class="layui-icon">&#xe654;</i></button>
			</div>-->
			<div class="layui-inline">
				<input type="text" name="valueContent1" placeholder="请输入导游名" autocomplete="off" class="layui-input" id="one">
			</div>
			<div class="layui-inline">
				<input type="text" name="valueContent1" placeholder="请输入团号" autocomplete="off" class="layui-input" id="two">
			</div>
			<button class="layui-btn layui-btn-normal"  onclick="loadData(1)" type="button">搜索</button>
			<button onclick="menu3()"class='layui-btn layui-btn-normal del-btn' type="button">查看导游安排信息</button>

		</div>
	</form>
	<div class="layui-form" id="table-list">
		<table class="layui-table" lay-even lay-skin="nob">
			<thead>
			<tr>
				<td style="width: 45px">序号</td>
				<td style="width: 45px">团号</td>
				<td style="width: 45px">计调人</td>
				<td style="width: 45px">导游名称</td>
				<td style="width: 45px">开始时间</td>
				<td style="width: 45px">结束时间</td>
				<td style="width: 45px">操作</td>
			</tr>
			</thead>
			<tbody id="three">

			</tbody>
		</table>
	</div>
	<ui id="laypage" style="text-align: center;margin-left:300px"></ui>
</div>


<script  th:src="@{/js/jquery-1.8.2.min.js}"></script>
<script th:src="@{/admin/layui/layui.js}" type="text/javascript" charset="utf-8"></script>

<script>
    function  menu3(dictionariesId) {
        $(document).on(
            layer.open({
                type: 2,
                title: '导游时间安排',
                maxmin: true,
                shadeClose: true, //点击遮罩关闭层
                area : ['1150px' , '520px'],
                content: '/sdglGroundConnection/General/menu3.html'
            })
        )
    }
    function  getdispatchinfo(dispatchId) {
        $(document).on(
			layer.open({
            type: 2,
            title: '查看调度详情',
            maxmin: true,
            shadeClose: true, //点击遮罩关闭层
            area : ['1200px' , '800px'],
            content: '/sdglGroundConnection/countAdjust/Quotation-detail.html?did='+dispatchId
        })
        )
    }
    var limitcount = 2; // 每页总记录数
    var curnum = 1;  // 当前页码
    loadData();
    function loadData(j) {
        if(j==1){
            curnum =1;
        }
        var lala=$("#one").val()
        var haha=$("#two").val()
        var str = "";
        $.ajax({
            url: "/sdglGroundConnection/dispatch/listDispatchlike",
            data:{page:curnum,limit:limitcount,guideName:lala,groundConnectionNumber:haha},
            dataType: "json",
            type: "get",
            success: function (e) {
                var xu=(curnum-1)*limitcount+1;
                $(e.data).each(function (i, result) {
                    str += "<tr><td>" + xu +"</td>" +
                        "<td>" + result.groundConnectionNumber + "</td>" +
                        "<td>" + result.jiDiaoName + "</td>" +
                        "<td>" + result.guideName + "</td>"+
                        "<td>" + result.travelStartTime + "</td>"+
                        "<td>" + result.travelEndTime + "</td>"+
                        "<td><button type='button' onclick='getdispatchinfo("+result.dispatchId+")' class='layui-btn layui-btn-mini layui-btn-normal del-btn'><a href='#'>修改调度详情</a></button>" +
                        "<input type='hidden' value='"+result.travelStartTime+"'><input type='hidden' value='"+result.travelEndTime+"'>&nbsp;&nbsp;&nbsp;<button onclick='shenhe("+result.dispatchId+","+result.guideId+",this)'class='layui-btn layui-btn-mini layui-btn-normal del-btn'><a href='#' >通过审核</a></button>" +
                        "</td></tr>";
                    xu++;
                })
                $('#three').html(str);
                // 分页插件
                layui.use('table', function () {
                    var laypage = layui.laypage;
                    laypage.render({
                        elem: 'laypage'
                        , count: e.count
                        , curr: curnum
                        , limit: 2
                        , layout: ['prev', 'page', 'next', 'skip', 'count']
                        , jump: function (obj, first) {
                            if (!first) {
                                //obj包含了当前分页的所有参数，比如：
                                curnum = obj.curr; // 当前页码
                                limitcount = obj.limit; // 每页记录数
                                // 查询新数据
                                loadData();
                            }
                        }
                    })
                })
            },
            error: function (res) {
                alert(res);
            }
        })
    }
    function shenhe(did,gid,obj) {
        var travelStartTime=$(obj).prev().prev().val();
		var travelEndTime=$(obj).prev().val();
		$.ajax({
			url:"/sdglGroundConnection/dispatch/updatestateById",
			data:{did:did,gid:gid,travelStartTime:travelStartTime,travelEndTime:travelEndTime},
            dataType:"json",
			type:"get",
			success:function (result) {
				if(result.data==1){
					alert("审核成功！");
                    loadData(1);
				}else{
				    alert("网络异常！");
				}
            },
			error:function (err) {
				alert(err);
            }
		});
    }
</script>
</body>
</html>
