<!DOCTYPE html>
<html class="iframe-h">

	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>网站后台管理模版</title>
		<link rel="stylesheet" type="text/css" href="/admin/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="/admin/css/admin.css" />
	</head>

	<body>
		<div class="wrap-container clearfix">
				<div class="column-content-detail">
					<form class="layui-form" action="">
						<div class="layui-form-item">
							<div class="layui-inline tool-btn">
								<button class="layui-btn layui-btn-small layui-btn-normal addBtn"  id="save" type="button"><i class="layui-icon">&#xe654;</i></button>
							</div>
							<div class="layui-inline">
								<input type="text" name="title"  placeholder="请输入账号" autocomplete="off" class="layui-input" id="sousuo">
							</div>
							<button class="layui-btn layui-btn-normal"  onclick="loadData()" type="button">搜索</button>
						</div>
					</form>
					<div class="layui-form" id="table-list">
						<table class="layui-table" lay-even lay-skin="nob">
							<colgroup>
								<col width="50">
								<col class="hidden-xs" width="50">
								<col class="hidden-xs" width="100">
								<col>
								<col class="hidden-xs" width="150">
								<col class="hidden-xs" width="150">
								<col width="80">
								<col width="150">
							</colgroup>
							<thead>
								<tr>
									<th style="width: 30px;">编号</th>
									<th style="width: 45px;">开户行</th>
									<th style="width: 30px;">账号/卡号</th>
									<th style="width: 45px;">账户户名</th>
									<th style="width: 80px;">状态</th>
									<th style="width: 100px;">创建人</th>
									<th style="width: 80px;">修改人</th>
									<th style="width: 100px;">创建时间</th>
									<th style="width: 80px; font-size: small;">操作</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
							<div id="jxlfenye" style="margin-left: 400px">

							</div>
					</div>
				</div>
		</div>
	<!--	<script src="/js/layui.all.js" type="text/javascript" charset="utf-8"></script>-->
		<script src="/layui.js"></script>
		<script src="/js/jquery-1.8.2.min.js"></script>
	<script>


		$(function () {
			
        });

		
        var limitcount = 3; // 每页总记录数
        var curnum = 1;  // 当前页码
        $(function () {
            loadData();
            $(document).on("click","#save",function () {
                layer.open({
                    type: 2,
                    title: '账户',
                    maxmin: true,
                    shadeClose: true, //点击遮罩关闭层
                    area : ['800px' , '520px'],
                    content: 'menu-add.html'
                });
            })

        });

    function  accountTypeUpdate(accountTypeId) {
        $(document).on(
            layer.open({
                type: 2,
                title: '账户',
                maxmin: true,
                shadeClose: true, //点击遮罩关闭层
                area : ['800px' , '520px'],
                content: '/admins/menu-update.html?accountTypeId='+accountTypeId
            })
        )
    }

        /**
		 * 删除账户类型
         */
		 function  removeAccountType(accountTypeId) {
		     if (confirm("是否要删除")){
			 $.ajax({
				 url:"/AccountType/removeAccountType",
				 data:{accountTypeId:accountTypeId},
				 dataType:"json",
				 type:"get",
				 success:function (e) {
					 if (e!=null){
						 alert("删除成功");
                         loadData();
					 }
                 },
				 error:function () {
					 alert("删除失败");
                 }
			 })
		  }
         }
        function loadData() {
            var sousuo=$("#sousuo").val();
            var str = "";
            $.ajax({
                url: "/AccountType/showAllAccountType",
                data: {pageNo:curnum,pageSize:limitcount,accountNum:sousuo},
                dataType: "json",
                type: "get",
                success: function (e) {
                    var zhuangtai ="";
                    $(e.data).each(function (i, result) {
                        if (result.status==1){
                            zhuangtai="个人";
                        }else{
                            zhuangtai="企业";
                        }
                        str += "<tr><td>" + result.accountTypeId + "</td><td>" + result.bank + "</td>" +
                            "<td>" + result.accountNum + "</td><td>" + result.accountName + "</td><td>" + zhuangtai + "</td><td>" + result.founder + "</td><td>" + result.modifier + "</td><td>" + result.createDate + "</td><td>\n" +
                            "<div class=\"layui-inline\">\n" +
                            "<button class=\"layui-btn layui-btn-mini layui-btn-normal  edit-btn\" data-id=\"1\"  onclick='accountTypeUpdate("+result.accountTypeId+")' id='save2'><i class=\"layui-icon\">&#xe642;</i></button>\n" +
                            "<button class=\"layui-btn layui-btn-mini layui-btn-danger del-btn\" data-id=\"1\" onclick='removeAccountType("+result.accountTypeId+")'><i class=\"layui-icon\">&#xe640;</i></button>\n" +
                            "</div>\n" +
                            "</td></tr>";
                    })
                    $('tbody').html(str);

                    // 分页插件
                    layui.use('table', function () {
                        var laypage = layui.laypage;
                        laypage.render({
                            elem: 'jxlfenye'
                            , count: e.count
                            , curr: curnum
                            , limit: 2
                            , layout: ['prev', 'page', 'next', 'count']
                            , jump: function (obj, first) {
                                if (!first) {
                                    //obj包含了当前分页的所有参数，比如：
                                    curnum = obj.curr; // 当前页面
                                    limitcount = obj.limit; // 每页记录数
                                    // 查询新数据
                                    loadData();
                                }
                            }
                        })
                    })
                },
                error: function (res) {
                    alert(res);
                }
            })
        }
	</script>
	</body>
</html>