<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>日志查询</title>
	<link rel="stylesheet" media="all" th:href="@{/css/layui.css}">
</head>
<body>
	<div class="wrap-container clearfix">
		<div class="column-content-detail">
			<form class="layui-form" action="">
				<div class="layui-form-item">
					<div class="layui-inline tool-btn">
					</div>
					<div class="layui-inline">
						<input type="text" name="title"  placeholder="请输入操作人账户" autocomplete="off" class="layui-input">
					</div>

					<div class="layui-inline">
						<span>请输入操作时间</span>
					</div>

					<div class="layui-inline">
						<input type="date" name="createDate" autocomplete="off" class="layui-input">
					</div>
					<button type="button" class="layui-btn layui-btn-normal" onclick="loadData(1)">搜索</button>
				</div>
			</form>
			<div class="layui-form" id="table-list">
				<table class="layui-table" lay-even lay-skin="nob">
					<thead>
					<tr>
						<th style="width: 30px;">序号</th>
						<th style="width: 45px;">操作类型</th>
						<th style="width: 30px;">操作内容</th>
						<th style="width: 45px;">操作人</th>
						<th style="width: 80px;">操作时间</th>
						<th style="width: 80px;">操作</th>
					</tr>
					</thead>
					<tbody>

					</tbody>
				</table>
			</div>
		</div>
		<div id="laypage" style="text-align: center"></div>
	</div>
</body>
<script th:src="@{/js/jquery-1.8.2.min.js}"></script>
<script th:src="@{/layui.js}"></script>

<script>
    var limitcount = 2; // 每页总记录数
    var curnum = 1;  // 当前页码
    $(function(){
        loadData(0);
    });
    function loadData(refresh) {
        //判断是搜索还是点击页数的回调 如果是搜索默认显示第一页
        if(refresh==1){
            curnum=1;
		}
        var str = "";
        var theUserName=$("input[name=title]").val();
        var createDate=$("input[name=createDate]").val();
        $.ajax({
            url: "/sdglGroundConnection/Operationlog/listOperationlog",
            data: {page:curnum,limit:limitcount,theUserName:theUserName,createDate:createDate},
            dataType: "json",
            type: "get",
            success: function (e) {
                // 分页插件
                layui.use('table', function () {
                    var laypage = layui.laypage;
                    laypage.render({
                        elem: 'laypage'
                        , count: e.count
                        , curr: curnum
                        , limit: 2
                        , layout: ['prev', 'page', 'next', 'skip', 'count']
                        , jump: function (obj, first) {
                            if (!first) {
                                //obj包含了当前分页的所有参数，比如：
                                curnum = obj.curr; // 当前页面
                                // 查询新数据
                                loadData(0);
                            }
                        }
                    })
                })
				var xu=(curnum-1)*limitcount+1;
                $(e.data).each(function (i, result) {
                    str+="<tr><td>"+xu+"</td><td>"+result.operationType+"</td><td>"+result.operationContent+"</td><td>"+result.staff.theUserName+"</td><td>"+result.createDate+"</td><td><div class=\"layui-inline\">\n" +
                        "<button type='button'  class=\"layui-btn layui-btn-mini layui-btn-danger del-btn\" onclick='removeinfo("+result.operationLogId+")'  data-id=\"1\" ><i class=\"layui-icon\">&#xe640;</i></button>\n" +
                        "</div></td></tr>";
                    xu++;
                })
                $('tbody').html(str);
            },
            error: function (res) {
                alert(res);
            }
        })
    }
    function removeinfo(id) {
		if(confirm("确认删除吗？")){
			$.ajax({
				url:"/sdglGroundConnection/Operationlog/removeOperationlog",
				data:{id:id},
				dataType:"json",
				type:"get",
				success:function (result) {
					alert(result.msg);
					if(result.code==0){
                        loadData(1);
					}
                },
				error:function (err) {
					alert(err);
                }
			});
		}
    }
</script>
</html>