<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>网站后台管理模版</title>
		<link rel="stylesheet" type="text/css" href="/admin/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="/admin/css/admin.css" />
	</head>
	<body>
		<div class="wrap-container">
			<form class="layui-form" style="width: 90%;padding-top: 20px;" id="jxlshuai">
					<div class="layui-form-item">
						<label class="layui-form-label">证件号：</label>
						<div class="layui-input-block">
							<input type="text" name="certificate" required lay-verify="required" placeholder="请输入用证件号" autocomplete="off" class="layui-input">
						</div>
					</div>
				<div class="layui-form-item">
					<label class="layui-form-label">导游姓名：</label>
					<div class="layui-input-block">
						<input type="text" name="guideName" required lay-verify="required" placeholder="请输入导游姓名" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">用户名：</label>
					<div class="layui-input-block">
						<input type="text" name="username" required lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">密码：</label>
					<div class="layui-input-block">
						<input type="text" name="pas" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
						<input type="hidden" name="password" required lay-verify="required"  autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">联系电话：</label>
					<div class="layui-input-block">
						<input type="text" name="telephone" required lay-verify="required" placeholder="请输入联系电话" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">年龄：</label>
					<div class="layui-input-block">
						<input type="text" name="age" required lay-verify="required" placeholder="请输入年龄" autocomplete="off" class="layui-input">
					</div>
				</div>
					<div class="layui-form-item">
						<label class="layui-form-label">性别：</label>
						<div class="layui-input-block">
							<select name="sex" lay-verify="" id="leixing">
								<option value="0">女</option>
								<option value="1">男</option>
							</select>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-input-block">
							<button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo" onclick="panduan()">立即提交</button>
							<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					</div>
				</form>
		</div>
		<script src="/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="/layui.js"></script>
		<script src="/js/jquery-1.8.2.min.js"></script>
		<script src="/js/md5.js"></script>
		<script>
            /**
			 * 判断导游是否有重复证件号
             */
			function panduan() {
                var certificate=$("input[name='certificate']").val().trim();
				 $.ajax({
					 url:"/Guide/pdcertificate",
					 async:false,
					 data:{certificate:certificate},
					 dataType:"json",
					 type:"POST",
					 success:function (e) {
						 if (e.data!=null){
						     alert("该证件号已重复，请重新填写！");
							 return;
						 } else{
                             save();
						 }
                     },
					 error:function () {
						 alert("系统出错");
                     }
				 })
            }
			
            //新增账户信息
            function save() {
                var certificate=$("input[name='certificate']").val().trim();
                var guideName=$("input[name='guideName']").val().trim();
                var username=$("input[name='username']").val().trim();
                var pas=$("input[name='pas']").val().trim();
                var telephone=$("input[name='telephone']").val().trim();
                var age=$("input[name='age']").val().trim();
                var sex=$("#leixing").find("option:selected").val().trim();
                if (certificate=="" || certificate==null ||certificate==undefined){
                    return;
                } else if (guideName=="" || guideName==null||guideName==undefined){
                    return;
                } else if (""==username || null==username||username==undefined){y
                    return;
                } else if (""==pas || null==pas || pas==undefined){
                    return;
                }else if (""==telephone || null==telephone || telephone==undefined){
                    return;
                }else if (""==age || null==age || age==undefined){
                    return;
                }else if (""==sex || null==sex || sex==undefined){
                    return;
                }else if(telephone.length>11 || telephone.length<10){
                    alert("请输入11位电话号码!");
 					return;
				} else{
                var guide=$("#jxlshuai").serialize();
                $.ajax({
                    url: "/Guide/guideSave",
                    async:false,
                    data: guide,
                    dataType: "json",
                    type: "get",
                    success: function (data) {
                        parent.location.reload();
                        var index=parent.layer.getFrameIndex(window.name);
                        if (data!=null){
                            alert("新增保存成功！");
                            parent.layer.close(index);
                        }else {
                            alert("新增失败");
                        }
                    },
                    error: function () {
                        alert("错误！");
                    }
                })
            }
        }
         $(function () {
             $("input[name='pas']").blur(function () {
                 var pas=$("input[name='pas']").val();
                 pas=hex_md5(pas);
                 $("input[name='password']").val(pas);
             })
             $.ajax({
                 url: "/Staff/showAllstaff",
                 data: {},
                 dataType: "json",
                 type: "get",
                 success: function (data) {
   					var content= "<option value=\"000\">请选择职务</option>";
                         $.each(data.data,function (i,e) {
                             content+= "<option value="+e.staffId+">"+e.staffname+"</option>"
                         })
					 $("#selectStaff").html(content);
                     $("#selectStaff2").html(content);
                 },
                 error: function () {
                     alert("错误！");
                 }
             })
         })

			//Demo
            layui.use(['form', 'layedit', 'laydate', 'element'], function () {
                var form = layui.form,
                    layer = layui.layer,
                    layedit = layui.layedit,
                    element = layui.element,
                    laydate = layui.laydate;
                   laydate.render({
                    elem: '#vvv'
                   });
                element.render();
                form.render('select', 'test1');
				form.render();
				//监听提交
				form.on('submit(formDemo)', function(data) {
					return false;
				});
			});
		</script>
	</body>

</html>