

<!DOCTYPE html>
<html class="iframe-h">

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>网站后台管理模版</title>
    <link rel="stylesheet" href="/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="/admin/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="/admin/css/admin.css" />
    <style>
        #showstaffInfo tr {
            /*        height: 70px;*/
        }
        #showstaffInfo tr  td{
            text-align: center;
        }
        #staffHead th{
            text-align: center;
        }
    </style>

</head>

<body>
<div class="wrap-container clearfix" style="height: 600px">
    <div class="column-content-detail">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <div class="layui-inline tool-btn">
                    <button class="layui-btn layui-btn-small layui-btn-normal addBtn" id="ooo" type="button"><i class="layui-icon">&#xe654;</i></button>
                </div>
                <div class="layui-inline">
                    <input type="text" name="staffname" placeholder="请输入姓名关键字" id="staffName" autocomplete="off" class="layui-input">
                </div>
                <input class="layui-btn layui-btn-normal" type="button" value="搜索" onclick="loadData(1)"/>
            </div>
        </form>
        <div class="layui-form" id="table-list">
            <table class="layui-table" lay-even lay-skin="nob">
                <thead>
                <tr id="staffHead">
                    <td >序号</td>
                    <td >姓名</td>
                    <td >性别</td>
                    <td >用户名</td>
                    <td >身份证号</td>
                    <td >QQ</td>
                    <td>头像路径</td>
                    <td >现住址</td>
                    <td>联系电话</td>
                    <td >操作</td>
                </tr>
                </thead>
                <tbody id="one">
                </tbody>
            </table>
            <ul id="laypage" style="text-align: center"></ul>
        </div>
    </div>
</div>

<script src="/layui.js"></script>
<script src="/js/jquery-1.8.2.min.js"></script>
<script>


    $(document).on("click","#ooo",function () {
        layer.open({
            type: 2,
            title: '人员信息',
            maxmin: true,
            shadeClose: true, //点击遮罩关闭层
            area : ['800px' , '520px'],
            content: '/admins/staff-add.html'
        });
    })
    function gettiao(staffId){
        $(document).on(
            layer.open({
                type: 2,
                title: '账户',
                maxmin: true,
                shadeClose: true, //点击遮罩关闭层
                area : ['800px' , '520px'],
                content: '/admins/staff-upd.html?staffId='+staffId
            })
        )
    }

    var limitcount = 2; // 每页总记录数
    var curnum = 1;  // 当前页码

    loadData();

    function loadData(j) {
        if(j==1){
            curnum =1;
        }
        var haha=$("#staffName").val();
        var str = "";
        $.ajax({
            url: "/Staff/showstaffLike.html",
            data: {page:curnum,limit:limitcount,staffname:haha},
            dataType: "json",
            type: "get",
            success: function (e) {
                var xu=(curnum-1)*limitcount+1;
                var sex="";
                $(e.data).each(function (i, result) {
                    if(result.sex==0){
                        sex="男";
                    }else{
                        sex="女";
                    }
                    str += "<tr>" +
                        "<td>" + xu + "</td>" +
                        "<td>" + result.staffname + "</td>" +
                        "<td>" + sex+ "</td>" +
                        "<td>" + result.theUserName + "</td>" +
                        "<td>" + result.cardId + "</td>" +
                        "<td>" + result.qqnumber + "</td>" +
                        "<td>" + result.headPortraitPath + "</td>" +
                        "<td>" + result.currentAddress + "</td>" +
                        "<td>" + result.phone + "</td>" +
                        "<td><button  onclick='gettiao("+result.staffId+")' class='layui-btn layui-btn-small layui-btn-normal  edit-btn\' data-id='1'><i class='layui-icon'>&#xe642;</i></button>&nbsp;&nbsp;"+
                        "<button  onclick='getupd("+result.staffId+")' class='layui-btn layui-btn-small layui-btn-danger del-btn'><i class='layui-icon'>&#xe640;</i></button></td>"+
                        "</tr>";
                    xu++;
                })
                $('#one').html(str);

                // 分页插件
                layui.use('table', function () {
                    var laypage = layui.laypage;
                    laypage.render({
                        elem: 'laypage'
                        , count: e.count
                        , curr: curnum
                        , limit: 2
                        , layout: ['prev', 'page', 'next', 'skip', 'count']
                        , jump: function (obj, first) {
                            if (!first) {
                                //obj包含了当前分页的所有参数，比如：
                                curnum = obj.curr; // 当前页面
                                limitcount = obj.limit; // 每页记录数
                                // 查询新数据
                                loadData();
                            }
                        }
                    })
                })
            },
            error: function (res) {
                alert(res);
            }
        })
    }


    function getupd(staffId) {
        if (confirm("确定删除吗?")) {
            $.ajax({
                url:"/Staff/StaffUpd.html",
                data:{"staffId":staffId},
                type:"get",
                dataType:"json",
                success:function (data) {
                    if(data.data==1){
                        alert("删除成功")
                        loadData()
                    }else{
                        alert("删除失败")
                    }
                }
            })
        }
    }
</script>
</body>
</html>