
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>ajax & LayUI分页插件</title>
	<link rel="stylesheet" href="/css/layui.css" media="all">
	<link rel="stylesheet" type="text/css" th:href="@{/admin/layui/css/layui.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/admin/css/admin.css}" />
</head>
<body>
<div class="page-content-wrap">
	<form class="layui-form" action="">
		<div class="layui-form-item">
			<div class="layui-inline tool-btn">
				<button class="layui-btn layui-btn-small layui-btn-normal addBtn hidden-xs" id="ooo" type="button"><i class="layui-icon">&#xe654;</i></button>
			</div>
			<div class="layui-inline">
				<input type="text" name="travelName"placeholder="请输入旅行社名称" autocomplete="off" class="layui-input" id="one">
			</div>
			<input class="layui-btn layui-btn-normal" onclick="loadData(1)" value="搜索" style="width:70px"></input>
		</div>
	</form>
	<div class="layui-form" id="table-list" >
		<table class="layui-table" lay-skin="line">
			<colgroup>
				<col width="50">
				<col class="hidden-xs" width="50">
				<col class="hidden-xs" width="100">
				<col class="hidden-xs" width="100">
				<col>
				<col width="80">
				<col width="130">
			</colgroup>
			<thead>
			<tr>
				<th style="width: 80px;">编号</th>
				<th style="width: 100px;">旅行社名称</th>
				<th style="width: 80px;">负责人名字</th>
				<th style="width: 80px;">负责人职位</th>
				<th style="width: 120px;">联系电话</th>
				<th style="width: 200px;">操作</th>
			</tr>
			</thead>
			<tbody style="width:100%">
			</tbody>

		</table>
		<ul id="laypage" style="width:100%;text-align: center"></ul>
	</div>
</div>
<script th:src="@{/js/jquery-1.8.2.min.js}"></script>
<script th:src="@{/layui.js}"></script>
<script>
    layui.use(['jquery'], function() {
        var $=layui.jquery;.
        //修改状态
        $('#table-list').on('click', '.table-list-status', function() {
            var That = $(this);
            var status = That.attr('data-status');
            var id = That.parent().attr('data-id');
            if(status == 1) {
                That.removeClass('layui-btn-normal').addClass('layui-btn-warm').html('隐藏').attr('data-status', 2);
            } else if(status == 2) {
                That.removeClass('layui-btn-warm').addClass('layui-btn-normal').html('显示').attr('data-status', 1);

            }
        })
        //栏目展示隐藏
        $('.showSubBtn').on('click', function() {
            var _this = $(this);
            var id = _this.attr('data-id');
            var parent = _this.parents('.parent');
            var child = $('.child-node-' + id);
            var childAll = $('tr[parentid=' + id + ']');
            if(parent.hasClass('collapsed')) {
                _this.html('-');
                parent.addClass('expanded').removeClass('collapsed');
                child.css('display', '');
            } else {
                _this.html('+');
                parent.addClass('collapsed').removeClass('expanded');
                child.css('display', 'none');
                childAll.addClass('collapsed').removeClass('expanded').css('display', 'none');
                childAll.find('.showSubBtn').html('+');
            }

        })
    });

    $(document).on("click","#ooo",function () {
        layer.open({
            type: 2,
            title: '旅行社',
            maxmin: true,
            shadeClose: true, //点击遮罩关闭层
            area : ['800px' , '520px'],
            content: '/sdglGroundConnection/travel_add.html'

        });
    })

    function  traveTypeUpdate(travelId) {
        $(document).on(
            layer.open({
                type: 2,
                title: '账户',
                maxmin: true,
                shadeClose: true, //点击遮罩关闭层
                area : ['800px' , '520px'],
                content: '/sdglGroundConnection/admins/travel_upd.html?travelId='+travelId

            })
        )
    }

    var limitcount = 2; // 每页总记录数
    var curnum = 1;  // 当前页码

    loadData();

    function loadData(j) {
        if(j==1){
            curnum =1;
        }
        var haha=$("#one").val();
        var str = "";
        $.ajax({
            url: "/sdglGroundConnection/Travel/showtravellike.html",
            data: {page:curnum,limit:limitcount,travelName:haha},
            dataType: "json",
            type: "get",
            success: function (e) {
                var xu=(curnum-1)*limitcount+1;
                $(e.data).each(function (i, result) {
                    str += "<tr><td>" +xu+
                        "</td><td>" + result.travelName +
                        "</td>" +
                        "<td>" + result.personName + "</td><td>" + result.personPost + "</td><td>" + result.phone+ "</td>" +
                        "<td><div class='layui-inline'>" +
                        "<button onclick='traveTypeUpdate("+result.travelId+")' class='layui-btn layui-btn-small layui-btn-normal  edit-btn\' data-id=\'=1\'><i class='layui-icon'>&#xe642;</i></button>&nbsp;&nbsp;"+
                        "<button  onclick='getDel("+result.travelId+")' class='layui-btn layui-btn-small layui-btn-danger del-btn\'><i class=\'layui-icon\'>&#xe640;</i></button></div>&nbsp;&nbsp;" +
						"</td>"+

                        "</tr>";
                    xu++;
                })
                $('tbody').html(str);
                // 分页插件
                layui.use('table', function () {
                    var laypage = layui.laypage;+
                        laypage.render({
                            elem: 'laypage'
                            , count: e.count
                            , curr: curnum
                            , limit: 2
                            , layout: ['prev', 'page', 'next', 'skip', 'count']
                            , jump: function (obj, first) {
                                if (!first) {
                                    //obj包含了当前分页的所有参数，比如：
                                    curnum = obj.curr; // 当前页面
                                    limitcount = obj.limit; // 每页记录数
                                    // 查询新数据
                                    loadData();
                                }
                            }
                        })
                })
            },
            error: function (res) {
                alert(res);
            }
        })
    }
    function getDel(travelId) {
        if (confirm("确定删除吗?")) {
            $.ajax({
                url:"/sdglGroundConnection/Travel/showTravelupdlala.html",
                data:{"travelId":travelId},
                type:"get",
                dataType:"json",
                success:function (data) {
                    if (data.data == 1){
                        alert("删除成功")
                        loadData()
                    }else{
                        alert("删除失败")
                    }
                }
            })

        }
    }



</script>

</body>
</html>
