<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>山西世达国旅订房通知单</title>
<style>
	table{ width:100%}
</style>
</head>

<body>
	
	<div style="width:60%; margin:0 auto">
		<div id="tupian">
				<img src="/images/logo.jpg" width="640px" height="50px">
		</div>
    	<h2 style="text-align:center">山西世达国旅订房通知单</h2>
    	<table>
        	<tr>
            	<td style="width:10%">部门：</td>
                <td style="width:30%">计调部</td>
                <td style="width:10%">导游：</td>
                <td style="width:30%"></td>
                <td style="width:20%">2018年3月20日</td>
            </tr>
         </table>
         <table border="1" cellspacing="0" cellpadding="0">
         	<tr>
            	<td style="width:15%; text-align:center">团&nbsp;&nbsp;&nbsp;名</td>
                <td style="width:35%">STS-RJ-20180415JD</td>
                <td style="width:15%; text-align:center">客源地</td>
                <td style="width:35%">台湾</td>
            </tr>
         </table>
         <table border="1" cellspacing="0" cellpadding="0">
         	<tr>
            	<td style="width:15%; text-align:center">人&nbsp;&nbsp;&nbsp;数</td>
                <td style="width:10%">19人</td>
                <td style="width:20%">全陪/领队</td>
                <td style="width:20%">1人</td>
                <td style="width:15%; text-align:center">地陪司机</td>
                <td style="width:20%">2人</td>
            </tr>
         </table>
         <table border="1" cellspacing="0" cellpadding="0">
         	<tr>
            	<td style="width:25%">用房时间</td>
                <td style="width:25%; text-align:center">宾馆名称</td>
                <td style="width:50%; text-align:center">团队用房</td>
            </tr>
            <tr>
            	<td>415-4.16</td>
                <td>锦江都城酒店</td>
                <td>10标</td>
            </tr>
            <tr>
            	<td>416-4.17</td>
                <td>浩海国际酒店</td>
                <td>10标+2司陪</td>
            </tr>
            <tr>
            	<td>417-4.18</td>
                <td>宏源国际酒店</td>
                <td>10标+2司陪</td>
            </tr>
         </table>
         <table border="1" cellspacing="0" cellpadding="0">
         	<tr>
            	<td style="width:25%; text-align:center">备 注</td>
                <td style="width:75%">
                	1、请安排无烟房或做无烟处理<br/>
                    2、请安排高层、相同或相近楼层、相近房间<br/>
                    3、收到请<strong style="font-size:24px">签字并盖章</strong>回传确认<br/>
                </td>
            </tr>
         </table>
         <table border="1" cellspacing="0" cellpadding="0">
         	<tr>
            	<td style="width:25%">确认酒店名称</td>
                <td style="width:35%"></td>
                <td style="width:22%; text-align:center">酒店确认人</td>
                <td style="width:18%"></td>
            </tr>
         </table>
         <table>
         	<tr>
            	<td style="width:8%">团控:</td>
                <td style="width:30%">崔俊娜 18603416895</td>
                <td style="width:8%">TEL：</td>
                <td style="width:26%">0351-7896890</td>
                <td style="width:8%">FAX：</td>
                <td style="width:20%">0351-7925068</td>
            </tr>
         </table>
    </div>
</body>
</html>
