<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
</head>

<body>
<div style="width:55%; margin:0 auto">
	  <div id="tupian" style="width: 800px;">
                <img src="/images/logo.jpg" width="640px" height="50px">
           </div>
<p align="right">-2-</p>
<p style="text-height:40px; height:40px;">司机用于过停费的现金，司机应将实际发生费用的单据，与导游结算;不得以丢失过期票等其它票顶替过停费，否则，在结算车费时扣除。如遇行程中路线有修路路段政策限行等特殊状况 乙方应及早通知
乙方，双方协商解决。</p>
<p style="text-height:25px; height:25px; text-indent:1.5em">9.短线要求乙方台车安排名司机，未经甲方同意多带同机，产生的费用乙方自理，责任自负，长线
或特殊情况需安排两名司机，双方将以书面形式约定。</p>
<p style="text-height:25px; height:25px; text-indent:1.5em">10在按待甲方团队过程中，若乙方车辆发生交通事故或意外，造成甲方团队人员及财产损失全部由乙方</p>
<p style="text-height:25px; height:25px; text-indent:1.5em">11、因乙方车辆中途故障等原因造成甲方团队行程不能按时顺利完成，乙方需调派相同车型车辆继续为甲
方团队提供服务，并且由此原因造成的损失由乙方承担。</p>
<p style="text-height:25px; height:25px; text-indent:1.5em">12、乙方确保甲方车辆座位上安全带全部可以有效使用，请司机接团前送团后仔细检查，如有损坏请及时修理，确保甲方团队可以正常有效使用。</p>
<p style="text-height:25px; height:25px; text-indent:1.5em">13、在行程中或通雨雪等天气甲方导游有责任提醒乙方同机不可以疲劳驾驶，不可以超速开快车，乙方司机罱予以配合，双方相互合作确保团队安全顺利。</p>
<h4 style="text-height:8px; height:8px;">第六条、运输费用和支付方式</h4>
<p style="text-height:8px; height:8px; text-indent:1.5em">1、双方约定车辆运费标准为:<strong style="text-decoration:underline">700</strong> 元天*<strong style="text-decoration:underline">7天</strong>，共计: <strong style="text-decoration:underline">4900元</strong>(<strong style="text-decoration:underline">肆仟玖佰元整</strong>)。</p>
<p style="text-height:25px; height:25px; text-indent:1.5em">2、支付方式:甲方在合同成立后，给乙方司机带油费<strong style="text-decoration:underline">2450</strong> 元(<strong style="text-decoration:underline">赋任肆佰伍拾元整</strong>)， 在本次行程结束后，乙方做到安全无事故并未被投诉，甲方应在<strong style="text-decoration:underline">次月20日持全部发票</strong>与甲方结算剩余车款。</p>
  <p style="text-height:40px; height:40px; text-indent:3em">如双方有固定长期客运服务关系，乙方凭派车单、正规发票到甲方财务部结账。如无派车单、发票，甲方财务有权拒绝付款。甲方财务保证一一个月内正常车费结算， 如有特殊原因双方协商解决，但时间不得超过十五天。</p>
<h4 style="text-height:8px; height:8px;">第七条、承运期限和起始地点</h4>
<p style="text-height:25px; height:25px; text-indent:1.5em">本合同约定的承运期限为<strong style="text-decoration:underline">8</strong>天。团号: <strong style="text-decoration:underline">STS-RJ-20180415D</strong> 人数: <strong style="text-decoration:underline">9+3人，</strong>客源地:_<strong style="text-decoration:underline">台湾</strong>。接团时间及地点: <strong style="text-decoration:underline">4月15日，15:40，太原机场</strong>:送团时间及地点: <strong style="text-decoration:underline">4月22日18:25 太原机场</strong>。</p>
<h4 style="text-height:8px; height:8px;">第八条、违约责任</h4>
<p style="text-height:25px; height:25px; text-indent:1.5em">双方必须全面履行合同约定，不得违约。如因一方违约给对方造成损失的，违约方应赔偿对方实际损失，
并根据情况向对方支付违约金。</p>
<p style="text-height:8px; height:8px; text-indent:1.5em">违约金的标准为:</p>
<p style="text-height:8px; height:8px; text-indent:1.5em">1、因甲方违约造成乙方损失的，违约金为向乙方支付的定金数额或支付违约金号:<strong style="text-decoration:underline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>元</p>
<p style="text-height:8px; height:8px; text-indent:1.5em">2、因乙方违约造成甲方损失的，乙方向甲方双倍返还定金或支付违约金<strong style="text-decoration:underline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>元。</p>
<h4 style="text-height:8px; height:8px;">第九条、合同的生效</h4>
  <p style="text-height:8px; height:8px; text-indent:1.5em">本合同一式二份，双方各持一份。自双方签字或盖章之日起生效。</p><p style="text-height:8px; height:8px; text-indent:1.5em">本合同有效期为<span style="text-decoration:underline">8</span>天，自<strong style="text-decoration:underline">4月15日</strong>起，至<strong style="text-decoration:underline">4月22日</strong>止。</p>
  <h4 style="text-height:8px; height:8px;">第十条、其他约定</h4>
  <hr/>
<p><p style="float:left">甲方(盖章):<strong style="text-decoration:underline">山西世达内家旅行社有限公司</strong></p>  <p style="float:right">乙方(盖章):<strong style="text-decoration:underline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></p></p>

<p><p style="float:left">签&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;字:<strong style="text-decoration:underline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></p>  <p style="float:right">签&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;字:<strong style="text-decoration:underline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></p></p>
<p align="right" style="clear:both">合同订立日期:<strong style="text-decoration:underline">2018</strong>年<strong style="text-decoration:underline">4</strong>月<strong style="text-decoration:underline">11</strong>日</p>
<p align="right" style="clear:both">-2-</p>
</div>
</body>
</html>
