<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>打印页面</title>
<style>
	table{ width:100%}
</style>
</head>

<body>

	<div style="width:60%; margin:0 auto">
                    <div id="tupian">
                <img src="/images/logo.jpg" width="640px" height="50px">
        </div>
    	<h2 style="text-align:center"><span style="text-decoration:underline">STS-RJ-2018-04-15JD</span>确认书(0326件)</h2>
        <table border="1" cellspacing="0" cellpadding="0">

        	<tr>
                <td>收件单位及收件人</td>
                <td>西美 赖建章 经理</td>
                <td>发件单位及发件人</td>
                <td>山西世达国旅 崔俊娜</td>
            </tr>
        </table>
        <table border="1" cellspacing="0" cellpadding="0">
        	<tr>
            	<td style="width:15%">紧急联络</td>
                <td style="width:35%"></td>
                <td style="width:15%">紧急联络</td>
                <td style="width:35%">15235433422</td>
            </tr>
        </table>
        <table border="1" cellspacing="0" cellpadding="0">
        	<tr>
            	<td style="width:13%">人数</td>
                <td style="width:12%">19+1T/L</td>
                <td style="width:10%">客源地</td>
                <td style="width:20%">台湾</td>
                <td style="width:15%">旅行日期</td>
                <td style="width:30%">2018年4.15-4.22</td>
            </tr>
        </table>
        <table border="1" cellspacing="0" cellpadding="0">
        	<tr>
            	<td style="width:5%; text-align:center">天数</td>
                <td style="width:12%; text-align:center">离/抵</td>
                <td style="width:52%; text-align:center">行程内容</td>
                <td style="width:15%; text-align:center">餐食</td>
                <td style="width:15%; text-align:center">住宿</td>
            </tr>
            <tr>
            	<td>4.15</td>
                <td>台北-太原</td>
                <td>下午接待，【柳巷商业街】，晚餐，入住酒店</td>
                <td>D 中式合菜 50</td>
                <td>黄河京都大酒店<br/>
                	0350-6545558
                </td>
            </tr>
           <tr>
            	<td>4.16</td>
                <td>太原-雁门关-大同</td>
                <td>【雁门关+电瓶车】、【演习木塔】（外观）、【九龙壁】</td>
                <td>
                	B 酒店自助<br/>
                	L 中式合菜 50<br/>
                    D 涮羊肉  50<br/>
                </td>
                <td>时空酒店<br/>
                	0350-6545668
                </td>
            </tr>
            <tr>
            	<td>4.17</td>
                <td>太原-雁门关-大同</td>
                <td>【雁门关+电瓶车】、【演习木塔】（外观）、【九龙壁】</td>
                <td>
                	B 酒店自助<br/>
                	L 中式合菜 50<br/>
                    D 涮羊肉  50<br/>
                </td>
                <td>时空酒店<br/>
                	0350-6545668
                </td>
            </tr>
            <tr>
            	<td>4.18</td>
                <td>太原-雁门关-大同</td>
                <td>【雁门关+电瓶车】、【演习木塔】（外观）、【九龙壁】</td>
                <td>
                	B 酒店自助<br/>
                	L 中式合菜 50<br/>
                    D 涮羊肉  50<br/>
                </td>
                <td>时空酒店<br/>
                	0350-6545668
                </td>
            </tr>
        </table>
        <table border="1" cellspacing="0" cellpadding="0">
        	<tr>
            	<td style="width:5%; text-align:center">接<br/><br/>待<br/><br/>标<br/><br/>准</td>
                <td>
                	1、用房：<br/>
                    2、用餐：<br/>
                    3、交通：<br/>
                    4、门票：<br/>
                    5、导游：<br/>
                    6、贴心药包：<br/>
                    7、组团社确保客人拿到的确认书一致，感谢配合<br/>
                    8、报价不含人身意外伤害险、行李小费、个人消费及司陪小费<br/>
                    9、接站牌：____________<br/>
                    10、领队无领队登记请门票自理：<br/>
                </td>
            </tr>
            <tr>
            	<td>不含</td>
                <td>往返机票及税、旅游人身意外伤害险、酒店行李生小费</td>
            </tr>
            <tr>
            	<td>S/P</td>
                <td>NO SP，可自费（允许车载：山西土特产、大红枣、核桃、小米）</td>
            </tr>
        </table>
        <table style="width:100%">
        	<tr>
            	<td style="width:50%; height:100px;" valign="top">组团社盖章：</td>
                <td style="width:50%" valign="top">地接社盖章：</td>
            </tr>
        </table>
        <p style="text-align:right">2018年3月26日</p>
    </div>
</body>
</html>
