<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>打印页面</title>
    <link rel="stylesheet" type="text/css" th:href="@{/admin/layui/css/layui.css}"/>
<style id="yangshi">
	table{ width:100%}
</style>
</head>

<body>

	<div style="width:60%; margin:0 auto" id="form1">
                    <div id="tupian">
                <img src="/sdglGroundConnection/images/logo.jpg" width="640px" height="50px">
        </div>
    	<h2 style="text-align:center"><span style="text-decoration:underline" id="zutuanName">STS-RJ-2018-04-15JD</span>确认书(0326件)</h2>
        <table border="1" cellspacing="0" cellpadding="0">

        	<tr>
                <td>收件单位及收件人</td>
                <td id="shouren"></td>
                <td>发件单位及发件人</td>
                <td>山西世达国旅 崔俊娜</td>
            </tr>
        </table>
        <table border="1" cellspacing="0" cellpadding="0">
        	<tr>
            	<td style="width:15%">紧急联络</td>
                <td style="width:35%" id="jinji1"></td>
                <td style="width:15%">紧急联络</td>
                <td style="width:35%">15235433422</td>
            </tr>
        </table>
        <table border="1" cellspacing="0" cellpadding="0">
        	<tr>
            	<td style="width:13%">人数</td>
                <td style="width:12%" id="number"></td>
                <td style="width:10%">客源地</td>
                <td style="width:20%" id="keyuan"></td>
                <td style="width:15%">旅行日期</td>
                <td style="width:30%" id="luxingDate"></td>
            </tr>
        </table>
        <table border="1" cellspacing="0" cellpadding="0">
        	<tr>
            	<td style="width:10%; text-align:center">天数</td>
                <td style="width:12%; text-align:center">离/抵</td>
                <td style="width:47%; text-align:center">行程内容</td>
                <td style="width:15%; text-align:center">餐食</td>
                <td style="width:15%; text-align:center">住宿</td>
            </tr>
            <tbody id="tb">

            </tbody>
           <!--
           <tr>
            	<td>4.16</td>
                <td>太原-雁门关-大同</td>
                <td>【雁门关+电瓶车】、【演习木塔】（外观）、【九龙壁】</td>
                <td>
                	B 酒店自助<br/>
                	L 中式合菜 50<br/>
                    D 涮羊肉  50<br/>
                </td>
                <td>时空酒店<br/>
                	0350-6545668
                </td>
            </tr>
            <tr>
            	<td>4.17</td>
                <td>太原-雁门关-大同</td>
                <td>【雁门关+电瓶车】、【演习木塔】（外观）、【九龙壁】</td>
                <td>
                	B 酒店自助<br/>
                	L 中式合菜 50<br/>
                    D 涮羊肉  50<br/>
                </td>
                <td>时空酒店<br/>
                	0350-6545668
                </td>
            </tr>
            <tr>
            	<td>4.18</td>
                <td>太原-雁门关-大同</td>
                <td>【雁门关+电瓶车】、【演习木塔】（外观）、【九龙壁】</td>
                <td>
                	B 酒店自助<br/>
                	L 中式合菜 50<br/>
                    D 涮羊肉  50<br/>
                </td>
                <td>时空酒店<br/>
                	0350-6545668
                </td>
            </tr>-->
        </table>
        <table border="1" cellspacing="0" cellpadding="0">
        	<tr>
            	<td style="width:5%; text-align:center">接<br/><br/>待<br/><br/>标<br/><br/>准</td>
                <td id="jiedai">
                	1、用房：<br/>
                    2、用餐：<br/>
                    3、交通：<br/>
                    4、门票：<br/>
                    5、导游：<br/>
                    6、贴心药包：<br/>
                    7、组团社确保客人拿到的确认书一致，感谢配合<br/>
                    8、报价不含人身意外伤害险、行李小费、个人消费及司陪小费<br/>
                    9、接站牌：____________<br/>
                    10、领队无领队登记请门票自理：<br/>
                </td>
            </tr>
            <tr>
            	<td>不含</td>
                <td>往返机票及税、旅游人身意外伤害险、酒店行李生小费</td>
            </tr>
            <tr>
            	<td>S/P</td>
                <td>NO SP，可自费（允许车载：山西土特产、大红枣、核桃、小米）</td>
            </tr>
        </table>
        <table style="width:100%">
        	<tr>
            	<td style="width:50%; height:100px;" valign="top">组团社盖章：</td>
                <td style="width:50%" valign="top">地接社盖章：</td>
            </tr>
        </table>
        <p style="text-align:right">2018年3月26日</p>




    </div>
    <table>
        <tr>
            <td style="width: 25%"></td>
            <td style="width: 25%"></td>
            <td style="width: 25%"><button class='layui-btn layui-btn-normal layui-btn-radius' type="button" id="baocun">打印确认书</button></td>
            <td style="width: 25%"></td>
        </tr>
    </table>
    <script th:src="@{/js/jquery-1.8.2.min.js}"></script>
    <script>
        $(function(){
            show();
        })

        function fan(){
            window.history.go(-1);
        }

        function show(){
            $.ajax({
                url:"/sdglGroundConnection/Offer/showConfirmation",
                data:{},
                dataType:"json",
                async: false,
                type:"get",
                success:function (data) {
                    $("#shouren").text(data.data[11].personName+data.data[11].personPost);
                    $("#zutuanName").text(data.data[11].travelName);
                    $("#jinji1").text(data.data[11].phone);
                    $("#keyuan").text(data.data[11].travelName.substring(0,data.data[11].travelName.length-3));
                    $("#number").text(data.data[14]);
                    $("#luxingDate").text(data.data[12]+"——"+data.data[13]);
                    $("#jiedai").text(data.data[8]);
                    var content = "";
                    for (var i=1;i<=data.data[10].length;i++){
                        var shijian = data.data[1][i-1];
                        content+="<tr>\n" +
                            "            \t<td>"+data.data[1][i-1].substring(data.data[1][i-1].length-5)+"</td>\n" +
                            "                <td>"+data.data[10][i-1]+"</td>\n" +
                            "                <td>"+data.data[0][i-1]+"</td>\n" +
                            "                <td>L "+data.data[2][i-1].valueContent1+" "+data.data[4][i-1]+"<br/> D "+data.data[5][i-1].valueContent1+" "+data.data[7][i-1]+"</td>\n" +
                            "                <td>"+data.data[9][i-1].hotelName+"<br/>\n" +
                            "                \t"+data.data[9][i-1].phone+"\n" +
                            "                </td>\n" +
                            "            </tr>";
                    }
                    $("#tb").html(content);

                }
            })
        }
        var LODOP; //声明为全局变量
        // 打印预览
        function prn1_preview() {
            CreateOneFormPage();
            LODOP.PREVIEW();
        };
        // 直接打印
        function prn1_print() {
            CreateOneFormPage();
            LODOP.PRINT();
        };
        // 选择打印机
        function prn1_printA() {
            CreateOneFormPage();
            LODOP.PRINTA();
        };
        // 创建打印页面
        function CreateOneFormPage(){
            LODOP=getLodop();
            LODOP.PRINT_INIT("打印控件功能演示_Lodop功能_表单一");
            LODOP.SET_PRINT_STYLE("FontSize",18);
            LODOP.SET_PRINT_STYLE("Bold",1);
            var strBodyStyle = "<style>" + document.getElementById("yangshi").innerHTML + "</style>";
            LODOP.ADD_PRINT_HTM(10,20,500,5000,strBodyStyle+document.getElementById("form1").innerHTML);
        };
    </script>
</body>
</html>
