<!DOCTYPE html>
<html>
	<style>
		*{margin: 0 auto;}
        table,table tr th, table tr td { border:1px solid #0094ff; height: 20px;}
        table { width: 60%; min-height: 20px; line-height: 20px; text-align: center; border-collapse: collapse;} 
        .cc{text-align: left;}  
    </style>
	<head>
		<meta charset="utf-8" />
		<title></title>
	</head>
	<body>
		<div id="tupian" style="width: 635px;margin-left: 365px;">
                <img src="/images/logo.jpg" width="640px" height="50px">
       		 </div>
		<table>   

			<tr>
				<td colspan="17" style="text-align: center;">地铁导游报账明细表</td>
			</tr>
			<tr>
				<td colspan="2">团号</td>
				<td colspan="4"></td>
				<td colspan="2">抵离时间</td>
				<td colspan="4"></td>
				<td>线路</td>
				<td colspan="4"></td>
			</tr>
			<tr>
				<td colspan="3">组团社（单位）</td>
				<td colspan="3"></td>
				<td>人数</td>
				<td colspan="4"></td>
				<td>天数</td>
				<td colspan="2"></td>
				<td colspan="1">客源地</td>
				<td colspan="2"></td>
			</tr>
			<tr>
				<td rowspan="9">住<br>宿</td>				
				<td>日期</td>
				<td colspan="2">酒店名称</td>
				<td colspan="2">房价</td>
				<td>间数</td>
				<td colspan="2">陪同床位</td>
				<td colspan="2">陪同床价</td>
				<td colspan="2">天数</td>
				<td colspan="2">小计</td>
				<td colspan="2">支付方式</td>
			</tr>
			<tr>				
				<td></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
			</tr>
						<tr>				
				<td></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
			</tr>
						<tr>				
				<td></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
			</tr>
						<tr>				
				<td></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
			</tr>
						<tr>				
				<td></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
			</tr>
						<tr>				
				<td></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
			</tr>
						<tr>				
				<td></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
				<td colspan="2"></td>
			</tr>
			<tr>
				<td colspan="2">住宿合计</td>
				<td colspan="3"></td>
				<td colspan="2">其中导游付</td>
				<td colspan="4"></td>
				<td colspan="2">签单合计</td>
				<td colspan="3"></td>
			</tr>
			<tr>
					<td rowspan="8">餐厅</td>
					<td>午餐日期</td>
					<td>餐厅名称</td>
					<td>餐标</td>
					<td>人数</td>
					<td>次数</td>
					<td>其它</td>
					<td>小计</td>
					<td>支付方式</td>
					<td>晚餐日期</td>
					<td>餐厅名称</td>
					<td>餐标</td>
					<td>人数</td>
					<td>次数</td>
					<td>其它</td>
					<td>小计</td>
					<td>支付方式</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2">用餐合计</td>
					<td colspan="3"></td>
					<td colspan="2">其中导游付</td>
					<td colspan="4"></td>
					<td colspan="2">签单合计</td>
					<td colspan="3"></td>
				</tr>
				<tr>
					<td rowspan="9">门票</td>
					<td colspan="2">景点门票</td>
					<td colspan="2">单价</td>
					<td>人数</td>
					<td colspan="2">小计</td>
					<td colspan="2">支付方式</td>
					<td colspan="2">景点门票</td>
					<td>单价</td>
					<td>人数</td>
					<td>小计</td>
					<td colspan="3">支付方式</td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td></td>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td></td>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td></td>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td></td>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td></td>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td></td>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td></td>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td colspan="2">门票合计</td>
					<td colspan="3"></td>
					<td colspan="2">其中导游付</td>
					<td colspan="4"></td>
					<td colspan="2">签单合计</td>
					<td colspan="3"></td>
				</tr>
				<tr>
					<td rowspan="2">车费</td>
					<td>过路费</td>
					<td>停车费</td>
					<td>预付车费</td>
					<td colspan="2">合计</td>
					<td rowspan="2">出团补助</td>
					<td colspan="3">元/天</td>
					<td colspan="2">天数</td>
					<td colspan="2">导游数</td>
					<td colspan="2">合计</td>
					<td>支付方式</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td colspan="2"></td>
					<td colspan="3"></td>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td colspan="2"></td>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td rowspan="4" colspan="2">其他支出</td>
					<td colspan="15">请列出项目及计算过程：</td>
				</tr>
				<tr>
					<td colspan="15"></td>
				</tr>
				<tr>
					<td colspan="15"></td>
				</tr>
				<tr>
					<td>导游付</td>
					<td colspan="3"></td>
					<td>签单</td>
					<td colspan="5"></td>
					<td>合计</td>
					<td colspan="4"></td>
				</tr>
				<tr>
					<td class="cc" colspan="17">交回其它单据及内容（包括购物签单）：</td>
				</tr>
				<tr>
					<td colspan="17"></td>
				</tr>
				<tr>
					<td class="cc" colspan="17">现收团款明细：</td>
				</tr>
				<tr>
					<td colspan="17"></td>
				</tr>
				<tr>
					<td colspan="2">原借贷</td>
					<td colspan="3"></td>
					<td>外售团款</td>
					<td colspan="3"></td>
					<td colspan="2">导游现付合计</td>
					<td colspan="2"></td>
					<td colspan="2">报/退款</td>
					<td colspan="2"></td>
				</tr>
				<tr>
					<td>备注</td>
					<td class="cc" colspan="16">导游以全票制报销，票据必须与所列明细相符，按派团单上的标准报销，发票要与所列的酒店，餐厅，景点的名称相符，不得以其他发票代替。按以上所列分类粘贴（火车，飞机票无原件可以用复印件代替）</td>
				</tr>
				<tr>
					<td colspan="2">报账日期</td>
					<td colspan="3"></td>
					<td>导游签字</td>
					<td colspan="5"></td>
					<td colspan="2">审核人批示</td>
					<td colspan="4"></td>
				</tr>
		</table>
	</body>
</html>
