<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>网站后台管理模版</title>
	<link rel="stylesheet" type="text/css" th:href=" @{/admin/layui/css/layui.css}" />
	<link rel="stylesheet" type="text/css"  th:href=" @{../../static/admin/layui/css/layui.css}" />
	<link rel="stylesheet" type="text/css"  th:href=" @{../../static/admin/css/admin.css}" />
</head>

<body>
<div id="form1" style="width: 100%">
	<div style="margin: 0 auto; width: 70%">
		<div id="tupian" style="width: 635px;">
			<img src="/sdglGroundConnection/images/logo.jpg" width="640px" height="50px">
		</div>
		<div style="width: 600px;">

			<table lay-skin="line" style="width: 600px;" border="1" cellspacing="0" cellpadding="0" >
				<!--第一行-->
				<tr style="height: 60px; ">
					<td style="width: 120px;text-align: center; " >导游员姓名</td>
					<td style="width: 100px;text-align: center; " id="guideName"></td>
					<td style="width: 80px;text-align: center; " >性别</td>
					<td style="width: 100px;text-align: center; " id="sex"></td>
					<td style="width: 100px;text-align: center; ">导游证号</td>
					<td style="width: 100px;text-align: center; " colspan="2"  id="certificate"></td>
				</tr>
				<!--第二行-->
				<tr style="height: 60px; ">
					<td style="width: 120px;text-align: center;">旅游者(团)名称</td>
					<td style="width: 380px;text-align: center; " colspan="4" id="travelName"></td>
					<td style="width: 50px;text-align: center; ">等级</td>
					<td style="width: 50px;text-align: center; ">-------</td>
				</tr>
				<!--第三行-->
				<tr style="height: 60px;">
					<td style="width: 120px;text-align: center;">缴费标准</td>
					<td style="width: 180px;text-align: center;" colspan="2">-------</td>
					<td style="width: 100px;text-align: center;">住宿标准</td>
					<td style="width: 100px;text-align: center;"></td>
					<td style="width: 50px;text-align: center;">餐标</td>
					<td style="width: 50px;text-align: center;"></td>
				</tr>
				<!--第四行-->
				<tr style="height: 60px;">
					<td style="width: 120px;text-align: center;">线路</td>
					<td colspan="6" style="width: 480px;text-align: center; " id="sendLine"></td>
				</tr>
				<table border="1" cellspacing="0" cellpadding="0" style="width: 600px;border-top:none;">
					<!--第五行-->
					<tr style="height: 450px;">
						<td style="width: 60px;text-align: center;">日<br/><br/><br/><br/><br/><br/>	志</td>
						<td style="width: 550px;text-align: center;" colspan="6" id="content"></td>
					</tr>
					<!--第六行-->
					<tr style="height: 60px;">
						<td style="width: 60px;text-align: center;">说明</td>
						<td style="width: 550px;text-align: center;" colspan="6" id="remarks"></td>
					</tr>
				</table>
			</table>
		</div>
	</div>
</div>
<p><button style=" margin-left: 350px" class='layui-btn layui-btn-normal layui-btn-radius' type="button" id="baocun" onclick="prn1_preview()">打印导游日志</button></p>
<script th:src="@{/js/jquery-1.8.2.min.js}"></script>
<script th:src="@{/js/LodopFuncs.js}"></script>
<script>
    $(function () {
        kaishi();
        logShow();
    })

    var dispatchId;
    var guideId;
    var creationDate;

    function kaishi(){
        $.ajax({
            url:"/sdglGroundConnection/Travel/rizhi",
            data:{},
            dataType:"json",
            async: false,
            type:"get",
            success:function (data) {
                dispatchId=data.data[0];
                guideId=data.data[1];
                creationDate=prompt("请输入日志的创建时间");
            }
        })
    }


    /**
     * 显示导游日志信息
     */
    function  logShow() {
        $.ajax({
            url:"/sdglGroundConnection/log/log",
            data:{guideId:guideId,dispatchId:dispatchId,creationDate:creationDate},
            dataType:"",
            type:"GET",
            success:function (e) {
                $("#guideName").html(e.data.guide.guideName);//名字
                var x="";
                if (e.data.guide.sex==0){x="女"}else{x="男"}
                $("#sex").html(x);//性别
                $("#certificate").html(e.data.guide.certificate);//导游证号
                $("#travelName").html(e.data.dispatch.travel.travelName);//旅游团名称
                $("#sendLine").html(e.data.dispatch.sendLine);//线路
                $("#content").html(e.data.content);//日志
                $("#remarks").html(e.data.remarks);//说明
            },
            error:function () {
                alert("显示错误，请联系管理员，QQ：2267523168");
            }
        })
    }

    var LODOP; //声明为全局变量
    // 打印预览
    function prn1_preview() {
        CreateOneFormPage();
        LODOP.PREVIEW();
    };
    // 直接打印
    function prn1_print() {
        CreateOneFormPage();
        LODOP.PRINT();
    };
    // 选择打印机
    function prn1_printA() {
        CreateOneFormPage();
        LODOP.PRINTA();
    };
    // 创建打印页面
    function CreateOneFormPage(){
        LODOP=getLodop();
        LODOP.PRINT_INIT("打印控件功能演示_Lodop功能_表单一");
        LODOP.SET_PRINT_STYLE("FontSize",18);
        LODOP.SET_PRINT_STYLE("Bold",1);
        LODOP.ADD_PRINT_HTM(10,20,500,5000,document.getElementById("form1").innerHTML);
    };

</script>
</body>

</html>