<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<style>
			#header{
				margin: 0px auto;
				border: 2px black solid;
				width: 60%;
			}
			table{
				width: 100%;
			}
			#tou{
				margin-left: 650px;
			}
			#xianmian{
				margin-left: 310px;
				font-size: 14px;
			}
		</style>
	</head>
	<body>
		<div id="tupian" style="width: 635px;margin-left: 355px;">
                <img src="/images/logo.jpg" width="640px" height="50px">
       		 </div>
		<div id="tou">
			<p style=" text-decoration: underline; font-size: 30px;">派&nbsp;&nbsp;&nbsp;&nbsp;团&nbsp;&nbsp;&nbsp;&nbsp;单</p>
		</div>
		<br />
		<div id="header">
		<table border="1" cellspacing="0" cellpadding="0">
		    <thead>
		    	<tr>
		    		<td>导游</td>
		    		<td>李金虎 18835107476</td>
		    		<td>司机</td>
		    		<td>晋AA9279张师傅15255588847</td>
		    		<td>计调</td>
		    		<td>崔俊娜18603416895</td>
		    	</tr>
		    	   	<tr>
		    		<td>时间</td>
		    		<td>2018.4.15-4.22</td>
		    		<td>人数</td>
		    		<td colspan="3" style="border: 0px;">
		    			<table border="1" cellspacing="0" cellpadding="0">
		    				<tr><td>9+1T/L</td>
		    		<td>用房</td>
		    		<td>5间+2司陪</td>
		    		<td>客源地</td>
		    		 <td>台湾</td></tr>
		    			</table>
		    		</td>
		    	</tr>
		    </thead>
		    <tbody>
		    	<table border="2" cellspacing="0" cellpadding="0">
		    		<tr>
		    			<td>日期</td>
		    			<td>午餐</td>
		    			<td>餐标，元/人</td>
		    			<td>晚餐</td>
		    			<td>餐标，元/人</td>
		    			<td>客人住宿，元/间天*间</td>
		    			<td>司陪</td>
		    		</tr>
		    		<tr>
		    			<td>4.15</td>
		    			<td>地狱之门</td>
		    			<td>40*9=360<br />含酒水果盘</td>
		    			<td>羊一锅<br/>现付</td>
		    			<td>50*9=360<br />含酒水果盘</td>
		    			<td>景江订5标<br/>签单</td>
		    			<td>2床</td>
		    		</tr>
		    		<tr>
		    			<td>4.15</td>
		    			<td>地狱之门</td>
		    			<td>40*9=360<br />含酒水果盘</td>
		    			<td>羊一锅<br/>现付</td>
		    			<td>50*9=360<br />含酒水果盘</td>
		    			<td>景江订5标<br/>签单</td>
		    			<td>2床</td>
		    		</tr>
		    		<tr>
		    			<td>4.15</td>
		    			<td>地狱之门</td>
		    			<td>40*9=360<br />含酒水果盘</td>
		    			<td>羊一锅<br/>现付</td>
		    			<td>50*9=360<br />含酒水果盘</td>
		    			<td>景江订5标<br/>签单</td>
		    			<td>2床</td>
		    		</tr>
		    		<tr>
		    			<td>4.15</td>
		    			<td>地狱之门</td>
		    			<td>40*9=360<br />含酒水果盘</td>
		    			<td>羊一锅<br/>现付</td>
		    			<td>50*9=360<br />含酒水果盘</td>
		    			<td>景江订5标<br/>签单</td>
		    			<td>2床</td>
		    		</tr>
		    		<tr>
		    			<td>4.15</td>
		    			<td>地狱之门</td>
		    			<td>40*9=360<br />含酒水果盘</td>
		    			<td>羊一锅<br/>现付</td>
		    			<td>50*9=360<br />含酒水果盘</td>
		    			<td>景江订5标<br/>签单</td>
		    			<td>2床</td>
		    		</tr>
		    		<tr>
		    			<td>4.15</td>
		    			<td>地狱之门</td>
		    			<td>40*9=360<br />含酒水果盘</td>
		    			<td>羊一锅<br/>现付</td>
		    			<td>50*9=360<br />含酒水果盘</td>
		    			<td>景江订5标<br/>签单</td>
		    			<td>2床</td>
		    		</tr>
		    		<tr>
		    			<td>4.15</td>
		    			<td>地狱之门</td>
		    			<td>40*9=360<br />含酒水果盘</td>
		    			<td>羊一锅<br/>现付</td>
		    			<td>50*9=360<br />含酒水果盘</td>
		    			<td>景江订5标<br/>签单</td>
		    			<td>2床</td>
		    		</tr>
		    			<tr>
		    			<td>总计</td>
		    			<td colspan="6" style="background-color:  darkgrey;">餐：现付3948元，房：现付5750元，合计：现付9698</td>
		    		</tr>
		    	</table>
		    	<table border="1" cellspacing="0" cellpadding="0">
		    		<tr>
		    			<td>门票</td>
		    			<td style="border: 0px;">
		    				<table border="1" cellspacing="0" cellpadding="0">
		    					<tr>
		    						<td>付款方式及折扣</td>
		    						<td style="border: 0px;">
		    							<table border="1" cellspacing="0" cellpadding="0">
		    								<tr>
		    									<td>无天山</td>
		    									<td>145*6=870</td>
		    									<td>虎口</td>
		    									<td>75*6+50=500 预约门票 15203577748</td>
		    								</tr>
		    								<tr>
		    									<td>无天山</td>
		    									<td>145*6=870</td>
		    									<td>虎口</td>
		    									<td>75*6+50=500 预约门票 15203577748</td>
		    								</tr>
		    								<tr>
		    									<td>无天山</td>
		    									<td>145*6=870</td>
		    									<td>虎口</td>
		    									<td>75*6+50=500 预约门票 15203577748</td>
		    								</tr>
		    								<tr>
		    									<td>无天山</td>
		    									<td>145*6=870</td>
		    									<td>虎口</td>
		    									<td>75*6+50=500 预约门票 15203577748</td>
		    								</tr>
		    								<tr>
		    									<td>无天山</td>
		    									<td>145*6=870</td>
		    									<td>虎口</td>
		    									<td>75*6+50=500 预约门票 15203577748</td>
		    								</tr>
		    								<tr>
		    									<td>无天山</td>
		    									<td>145*6=870</td>
		    									<td>虎口</td>
		    									<td>75*6+50=500 预约门票 15203577748</td>
		    								</tr>
		    								<tr>
		    									<td>无天山</td>
		    									<td>145*6=870</td>
		    									<td>虎口</td>
		    									<td>75*6+50=500 预约门票 15203577748</td>
		    								</tr>
		    								<tr>
		    									<td>无天山</td>
		    									<td>145*6=870</td>
		    									<td>虎口</td>
		    									<td>75*6+50=500 预约门票 15203577748</td>
		    								</tr>
		    								<tr>
		    									<td>无天山</td>
		    									<td>145*6=870</td>
		    									<td>虎口</td>
		    									<td>75*6+50=500 预约门票 15203577748</td>
		    								</tr>
		    								<tr>
		    									<td>无天山</td>
		    									<td>145*6=870</td>
		    									<td>虎口</td>
		    									<td>75*6+50=500 预约门票 15203577748</td>
		    								</tr>
		    							</table>
		    						</td>
		    					</tr>
		    					<tr>
		    						<td style="width: 20px;">计</td>
		    						<td style="background-color:  darkgrey;" >现付5832</td>
		    					</tr>
		    				</table>
		    			</td>
		    		</tr>
		    	</table>
		    </tbody>
		    <tfoot>
		    	<table border="1" cellspacing="0" cellpadding="0">
		    		<tr>
		    			<td>车费<br/>过停</td>
		    			<td>车费2450+过停1500=3950元</td>
		    			<td>酒水/矿泉水</td>
		    			<td>矿泉水54元</td>
		    		</tr>
		    			<tr>
		    			<td>总计</td>
		    			<td colspan="3">现付9999元</td>
		    		</tr>
		    			<tr>
		    			<td>导游<br/>签收</td>
		    			<td colspan="3">1.房单（）&nbsp;&nbsp;2.餐单（）&nbsp;&nbsp;3.门票单（）&nbsp;&nbsp;4.返程机票或火车票（） &nbsp;&nbsp;5.游客意见表（）<br/>导游借款：19000元</td>
		    		</tr>
		    	</table>
		    </tfoot>
		 </table>
		</div>
		<div id="xianmian">
			<p>接团注意事项</p>
			<p>1. 此表仅供我社导游使用，对外要绝对保密，如因全陪、领队看到此表而造成我社经历损失，由导游负责赔偿。</p>
			<p>2. 如行程外发生计划外支出请务必及时联络公司有关计调，否则费用不予报销。</p>
			<p>3. 请严格按照我公司有关地接导游带团规范进行作业，以进一步确保接待质量。</p>
		</div>
	</body>
	<script type="text/javascript" src="js/jquery-3.2.1.js" ></script>
	<script>
		
	</script>
</html>
