<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" th:href="@{/admin/layui/css/layui.css}" />
		<style id="yangshi">
			#header{
				margin: 0px auto;
				border: 2px black solid;
				width: 60%;
			}
			table{
				width: 100%;
			}
			#tou{
				margin-left: 650px;
			}
			#xianmian{
				margin-left: 310px;
				font-size: 14px;
			}
		</style>
	</head>
	<div id="form1">
		<div id="tupian" style="width: 635px;margin-left: 355px;">
                <img src="/sdglGroundConnection/images/logo.jpg" width="640px" height="50px">
       		 </div>
		<div id="tou">
			<p style=" text-decoration: underline; font-size: 30px;">派&nbsp;&nbsp;&nbsp;&nbsp;团&nbsp;&nbsp;&nbsp;&nbsp;单</p>
		</div>
		<br />
		<div id="header">
		<table border="1" cellspacing="0" cellpadding="0">
		    <thead>
		    	<tr>
		    		<td>导游</td>
		    		<td id="daoyou"></td>
		    		<td>司机</td>
		    		<td id="siji"></td>
		    		<td>计调</td>
		    		<td id="jidiao"></td>
		    	</tr>
		    	   	<tr>
		    		<td>时间</td>
		    		<td id="shijian"></td>
		    		<td>人数</td>
		    		<td colspan="3" style="border: 0px;">
		    			<table border="1" cellspacing="0" cellpadding="0">
		    				<tr><td id="number"></td>
		    		<td>用房</td>
		    		<td id="yongfang"></td>
		    		<td>客源地</td>
		    		 <td id="keyuan"></td></tr>
		    			</table>
		    		</td>
		    	</tr>
		    </thead>
		    <tbody>
		    	<table border="2" cellspacing="0" cellpadding="0">
		    		<thead>
					<tr>
		    			<td>日期</td>
		    			<td>午餐</td>
		    			<td>餐标，元/人</td>
		    			<td>晚餐</td>
		    			<td>餐标，元/人</td>
		    			<td>客人住宿，元/间天*间</td>
		    			<td>司陪</td>
		    		</tr>
					</thead>
					<tbody id="tb">

					</tbody>
		    		<!--<tr>
		    			<td>4.15</td>
		    			<td>地狱之门</td>
		    			<td>40*9=360<br />含酒水果盘</td>
		    			<td>羊一锅<br/>现付</td>
		    			<td>50*9=360<br />含酒水果盘</td>
		    			<td>景江订5标<br/>签单</td>
		    			<td>2床</td>
		    		</tr>
		    		<tr>
		    			<td>4.15</td>
		    			<td>地狱之门</td>
		    			<td>40*9=360<br />含酒水果盘</td>
		    			<td>羊一锅<br/>现付</td>
		    			<td>50*9=360<br />含酒水果盘</td>
		    			<td>景江订5标<br/>签单</td>
		    			<td>2床</td>
		    		</tr>
		    		<tr>
		    			<td>4.15</td>
		    			<td>地狱之门</td>
		    			<td>40*9=360<br />含酒水果盘</td>
		    			<td>羊一锅<br/>现付</td>
		    			<td>50*9=360<br />含酒水果盘</td>
		    			<td>景江订5标<br/>签单</td>
		    			<td>2床</td>
		    		</tr>
		    		<tr>
		    			<td>4.15</td>
		    			<td>地狱之门</td>
		    			<td>40*9=360<br />含酒水果盘</td>
		    			<td>羊一锅<br/>现付</td>
		    			<td>50*9=360<br />含酒水果盘</td>
		    			<td>景江订5标<br/>签单</td>
		    			<td>2床</td>
		    		</tr>
		    		<tr>
		    			<td>4.15</td>
		    			<td>地狱之门</td>
		    			<td>40*9=360<br />含酒水果盘</td>
		    			<td>羊一锅<br/>现付</td>
		    			<td>50*9=360<br />含酒水果盘</td>
		    			<td>景江订5标<br/>签单</td>
		    			<td>2床</td>
		    		</tr>
		    		<tr>
		    			<td>4.15</td>
		    			<td>地狱之门</td>
		    			<td>40*9=360<br />含酒水果盘</td>
		    			<td>羊一锅<br/>现付</td>
		    			<td>50*9=360<br />含酒水果盘</td>
		    			<td>景江订5标<br/>签单</td>
		    			<td>2床</td>
		    		</tr>
		    		<tr>
		    			<td>4.15</td>
		    			<td>地狱之门</td>
		    			<td>40*9=360<br />含酒水果盘</td>
		    			<td>羊一锅<br/>现付</td>
		    			<td>50*9=360<br />含酒水果盘</td>
		    			<td>景江订5标<br/>签单</td>
		    			<td>2床</td>
		    		</tr>-->
		    			<!--<tr>
		    				<td>总计</td>
		    				<td colspan="6" style="background-color:  darkgrey;">餐：现付3948元，房：现付5750元，合计：现付9698</td>
		    			</tr>-->
		    	</table>
		    	<table border="1" cellspacing="0" cellpadding="0">
		    		<tr>
		    			<td>门票</td>
		    			<td style="border: 0px;">
		    				<table border="1" cellspacing="0" cellpadding="0">
		    					<tr>
		    						<td>付款方式及折扣</td>
		    						<td style="border: 0px;">
		    							<table border="1" cellspacing="0" cellpadding="0" id="ta">
		    								<!--<tr>
		    									<td>无天山</td>
		    									<td>145*6=870</td>
		    									<td>虎口</td>
		    									<td>75*6+50=500 预约门票 15203577748</td>
		    								</tr>
		    								<tr>
		    									<td>无天山</td>
		    									<td>145*6=870</td>
		    									<td>虎口</td>
		    									<td>75*6+50=500 预约门票 15203577748</td>
		    								</tr>
		    								<tr>
		    									<td>无天山</td>
		    									<td>145*6=870</td>
		    									<td>虎口</td>
		    									<td>75*6+50=500 预约门票 15203577748</td>
		    								</tr>
		    								<tr>
		    									<td>无天山</td>
		    									<td>145*6=870</td>
		    									<td>虎口</td>
		    									<td>75*6+50=500 预约门票 15203577748</td>
		    								</tr>
		    								<tr>
		    									<td>无天山</td>
		    									<td>145*6=870</td>
		    									<td>虎口</td>
		    									<td>75*6+50=500 预约门票 15203577748</td>
		    								</tr>
		    								<tr>
		    									<td>无天山</td>
		    									<td>145*6=870</td>
		    									<td>虎口</td>
		    									<td>75*6+50=500 预约门票 15203577748</td>
		    								</tr>
		    								<tr>
		    									<td>无天山</td>
		    									<td>145*6=870</td>
		    									<td>虎口</td>
		    									<td>75*6+50=500 预约门票 15203577748</td>
		    								</tr>
		    								<tr>
		    									<td>无天山</td>
		    									<td>145*6=870</td>
		    									<td>虎口</td>
		    									<td>75*6+50=500 预约门票 15203577748</td>
		    								</tr>
		    								<tr>
		    									<td>无天山</td>
		    									<td>145*6=870</td>
		    									<td>虎口</td>
		    									<td>75*6+50=500 预约门票 15203577748</td>
		    								</tr>
		    								<tr>
		    									<td>无天山</td>
		    									<td>145*6=870</td>
		    									<td>虎口</td>
		    									<td>75*6+50=500 预约门票 15203577748</td>
		    								</tr>-->
		    							</table>
		    						</td>
		    					</tr>
		    					<tr>
		    						<td style="width: 20px;">计</td>
									<td style="background-color:  darkgrey;" >现付<span id="jdfx"></span></td>
		    					</tr>
		    				</table>
		    			</td>
		    		</tr>
		    	</table>
		    </tbody>
		    <tfoot>
		    	<table border="1" cellspacing="0" cellpadding="0">
		    		<tr>
		    			<td>车费<br/>过停</td>
		    			<td id="chefei"></td>
		    			<td>酒水/矿泉水</td>
		    			<td id="jiu"></td>
		    		</tr>
		    			<tr>
		    			<td>总计</td>
		    			<td colspan="3">现付<span id="zongji"></span>元</td>
		    		</tr>
		    			<tr>
		    			<td>导游<br/>签收</td>
		    			<td colspan="3">1.房单（）&nbsp;&nbsp;2.餐单（）&nbsp;&nbsp;3.门票单（）&nbsp;&nbsp;4.返程机票或火车票（） &nbsp;&nbsp;5.游客意见表（）<br/>导游借款：<span id="jie"></span>元</td>
		    		</tr>
		    	</table>
		    </tfoot>
		 </table>
		</div>
		<div id="xianmian">
			<p>接团注意事项</p>
			<p>1. 此表仅供我社导游使用，对外要绝对保密，如因全陪、领队看到此表而造成我社经历损失，由导游负责赔偿。</p>
			<p>2. 如行程外发生计划外支出请务必及时联络公司有关计调，否则费用不予报销。</p>
			<p>3. 请严格按照我公司有关地接导游带团规范进行作业，以进一步确保接待质量。</p>
		</div>
	</div>
		<p><button style=" margin-left: 300px" class='layui-btn layui-btn-normal layui-btn-radius' type="button" id="baocun">打印派团单</button></p>
	</body>
	<script th:src="@{/js/jquery-1.8.2.min.js}"></script>
	<script>
		$(function(){
		    kaishi();
            selectGuideByTravelId();
            selectStaffByTraveId();
            selectDispatchByTravelId();
            selectOfferByTravelId();
            selectReportrestaurantByTravelId();
            selectReportticketByTravelId();
            selectReportfareByTravelId();
		})
		var id=1;
		var zongji = 0;

		function kaishi(){
		    $.ajax({
                url:"/sdglGroundConnection/Travel/huoqu",
                data:{},
                dataType:"json",
                async: false,
                type:"get",
                success:function (data) {
					id=data.data;
				}
			})
		}

		function selectGuideByTravelId(){
			$.ajax({
                url:"/sdglGroundConnection/Travel/selectGuideByTravelId",
                data:{travelId:id},
                dataType:"json",
                async: false,
                type:"get",
                success:function (data) {
					$("#daoyou").text(data.data.guideName+"  "+data.data.telephone);
				}
			})
		}

        function selectDispatchByTravelId(){
            $.ajax({
                url:"/sdglGroundConnection/Travel/selectDispatchByTravelId",
                data:{travelId:id},
                dataType:"json",
                async: false,
                type:"get",
                success:function (data) {
                    $("#siji").text(data.data.carcontacts);
                }
            })
        }

        function selectStaffByTraveId(){
            $.ajax({
                url:"/sdglGroundConnection/Travel/selectStaffByTraveId",
                data:{travelId:id},
                dataType:"json",
                async: false,
                type:"get",
                success:function (data) {
                    $("#jidiao").text(data.data.staffname+"  "+data.data.phone);
                }
            })
        }


        function selectReportfareByTravelId(){
            $.ajax({
                url:"/sdglGroundConnection/Travel/selectReportfareByTravelId",
                data:{travelId:id},
                dataType:"json",
                async: false,
                type:"get",
                success:function (data) {
                    var guoting = data.data.number+data.data.costPrice;
                    var zong = guoting+data.data.fare;
                    $("#chefei").text("车费"+guoting+"+过停"+data.data.fare+"="+zong+"元");
                    $("#jie").text(data.data.loan);
                    $("#jiu").text(data.data.wineFee+"元");
                    zongji+=zong;
                    zongji+=data.data.wineFee;
                    $("#zongji").text(zongji);
                }
            })
        }


        function selectOfferByTravelId(){
            $.ajax({
                url:"/sdglGroundConnection/Travel/selectOfferByTravelId",
                data:{travelId:id},
                dataType:"json",
                async: false,
                type:"get",
                success:function (data) {
                    $("#shijian").text(data.data.travelStartTime+"——"+data.data.travelEndTime);
                    $("#number").text(data.data.number);
                    $("#yongfang").text(data.data.number/2+"间");
                    $("#keyuan").text(data.data.tourist);
                }
            })
        }


        function selectReportrestaurantByTravelId(){
            $.ajax({
                url:"/sdglGroundConnection/Travel/selectReportrestaurantByTravelId",
                data:{travelId:id},
                dataType:"json",
                async: false,
                type:"get",
                success:function (data) {
                    var content="";
                    var canfei = 0;
                    var fangfei = 0;
                    for (var i=0;i<data.data[1].length;i++){
                       var wucan = Number(data.data[0][i].costPrice)*Number(data.data[0][i].num);
                        var wancan = Number(data.data[2][i].costPrice)*Number(data.data[2][i].num);
                        var jiudian = Number(data.data[1][i].costPrice)*Number(data.data[1][i].roomNum)+Number(data.data[1][i].valueId)*Number(data.data[1][i].sproomNum);
						if (data.data[0][i].payment=="付现"){
							canfei+=wucan;
						}
                        if (data.data[2][i].payment=="付现"){
                            canfei+=wancan;
                        }
                        if (data.data[1][i].payMethods=="付现"){
                            fangfei+=jiudian;
                        }
                        content+="<tr>\n" +
                            "\t\t    \t\t\t<td>"+data.data[1][i].date.substring(data.data[1][i].date.length-5)+"</td>\n" +
                            "\t\t    \t\t\t<td>"+data.data[0][i].restaurantName+"<br/>"+data.data[0][i].payment+"</td>\n" +
                            "\t\t    \t\t\t<td>"+data.data[0][i].costPrice+"*"+data.data[0][i].num+"="+wucan+"</td>\n" +
                            "\t\t    \t\t\t<td>"+data.data[2][i].restaurantName+"<br/>"+data.data[2][i].payment+"</td>\n" +
                            "\t\t    \t\t\t<td>"+data.data[2][i].costPrice+"*"+data.data[2][i].num+"="+wancan+"</td>\n" +
                            "\t\t    \t\t\t<td>"+data.data[1][i].hotelName+" "+data.data[1][i].roomNum+"间+"+data.data[1][i].sproomNum+"司陪<br/>"+data.data[1][i].payment+" "+data.data[1][i].costPrice+"*"+data.data[1][i].roomNum+"+"+data.data[1][i].valueId+"*"+data.data[1][i].sproomNum+"="+jiudian+"</td>\n" +
                            "\t\t    \t\t\t<td>"+data.data[1][i].sproomNum+"床</td>\n" +
                            "\t\t    \t\t</tr>";
					}
					var zong= canfei+fangfei;
                    zongji+=zong;
					content+="<tr>\n" +
                        "\t\t    \t\t\t\t<td>总计</td>\n" +
                        "\t\t    \t\t\t\t<td colspan=\"6\" style=\"background-color:  darkgrey;\">餐：现付"+canfei+"元，房：现付"+fangfei+"元，合计：现付"+zong+"</td>\n" +
                        "\t\t    \t\t\t</tr>"
					$("#tb").html(content);
                }
            })
        }


        function selectReportticketByTravelId(){
            $.ajax({
                url:"/sdglGroundConnection/Travel/selectReportticketByTravelId",
                data:{travelId:id},
                dataType:"json",
                async: false,
                type:"get",
                success:function (data) {
                    var zong = 0;
                    var i=0;
                    var content="";
                    var xun = 0;
                    if (data.data.length%2==0){
                        xun = data.data.length/2;
                        for (var j=0;j<xun;j++){
                            var jingdian = data.data[i].costPrice*data.data[i].buynum;
                            var jingdian1 = data.data[i+1].costPrice*data.data[i+1].buynum;
                            zong+=(jingdian+jingdian1);
                            content+="<tr>\n" +
                                "\t\t    \t\t\t\t\t\t\t\t\t<td>"+data.data[i].scenicSpotName+"</td>\n" +
                                "\t\t    \t\t\t\t\t\t\t\t\t<td>"+data.data[i].costPrice+"*"+data.data[i].buynum+"="+jingdian+"<br/>"+data.data[i].payMethods+"</td>\n" +
                                "\t\t    \t\t\t\t\t\t\t\t\t<td>"+data.data[i+1].scenicSpotName+"</td>\n" +
                                "\t\t    \t\t\t\t\t\t\t\t\t<td>"+data.data[i+1].costPrice+"*"+data.data[i+1].buynum+"="+jingdian1+"<br/>"+data.data[i+1].payMethods+"</td>\n" +
                                "\t\t    \t\t\t\t\t\t\t\t</tr>";
                            i+=2;
                        }
					}else{
                        xun = parseInt(data.data.length/2+1);
                        for (var j=0;j<xun;j++){
                            var jingdian = 0;
                            var jingdian1 = 0;
                            if ((j+1)==xun){
                                var jingdian = data.data[i].costPrice*data.data[i].buynum;
                                zong+=jingdian;
                                content+="<tr>\n" +
                                    "\t\t    \t\t\t\t\t\t\t\t\t<td>"+data.data[i].scenicSpotName+"</td>\n" +
                                    "\t\t    \t\t\t\t\t\t\t\t\t<td>"+data.data[i].costPrice+"*"+data.data[i].buynum+"="+jingdian+"<br/>"+data.data[i].payMethods+"</td>\n" +
                                    "\t\t    \t\t\t\t\t\t\t\t</tr>";
							}else{
                                var jingdian = data.data[i].costPrice*data.data[i].buynum;
                                var jingdian1 = data.data[i+1].costPrice*data.data[i+1].buynum;
                                zong+=(jingdian+jingdian1);
                                content+="<tr>\n" +
                                    "\t\t    \t\t\t\t\t\t\t\t\t<td>"+data.data[i].scenicSpotName+"</td>\n" +
                                    "\t\t    \t\t\t\t\t\t\t\t\t<td>"+data.data[i].costPrice+"*"+data.data[i].buynum+"="+jingdian+"<br/>"+data.data[i].payMethods+"</td>\n" +
                                    "\t\t    \t\t\t\t\t\t\t\t\t<td>"+data.data[i+1].scenicSpotName+"</td>\n" +
                                    "\t\t    \t\t\t\t\t\t\t\t\t<td>"+data.data[i+1].costPrice+"*"+data.data[i+1].buynum+"="+jingdian1+"<br/>"+data.data[i+1].payMethods+"</td>\n" +
                                    "\t\t    \t\t\t\t\t\t\t\t</tr>";
							}
                            i+=2;

                        }
					}
                    zongji+=zong;
					$("#jdfx").text(zong);
					$("#ta").html(content);
                }
            })
        }
        var LODOP; //声明为全局变量
        // 打印预览
        function prn1_preview() {
            CreateOneFormPage();
            LODOP.PREVIEW();
        };
        // 直接打印
        function prn1_print() {
            CreateOneFormPage();
            LODOP.PRINT();
        };
        // 选择打印机
        function prn1_printA() {
            CreateOneFormPage();
            LODOP.PRINTA();
        };
        // 创建打印页面
        function CreateOneFormPage(){
            LODOP=getLodop();
            LODOP.PRINT_INIT("打印控件功能演示_Lodop功能_表单一");
            LODOP.SET_PRINT_STYLE("FontSize",18);
            LODOP.SET_PRINT_STYLE("Bold",1);
            var strBodyStyle = "<style>" + document.getElementById("yangshi").innerHTML + "</style>";
            LODOP.ADD_PRINT_HTM(10,20,500,5000,strBodyStyle+document.getElementById("form1").innerHTML);
        };
	</script>
</html>
