<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>layui</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" type="text/css" href="../../static/admin/layui/css/layui.css" />
		<style type="text/css">
			* {
				margin: 0 auto;
 
			}
			#tableone tr td {
				
				border: 1px solid #000000;

			}
			#tabletwo tr td {
				
				border: 1px solid #000000;

			}
			
			
			
		</style>
	</head>

	<body>
		<div id="tupian" style="width: 800px;margin-left: 537px; margin:auto;">
                <img src="/images/logo.jpg" width="640px" height="50px">
       		 </div>
		<div style="text-align: center;">

			<h2>STS-RJ-20180415JD团结算账单</h2>
			<div style="border: 1px solid black;width:800px">
			<table  id="tabletwo" width="800px" height="50px" cellpadding="0" cellspacing="0">
				<tr style="">
					<td >收件单位及收件人</td>
					<td width="200px"></td>
					<td>发件单位及收件人</td>
					<td width="200px"></td>
				</tr>
				<tr>
					<td>紧急联络</td>
					<td></td>
					<td>紧急联络</td>
					<td></td>
				</tr>
			</table>
			<table  id="tableone1" width="800px" height="50px" cellpadding="0" cellspacing="0">
				<tr>
					<td style="text-align: left"><h3></h3></td>
				</tr>
			</table>
			<table id="tableone" width="800px" height="600px" cellpadding="0" cellspacing="0">
				<tr>
					<td colspan="2" style="text-align: left; width: 160px; ">客源地：</td>
					<td colspan="2" style="text-align: left; " >旅行人数：</td>

				</tr>
				<tr>
					<td colspan="2" style="text-align: left;">接团社团号：<br/>组团社团号</td>
					<td colspan="2" style="text-align: left;">用房：</td>
				</tr>
				<tr>
					<td colspan="2" style="text-align: left;">费用内容<br>ITEMS</td>
					<td style="text-align: left;">类别<br>CURRENCY</td>
					<td style="text-align: left;">金额<br>AMOUNT</td>
				</tr>
				<tr>
					<td colspan="2" style="text-align: left;">综费:<br>成人:</td>
					<td style="text-align: left;">人民币</td>
					<td style="text-align: left;"></td>
				</tr>
				<tr>
					<td colspan="2" style="text-align: left;">其他增加费用：</td>
					<td style="text-align: left;">人民币</td>
					<td style="text-align: left;"></td>
				</tr>
				<tr>
					<td colspan="2" style="text-align: left;">其他核减费用：</td>
					<td style="text-align: left;">人民币</td>
					<td style="text-align: left;"></td>
				</tr>
				<tr>
					<td colspan="2" style="text-align: left;">费用共计</td>
					<td style="text-align: left;">人民币</td>
					<td style="text-align: left;"></td>
				</tr>
				<tr>
					<td colspan="4" style="text-align: left;">以上费用不含司机小费，请现付导游司机，谢谢。</td>
				</tr>
				<tr>
					<td colspan="4" style="text-align: left;">备注</td>
				</tr>
				<tr>
					<td colspan="2" style="text-align: left;">账户名：<br/>账号:<br>开户行</td>
					<td colspan="2" style="text-align: left;">户名：<br/>卡号:<br>开户行</td>
				</tr>
			</table>
		</div>
		</div>
		<table width="800px" height="50px">
		<tr>
					<td colspan="2" style="text-align: left;">组团社盖章：</td>
					<td colspan="2" style="text-align: left;">地接社盖章：</td>
		</tr>
		</table>
		
	</body>

</html>