<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
		<script language="javascript" th:src="@{js/LodopFuncs.js}"></script>
		<script language="javascript" th:src="@{js/jquery-3.2.1.js}"></script>
		<script language="javascript" th:src="@{js/index.js}"></script>
<meta charset="utf-8">
<title>山西世达国旅报价单</title>
		
<style type="text/css" id="style">

h4{
	text-align: center;
}
#dy{
	border: 1px,#000000,solid;
	width: 640px;
	height: 900px;
	margin:0 auto;
	font-size:12px;
	}
#tupian{
	margin:0 auto; width:640px; height:50px; 
	}
#xiabian{
	border-bottom:1px solid #000;
	font-size: 15px;
	}

table{
	text-align: center;
}
#t1{
	text-align: left;
}
.p1{
	font-weight:500;
}

.xingcheng{
	height:100px;
}
.team{
	height:50px;
}
#ss{
	border: 1px solid #fff;

	position: relative;
}
#xuhao{
	position: absolute;
	left: 1%;
    padding-top: 17px;
    background-color: #ccc;
   
}
</style>
</head>

<body>
<div id="dy">
			<div id="tupian">
				<img src="/sdglGroundConnection/images/logo.jpg" width="640px" height="50px">
		</div>
			<DIV style="color:#0042A3;text-align:center;font-size: 12px;" id="xiabian">
				<span>山西省十强旅行社&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				<span>山西省诚信旅行社&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				<span>山西省诚信旅行社&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				<span>4A山西省诚信旅行社&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				<span>经营许可证：L-SX-CJ00026</span>
			</DIV>

<div id="ss">
<div id="xuhao">01-1</div>
<h4>山西世达国旅报价单</h4>
</div>
	<table border="1px" bordercolor="#000000" cellspacing="0" cellpadding="2" style="border-collapse:collapse;">
		<tr>
<td width="13%">发往</td>
<td colspan="5" id="fawang"></td>
</tr>
<tr>
<td width="13%">旅行时间</td>
<td width="23%"><span id="shijian"></span></td>
<td width="8%">人数</td>
<td width="23%"><span id="number"></span></td>
<td width="10%">客源地</td>
<td width="23%"><span id="keyuan"></span></td>
</tr>
		<tr>
			<td class="xingcheng">行程</td>
			<td colspan="5" id="xingcheng"></td>
		</tr>
		<tr>
			<td>报价</td>
			<td colspan="5" id="t1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="lll"></span>+1T/L：RMB<span id="jiage" style="text-decoration: underline">&nbsp;&nbsp;&nbsp;</span>元/人（免&nbsp;1&nbsp;持证领队）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;单间房差：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span></span>元</td>
		</tr>
		<tr>
			<td>包含</td>
			<td colspan="5" id="t1">
				1、行程中所列酒店双人标准间<br/>
				2、正餐<span id="ji"></span>餐，餐标<span id="wu" style="text-decoration: underline"></span><br/>
				3、<span id="zuo" style="text-decoration: underline"></span>座空调旅游巴士<br/>
				4、行程中所列景区景点门票及小交通<br/>
				5、全程中文导游服务
			</td>
		</tr>
		<tr>
			<td>购物/自费</td>
			<td colspan="5" id="t1">
			<span>_________</span>购物&nbsp;<span>_________</span>自费&nbsp;<span>_________</span>车购
			</td>
		</tr>
		<tr>
			<td>不含</td>
			<td colspan="5" id="t1">
			往返机票及税、旅游人身意外伤害险30元/人、酒店行李生小费、计划外项目、司机导游小费（<span id="xiaofei" style="text-decoration: underline"></span>元/人•天）
			</td>
		</tr>
		<tr>
			<td>备注</td>
			<td colspan="5" id="t1" class="bei">
			<!--1、赠送每人每天一瓶矿泉水<br/>
			2、<span class="p1">老年票已分摊至报价内,恕不退还,敬请海涵!请配合出示证件,感谢支持!</span><br/>
			3、<span class="p1">如遇国家法定节假日、平遥摄影节及太原能博会等大型会议期间价格另议。</span><br/>
			4、报价不包含因政府行为门票临时涨价部分。<br/>
			5、如团队在行程中发生任何问题，请团员或领队第一时间与本社联系，以争取最及时之适当处理，如团队回到当地后，本社不接受任何投诉。<br/>
			6、请组团社在团队出发前核对确认书内容是否有误并盖章确认回传，谢谢！
			7、领队无领队证所产生的费用，敬请自理。<br/>
			8、行程顺序以当地安排为准。<br/>
			9、<span class="p1">山西高速晚22点至早6点严禁7座以上客车在高速上行驶，请组团社预定航班及车次时注意，以免遇上飞机晚点等情况导致无法上高速影响行程。</span>-->
	</td>
</tr>
<tr>
	<td colspan="6" id="t1">部门</td>
</tr>
<tr>
<td class="team">团体监督<span></span></td>
<td colspan="5" id="jian">

</td>
</tr>
<tr>
<td>联系人</td>
<td colspan="5" id="lian">

</td>
</tr>
<tr>
<td colspan="6">
				    以上专此呈上，如有不详之处敬请垂询，感谢支持，预祝合作愉快！<br/><br/>
   
                                              发件人：<span></span>

</td>
</tr>
		
	</table>
		
	</div>

<table>
	<tr>
		<td style="width: 25%"></td>
		<td style="width: 25%"><input type="button" value="打印预览"  onclick="prn1_preview()"></td>
		<td style="width: 25%"><input type="button" value="打印维护" onclick="updatePrint()"></td>
		<td style="width: 25%"></td>
	</tr>
</table>



<script th:src="@{/js/LodopFuncs.js}"></script>
<script th:src="@{/js/jquery-1.8.2.min.js}"></script>
<script>
	$(function(){
	    show()
	})

	function show(){
	    $.ajax({
            url:"/sdglGroundConnection/Offer/showConfirmation",
            data:{},
            dataType:"json",
            async: false,
            type:"get",
            success:function (data) {
                var content = "";
                $("#ji").text(data.data[10]);
                $("#fawang").text(data.data[6].travelName);
                $("#shijian").text(data.data[1].substring(5)+"—"+data.data[2].substring(5));
                $("#number").text(data.data[0]);
                $("#lll").text(data.data[0]);
                $("#keyuan").text(data.data[6].travelName.substring(0,data.data[6].travelName.length-3));
                for (var i=0;i<data.data[8].length;i++){
                    content+=data.data[8][i];
				}
                $("#xingcheng").text(content);
                $("#jiage").text(data.data[3]);
                $("#wu").text(parseInt(data.data[4]));
                var valueContent1=0;
				if (data.data[5].valueContent1=="大巴车"){
                    valueContent1=50;
				}
                if (data.data[5].valueContent1=="小巴车"){
                    valueContent1=30;
                }
                if (data.data[5].valueContent1=="商务车"){
                    valueContent1=15;
                }
                $("#zuo").text(valueContent1);
				$(".bei").text(data.data[7]);
				$("#xiaofei").text(data.data[9]);
				$("#jian").html(data.data[6].personName+"  "+data.data[6].personPost+"  "+data.data[6].phone);
				$("#lian").html(data.data[12].staffname+"<br/>\n" +
                    "\t\t\t\tTel："+data.data[12].phone+"<br/>\n" +
                    "\t\t\t\tQQ："+data.data[12].qqnumber+"  <br/>")
			}
		})
	}

    function fan(){
        window.history.go(-1);
    }

    var LODOP; //声明为全局变量
    // 打印预览
    function prn1_preview() {
        CreateOneFormPage();
        LODOP.PREVIEW();
    };
    // 直接打印
    function prn1_print() {
        CreateOneFormPage();
        LODOP.PRINT();
    };
    // 选择打印机
    function prn1_printA() {
        CreateOneFormPage();
        LODOP.PRINTA();
    };
    // 创建打印页面
    function CreateOneFormPage(){
        LODOP=getLodop();
        LODOP.PRINT_INIT("打印控件功能演示_Lodop功能_表单一");
        LODOP.SET_PRINT_STYLE("FontSize",18);
        LODOP.SET_PRINT_STYLE("Bold",1);
        var strBodyStyle = "<style>" + document.getElementById("style").innerHTML + "</style>";
        LODOP.ADD_PRINT_HTM(10,20,500,5000,strBodyStyle+document.getElementById("dy").innerHTML);
    };
</script>
</body>
</html>
