<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div id="tupian">
                <img src="/images/logo.jpg" width="640px" height="50px">
       		 </div>
	<div style="width: 650px; margin: 0px outo;">
		<div style="text-align: center; width: 650px; margin: 0px outo;"><h2>山西旅遊注意事項及安全提示</h2></div>
		<div style="width: 650px; margin: 0px outo;">
			<!--第一段-->
			<p style="font-weight: bold;">一、必借物品 </p>
			<p style="font-size: small;">1、衣物:行装從簡，著平底廖鞋或運動鞋較好;山西早晚温差大，需準備長袖文撑同時可带上遮设馆太陽鏡、旅行水壺、防曬霜、潤唇膏、雨傘、花露水、手電简、口罩、轉換插頓等出行前购實定夠的子
			  掩、相機電池、现金、全球通手機、濕紙巾個人衛生用品等。
			  <br/>2、藥品:山西地處黄土高原，海拔高，山路險峻，景點分散，乘車時間較長，請自備暈車藥、或藥、腸胃藥、阿斯匹林、創可貼等。
			</p>
			<!--第二段-->
			<p style="font-weight: bold;">二、氣候特點</p>
			<p style="font-size: small;">1、山西地處黄土高原，為大陸性季風氣候，氣候較為乾燥，索外線強，且多風沙，請多喝水多食水果，以防上火
					<br/>2、山西早晚温差較大，請在事上随時備一件外套，要注意保暖，防止感冒。<br/>3、五台山早晚溫差較大，夜間氣溫較低，請注意加衣蓋被。年平均氣溫在0度以下。但在
			  		暑期氣候涼爽宜人。四、五、十月底、十一月到五豪山旅遊需備有棉衣，六、七、八、九月初旅避以夏装為主，但是應備有長褲和長袖外套備用。九月中十月初以秋装為主。上山天氣變化較大，應隨時備有兩傘。且五豪山上一但下雨，氣溫下降幅度較大。
			</p>
			<!--第三段-->
			<p style="font-weight: bold;">三、旅避安全</p>
			<p style="font-size: small;"> 1、人身安全:行走要注意交通安全，律靠右行走，過馬路請走人行橫道，指示燈綠燈亮時才可通過;晚上自由活動，要結伴而行，不要太晚回酒店;出去自由活力時要報告領隊或導避，不安全的場所不要去;出去要带好酒店卡片(上有酒店的名稱、地址、電話)和緊急聯緊通訊錄，以防不测:尤其是下雨天、下雪天、大霸天，及在高豪景觀，沒有景點標詵、防護設施和地形不明的觀景點，請千萬不要随便涉足;人多
				  時，觀景、照像、讓道注意不要硬擠;不随便<br/>2、財物安全:  在外活動车  ， 個人的錢款不隐便下河游泳，尤共不在禁止游也贵重物品要随身带好，不要放在旅遊車时地大  坐飛機時不要
				  將錢款和其他责重物品、護照放在托運行李中;人住酒店亦應隨身攜带或存人酒店的免费保險箱內，出去時不要放在房間內:在餐應、商場、酒店大堂、機場等公共場所要格外注意自己的财物和證件安全，塞友要相互照看本團隊友的行李物品，以防丢失、被竊、被搶:下車前，請關照好車窗;房間離人，請關囪鎖
				  <br/>3、證件安全:  客人身份證、護照、毫胞證、通行證、身份證等證件請自行保管好。
				  <br/>4、購物安全:旅遊景點上不要隐意亂動地攤小販的旅遊纪念品，不與之討價還價，追客兜售的，拉客算命的，贈送開光護身卡的，一律不予理睬，以免上當;在旅遊中應注意不要隐便與不認識的人深交，以免上當受騙;購買物品時要索要相關票據，以便退換貨。
				  <br/>5、飲食安全:地接小食品最好不要随意亂吃，不潔水果不要亂吃，以免吃壞肚子，影響後面的行程:不随便摘食“野果”尤其是慎吃或不吃有毒山野菜、菌類和蛇等;喝水時燼量喝開水，不要直接飲用水管流出
				  的水，山西的水不能直接飲用。
			</p>
			<!--第四段-->
			<p style="font-weight: bold;">四、關於飲食</p>
			<p style="font-size: small;">1、山西本地飲食習慣以题食為主。晉菜的基本風味以鹹香為主，甜酸為辅，菜點可分為南、北、中三派。南路以運城、臨汾地區為主，菜品以海味為最，口味偏清淡。北路以大同、五豪山為代表，菜看講究重油重色。中路菜以太原為主，兼收南北之長，選料精細，切配講究，以鹹味為主，酸甜為輔，菜肴具有酥爛、
			  文、重色、重味的
			  <br/>2、山西水土鹼性大 ，建議一日三餐前喝一小勺山西陳醋，可综合鹹性、防止腸道疾病。飲食要注意得當(切勿吃的太的，增加腸胃負擔，為速應高原氣候，可多吃些蔬菜、水果、多喝水，最好不吸煌、不喝酒)。<br/>3、平遍、五菱山地區屬縣城山區，飯菜品質般，可能保證吃好，但能保證吃飽:尤其南方客人到北方，個別客人初期難免會有一些水土不服，如身體感覺不適，請及時告之導遊以探取相應措施;且夏天天氣炎熟，請遊客吃一些瓜果、冷飲時注意飲食衛生，以免引起腹瀉。
			</p>
			<!--第五段-->
			<p style="font-weight: bold;">五、新然庄馆</p><p style="font-size: small;">1、山西旅遊起步較晚，各大城市及景區均沒有國際性的連鎖大酒店。
			  <br/>2、五赛山平遍、吉縣等縣區的住宿較差些，五豪山由於特殊的地理條件，規模較小，賓館相對潮濕，而且沒有電梯。
			  <br/>3、星級育館或酒店都提供一次性拖鞋 、洗漱用品、吹風機等，網線和電視一般為免費收使用 ，酒店空謂一般在五月中旬啟動。個別酒店還提供免費碳泉水。
			  <br/>4、酒店電电壓為220伏，前查般都會備有少量的轉换器
			  <br/>5、在酒店洗浴時，一定要注意探取防滑措施，將防滑墊鋪，上以後再洗浴。<br/>6、在酒店内需要撥打電話的，請在前台辦理了押金手續後再撥打。</p>
		    <!--第六段-->
		    <p style="font-weight: bold;">六、關於出行</p> 
			<p style="font-size: small;"> 1、山西的景贴比校分散，坐本時間會比校長，请量本的进客提前做好做畏途本的準備:种手比把，
		  			<br/>2、山西多山，行程中部分路段需走盤山路，請不要  的物品放在行李架上，並將座位旁扶手扶起，扶好坐好，建議走山路時最好不要睡覺，以免拐彎時不小心會被甩出;如遇顛簸路段，請遊客務必扶好坐好，集中注意力，尤其後排乘客定更要小心，以免顛起被摔倒;
		  			<br/>3、山西地宽景散，較多岔道岐途a。請注意跟緊導遊員，以免掉隊。自由活動時，要聽清記清集合時間、地點，要按時歸隊*如行進中临時離隊，應事先告知導遊员、領隊。
			</p>
		</div>
	</div>
	</body>
</html>
