<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
	<style>
    	#two{
	text-align: center;width:100%
}
#one{text-align: center;}

    </style>
</head>


	
<body>
	<div style="width:50%; margin:0 auto">		
        <h2 style="text-align:center">地接行程计划单</h2>
        
        <table style="text-align:center" align="center">
        	<tr>
        		<td style="width:20%; text-align:right">旅行社名称:</td>
        		<td style="width:30%">山西世达国际旅行社有限公司</td>
        		<td style="width:20%; text-align:right">旅游经营许可证:</td>
        		<td style="width:20%; text-align:left">L-SX-CJ00026</td>
   	   		</tr>
        </table>
        <br/>
        <div style="border:1px #000000 solid; height:1px; border-left:none; border-right:none"></div><br/>
	<table border="1px" bordercolor="#000000" cellspacing="0" cellpadding="2" style="border-collapse:collapse;" id="two">
    	<tr>
    	<td width="20%">订单编号</td>
        <td width="30%"></td>
        <td width="20%">用车单位</td>
        <td width="30%"></td>
    </tr>
    <tr>
    	<td width="21%">团号</td>
        <td width="22%"></td>
        <td width="21%">团队人数</td>
        <td width="22%"></td>
    </tr>
    <tr>
    	<td width="21%">客源地</td>
        <td width="22%"></td>
        <td width="21%">客源国别</td>
        <td width="22%"></td>
    </tr>
    <tr>
    	<td width="21%">由何地入太原</td>
        <td width="22%"></td>
        <td width="21%">行程摘要</td>
        <td width="22%"></td>
    </tr>
    <tr>
    	<td width="21%">起始日期</td>
        <td width="22%"></td>
        <td width="21%">终止日期</td>
        <td width="22%"></td>
    </tr>
    <tr>
    	<td width="21%">导游姓名(正证号)</td>
        <td width="22%"></td>
        <td width="21%">导游电话</td>
        <td width="22%"></td>
    </tr>
    <tr>
    	<td width="21%">计调员</td>
        <td width="22%"></td>
        <td width="21%">联系电话</td>
        <td width="22%"></td>
    </tr>
    <tr>
    	<td width="21%">备注</td>
        <td colspan="5">如团队交通方式为汽车,应填写一下内容</td>
    </tr>
    <tr>
    	<td width="21%">车属单位</td>
        <td width="22%"></td>
        <td width="21%">车牌号</td>
        <td width="22%"></td>
    </tr>
    <tr>
    	<td width="21%">驾驶员</td>
        <td width="22%"></td>
        <td width="21%">上岗证号</td>
        <td width="22%"></td>
    </tr>
    <tr>
    	<td width="21%">起点</td>
        <td width="22%"></td>
        <td width="21%">终点</td>
        <td width="22%"></td>
    </tr>
    <tr>
    	<td width="21%">总里程</td>
        <td width="22%"></td>
        <td width="21%">车日行程</td>
        <td width="22%"></td>
    </tr>
    <tr>
    	<td width="21%">单双班</td>
        <td width="22%"></td>
        <td width="21%">途中例保地</td>
        <td width="22%"></td>
    </tr>
    <tr>
    	<td width="21%">途径地</td>
        <td width="22%"></td>
        <td width="21%">运费</td>
        <td width="22%"></td>
    </tr>
    <tr>
    	<td width="21%">建立日期</td>
        <td width="22%"></td>
        <td width="21%">修改日期</td>
        <td width="22%"></td>
    </tr> 	
    </table>
    <table border="1px" bordercolor="#000000" cellspacing="0" cellpadding="2" style="border-collapse:collapse;" id="two">
    <tr>
    	<td colspan="8">团队运行接待计划表(旅行社盖章)</td>       
    </tr>
    <tr>
    	<td>序号</td>
        <td>行程日期</td>
        <td>所在地区</td>
        <td>行程内容</td>
        <td>购物地点</td>
        <td>用餐地点</td>
        <td>住宿地点</td>
    </tr>  
    <tr>
    	<td>1</td>
        <td>2017-02-02</td>
        <td>太原</td>
        <td>流向</td>
        <td>无</td>
        <td>铁道</td>
        <td>锦江</td>   
    </tr>
    </table>
</div>
</body>
</html>
