

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link rel="stylesheet" type="text/css" th:href="@{/admin/layui/css/layui.css}" />
    <style>
        #two{
            text-align: center;width:100%
        }
        #one{text-align: center;}

    </style>

</head>



<body>
<div style="width:70%; margin:0 auto">
    <h2 style="text-align:center">地接行程计划单</h2>

    <table style="text-align:center" align="center">
        <tr>
            <td style="width:20%; text-align:right">旅行社名称:</td>
            <td style="width:30%">山西世达国际旅行社有限公司</td>
            <td style="width:20%; text-align:right">旅游经营许可证:</td>
            <td style="width:20%; text-align:left">L-SX-CJ00026</td>
        </tr>
    </table>
    <br/>
    <div style="border:1px #000000 solid; height:1px; border-left:none; border-right:none"></div><br/>
    <table border="1px" bordercolor="#000000" cellspacing="0" cellpadding="2" style="border-collapse:collapse;" id="two">
        <tr>
            <td width="20%">订单编号</td>
            <td width="30%"><span id="ground"></span></td>
            <td width="20%">用车单位</td>
            <td width="30%"></td>
        </tr>
        <tr>
            <td width="21%">团号</td>
            <td width="22%"><span id="lala"></span></td>
            <td width="21%">团队人数</td>
            <td width="22%"><span id="fonr"></span></td>
        </tr>
        <tr>
            <td width="21%">客源地</td>
            <td width="22%"><span id="five"></span></td>
            <td width="21%">客源国别</td>
            <td width="22%"></td>
        </tr>
        <tr>
            <td width="21%">由何地入太原</td>
            <td width="22%"><span id="nine"></span></td>
            <td width="21%">行程摘要</td>
            <td width="22%"></td>
        </tr>
        <tr>
            <td width="21%">起始日期</td>
            <td width="22%"><span id="six"></span></td>
            <td width="21%">终止日期</td>
            <td width="22%"><span id="seven"></span></td>
        </tr>
        <tr>
            <td width="25%">导游姓名(正证号)</td>
            <td width="22%"><span id="one"></span><span id="ten"></span></td>
            <td width="25%">导游电话</td>
            <td width="22%"><span id="three"></span></td>
        </tr>
        <tr>
            <td width="21%">计调员</td>
            <td width="22%"><span id="name"></span></td>
            <td width="21%">联系电话</td>
            <td width="22%"><span id="phone"></span></td>
        </tr>
        <tr>
            <td width="21%">备注</td>
            <td colspan="5">如团队交通方式为汽车,应填写一下内容</td>
        </tr>
        <tr>
            <td width="21%">车属单位</td>
            <td width="22%"><span id="carRentalName"></span></td>
            <td width="21%">车牌号</td>
            <td width="22%"><span id="car"></span></td>
        </tr>
        <tr>
            <td width="21%">驾驶员</td>
            <td width="22%"><span id="contacts"></span></td>
            <td width="21%">上岗证号</td>
            <td width="22%"></td>
        </tr>
        <tr>
            <td width="21%">起点</td>
            <td width="22%"><span id="templateName"></span></td>
            <td width="21%">终点</td>
            <td width="22%"></td>
        </tr>
        <tr>
            <td width="21%">总里程</td>
            <td width="22%"></td>
            <td width="21%">车日行程</td>
            <td width="22%"></td>
        </tr>
        <tr>
            <td width="21%">单双班</td>
            <td width="22%"></td>
            <td width="21%">途中例保地</td>
            <td width="22%"></td>
        </tr>
        <tr>
            <td width="21%">途径地</td>
            <td width="22%"></td>
            <td width="21%">运费</td>
            <td width="22%"></td>
        </tr>
        <tr>
            <td width="21%">建立日期</td>
            <td width="22%"></td>
            <td width="21%">修改日期</td>
            <td width="22%"></td>
        </tr>
    </table>
    <table border="1px" bordercolor="#000000" cellspacing="0" cellpadding="2" style="border-collapse:collapse;" id="two">
        <tr>
            <td colspan="8">团队运行接待计划表(旅行社盖章)</td>
        </tr>
        <tr>
            <td>序号</td>
            <td>行程日期</td>
            <td>所在地区</td>
            <td>行程内容</td>
            <td>购物地点</td>
            <td>用餐地点</td>
            <td>住宿地点</td>
        </tr>
        <tbody id="xx">

        </tbody>
    </table>
    <button style=" margin-left: 300px" class='layui-btn layui-btn-normal layui-btn-radius' type="button" id="baocun" onclick="prn1_preview()">打印地接行程计划单</button>
</div>
<script th:src="@{/js/jquery-1.8.2.min.js}"></script>

<script>
    $(function () {
        kaishi();
        listDisguide()
        listStaff()
        listDiscar()
        lisrDispatch()
        listTemplate()
        listDispatchAll()
    })

    var id;


    function kaishi(){
        $.ajax({
            url:"/sdglGroundConnection/Travel/jihua",
            data:{},
            dataType:"json",
            async: false,
            type:"get",
            success:function (data) {
                id=data.data;
            }
        })
    }

    function listDisguide() {
        $.ajax({
            url:"/sdglGroundConnection/findDisguide.html",
            data:{dispatchId:id},
            type:"get",
            dataType:"json",
            success:function (data) {
                $("#one").text(data.data.guideName);
                $("#ten").text(data.data.certificate);
                $("#three").text(data.data.telephone);
                $("#fonr").text(data.data.num);
                $("#five").text(data.data.tourist);
                $("#six").text(data.data.travelStartTime.substring(0,10));
                $("#seven").text(data.data.travelEndTime.substring(0,10));
                $("#nine").text(data.data.tourist);
            }
        })
    }
    function listStaff() {
        $.ajax({
            url:"/sdglGroundConnection/Staff/findStaff.html",
            data:{dispatchId:id},
            type:"get",
            dataType:"json",
            success:function (data) {
                $("#name").text(data.data.staffname);
                $("#phone").text(data.data.phone);
            }
        })
    }
    function listDiscar() {
        $.ajax({
            url:"/sdglGroundConnection/Discar/findDiscar.html",
            data:{dispatchId:id},
            type:"get",
            dataType:"json",
            success:function (data) {
                $("#carRentalName").text(data.data.carRentalName);
            }
        })
    }
    function lisrDispatch() {
        $.ajax({
            url:"/sdglGroundConnection/dispatch/findDispatch.html",
            data:{dispatchId:id},
            type:"get",
            dataType:"json",
            success:function (data) {
                $("#car").text(data.data.carcontacts.split("，")[2]);
                $("#contacts").text(data.data.carcontacts.split("，")[0]);
                $("#lala").text(data.data.groundConnectionNumber);


            }
        })
    }
    function listTemplate() {
        $.ajax({
            url:"/sdglGroundConnection/Template/findTemplate.html",
            data:{dispatchId:id},
            type:"get",
            dataType:"json",
            success:function (data) {
                $("#templateName").text(data.data.templateName.split("——")[0]);
            }
        })
    }

    function listDispatchAll() {
        $.ajax({
            url:"/sdglGroundConnection/dispatch/findDispatchxxx.html",
            data:{dispatchId:id},
            type:"get",
            dataType:"json",
            success:function (re) {
                var content="";
                var num=0;
                $.each(re.data,function (i,e) {
                    num++;
                    content+="<tr>" +
                        "<td>"+num+"</td>"+
                        "<td>"+e[5]+"</td>"+
                        "<td>"+e[3].split("——")[1]+"</td>"+
                        "<td>"+e[4]+"</td>"+
                        "<td>"+e[2]+"</td>"+
                        "<td>"+e[1]+"</td>"+
                        "<td>"+e[0]+"</td>"+
                        "</tr>";
                })
                $("#xx").html(content);
            }
        })
    }

    var LODOP; //声明为全局变量
    // 打印预览
    function prn1_preview() {
        CreateOneFormPage();
        LODOP.PREVIEW();
    };
    // 直接打印
    function prn1_print() {
        CreateOneFormPage();
        LODOP.PRINT();
    };
    // 选择打印机
    function prn1_printA() {
        CreateOneFormPage();
        LODOP.PRINTA();
    };
    // 创建打印页面
    function CreateOneFormPage(){
        LODOP=getLodop();
        LODOP.PRINT_INIT("打印控件功能演示_Lodop功能_表单一");
        LODOP.SET_PRINT_STYLE("FontSize",18);
        LODOP.SET_PRINT_STYLE("Bold",1);
        var strBodyStyle = "<style>" + document.getElementById("style").innerHTML + "</style>";
        LODOP.ADD_PRINT_HTM(10,20,500,5000,strBodyStyle+document.getElementById("dy").innerHTML);
    };

</script>
</body>
</html>
