	<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>网站后台管理模版</title>
		<link rel="stylesheet" th:href="@{/css/layui.css}" media="all">
	</head>

	<body>
    
		<div class="page-content-wrap">
			<form class="layui-form" action="" style="">
				<div class="layui-form-item">
					<div class="layui-inline tool-btn">
						<button class="layui-btn layui-btn-small layui-btn-normal go-btn hidden-xs" type="button"  data-url="/sdglGroundConnection/countAdjust/danye-detail.html"><i class="layui-icon">&#xe654;</i></button>
					</div>
					<div class="layui-inline">
						<input type="text" id="travelName" name="travelName" placeholder="请输入标题" autocomplete="off" class="layui-input">
					</div>
					<button class="layui-btn layui-btn-normal" lay-submit="search" type="button" onclick="selectOffer(1)">搜索</button>
				</div>
			</form>
			<!--<div class="layui-form" id="table-list">
				<table class="layui-table" lay-even lay-skin="nob">

					<thead>
					<tr>
						<td class="hidden-xs">序号</td>
						<td class="hidden-xs">组团社名字</td>
						<td class="hidden-xs">人数</td>
						<td class="hidden-xs">客源地</td>
						<td class="hidden-xs">旅行开始时间</td>
						<td class="hidden-xs">旅行结束时间</td>
						<td class="hidden-xs">状态</td>
						<td class="hidden-xs">操作</td>
					</tr>
					</thead>
					<tbody id="biuuu_city_list">

					</tbody>
				</table>
				<div id="laypage" style="text-align: center"></div>
			</div>-->


			<div id="pTable" style="width:100%;margin:0 auto">
				<table class="layui-table">
					<thead>
					<tr>
						<td class="hidden-xs">序号</td>
						<td class="hidden-xs">组团社名字</td>
						<td class="hidden-xs">人数</td>
						<td class="hidden-xs">客源地</td>
						<td class="hidden-xs">旅行开始时间</td>
						<td class="hidden-xs">旅行结束时间</td>
						<td class="hidden-xs">状态</td>
						<td class="hidden-xs">操作</td>
					</tr>
					</thead>
					<tbody></tbody>
				</table>
				<div id="laypage" style="text-align: center"></div>
			</div>

		</div>
		<script th:src="@{/js/jquery-1.8.2.min.js}"></script>
		<script th:src="@{/layui.js}"></script>
		<script>
			layui.use(['form', 'jquery', 'layer', 'dialog'], function() {
				var $ = layui.jquery;

				//修改状态
				$('#table-list').on('click', '.table-list-status', function() {
					var That = $(this);
					var status = That.attr('data-status');
					var id = That.parent().attr('data-id');
					if(status == 1) {
						That.removeClass('layui-btn-normal').addClass('layui-btn-warm').html('隐藏').attr('data-status', 2);
					} else if(status == 2) {
						That.removeClass('layui-btn-warm').addClass('layui-btn-normal').html('显示').attr('data-status', 1);

					}
				})

			});

            var limitcount = 5; // 每页总记录数
            var curnum = 1;  // 当前页码

			$(function(){
				selectOffer();
			})

			function selectOffer(j){
                if(j==1){
                    curnum=1;
                }
			    var travelName = $("#travelName").val();
				$.ajax({
                    url:"/sdglGroundConnection/Offer/selectOffer",
                    data:{page:curnum,limit:limitcount,travelName:travelName},
                    dataType:"json",
                    type:"get",
                    success:function (data) {
                        var content = "";
                        var xu=(curnum-1)*limitcount+1;
                        $.each(data.data,function (i,e) {
                            var del = "报价中";
                            if (e.whetherDel==2) {
                                del = "报价中";
                            }else if(e.whetherDel==3){
                                del = "已确认";
							}else if(e.whetherDel==4){
                                del = "已详设";
                            }
                            if (e.whetherDel==3){
                                content+="<tr>\n" +
                                    "\t\t\t\t\t\t<td class=\"hidden-xs\">"+xu+"</td>\n" +
                                    "\t\t\t\t\t\t<td class=\"hidden-xs\">"+e.travel.travelName+"</td>\n" +
                                    "\t\t\t\t\t\t<td class=\"hidden-xs\">"+e.number+"</td>\n" +
                                    "\t\t\t\t\t\t<td class=\"hidden-xs\">"+e.tourist+"</td>\n" +
                                    "\t\t\t\t\t\t<td class=\"hidden-xs\">"+e.travelStartTime+"</td>\n" +
                                    "\t\t\t\t\t\t<td class=\"hidden-xs\">"+e.travelEndTime+"</td>\n" +
                                    "\t\t\t\t\t\t<td class=\"hidden-xs\">"+del+"</td>\n" +
                                    "\t\t\t\t\t\t<td class=\"hidden-xs\"><div style='display: inline-block'><button id='update' type='button'  value='\" + e.restaurantId + \"' class='layui-btn layui-btn-small layui-btn-normal go-btn' onclick='show("+e.offerId+")'><i class='layui-icon'>显示详情</i></button><button  type='button'   data-url='Quotation-detail.html' data-id='"+e.offerId+"' onclick='xiangshe(this,"+e.offer+")' value='\" + e.restaurantId + \"' class='layui-btn layui-btn-small layui-btn-normal go-btn'><i class='layui-icon'>详细设计</i></button></div>\n" ;
							}else if (e.whetherDel==4){
                                content+="<tr>\n" +
                                    "\t\t\t\t\t\t<td class=\"hidden-xs\">"+xu+"</td>\n" +
                                    "\t\t\t\t\t\t<td class=\"hidden-xs\">"+e.travel.travelName+"</td>\n" +
                                    "\t\t\t\t\t\t<td class=\"hidden-xs\">"+e.number+"</td>\n" +
                                    "\t\t\t\t\t\t<td class=\"hidden-xs\">"+e.tourist+"</td>\n" +
                                    "\t\t\t\t\t\t<td class=\"hidden-xs\">"+e.travelStartTime+"</td>\n" +
                                    "\t\t\t\t\t\t<td class=\"hidden-xs\">"+e.travelEndTime+"</td>\n" +
                                    "\t\t\t\t\t\t<td class=\"hidden-xs\">"+del+"</td>\n" +
                                    "\t\t\t\t\t\t<td class=\"hidden-xs\"><div style='display: inline-block'><button id='update' type='button'  value='\" + e.restaurantId + \"' class='layui-btn layui-btn-small layui-btn-normal go-btn' onclick='show("+e.offerId+")'><i class='layui-icon'>显示详情</i></button></div>\n" ;
							}  else{
                                content+="<tr>\n" +
                                    "\t\t\t\t\t\t<td class=\"hidden-xs\">"+xu+"</td>\n" +
                                    "\t\t\t\t\t\t<td class=\"hidden-xs\">"+e.travel.travelName+"</td>\n" +
                                    "\t\t\t\t\t\t<td class=\"hidden-xs\">"+e.number+"</td>\n" +
                                    "\t\t\t\t\t\t<td class=\"hidden-xs\">"+e.tourist+"</td>\n" +
                                    "\t\t\t\t\t\t<td class=\"hidden-xs\">"+e.travelStartTime+"</td>\n" +
                                    "\t\t\t\t\t\t<td class=\"hidden-xs\">"+e.travelEndTime+"</td>\n" +
                                    "\t\t\t\t\t\t<td class=\"hidden-xs\">"+del+"</td>\n" +
                                    "\t\t\t\t\t\t<td class=\"hidden-xs\"><div style='display: inline-block'><button id='update' type='button'  value='\" + e.restaurantId + \"' class='layui-btn layui-btn-small layui-btn-normal go-btn' onclick='show("+e.offerId+")'><i class='layui-icon'>显示详情</i></button><button id='update' type='button'  value='\" + e.restaurantId + \"' class='layui-btn layui-btn-small layui-btn-normal go-btn' onclick='que("+e.offerId+")'><i class='layui-icon'>确认成团</i></button></div>\n" ;
							}
								content+="</td>\t\t\t\t\t</tr>";
                            xu++;1
                        })
                        $("tbody").html(content);
                        layui.use('table', function () {
                            var laypage = layui.laypage;
                            laypage.render({
                                elem: 'laypage'
                                , count: data.count
                                , curr: curnum
                                , limit: 5
                                , layout: ['prev', 'page', 'next', 'skip', 'count']
                                , jump: function (obj, first) {
                                    if (!first) {
                                        //obj包含了当前分页的所有参数，比如：
                                        curnum = obj.curr; // 当前页面
                                        limitcount = obj.limit; // 每页记录数
                                        // 查询新数据
                                        selectOffer();
                                    }
                                }
                            })
                        })
					}

				})
			}


			function show(id){
			    location.href="/sdglGroundConnection/countAdjust/Scheduling-detail.html?offerId="+id;
			}
			function xiangshe(obj,offer) {
				var url=$(obj).attr('data-url');
				var id = $(obj).attr('data-id');
				var offer=offer;
				window.location.href="/sdglGroundConnection/countAdjust/"+url+"?id="+id+"&offer="+offer;
                return false;
            }

            function que(id){
				$.ajax({
                    url:"/sdglGroundConnection/Offer/que",
                    data:{offerId:id},
                    dataType:"json",
                    type:"get",
                    success:function (data) {
                        alert(data.msg);
                        selectOffer();
					}
				})
			}

/*            function xuan(offerId,qq){
                dispatchId=id;
                guideId=guideid;
                groupNumber = travelId;
                $(qq).parents().children().css("background","");
                $(qq).css("background","#F2F2F2");
            }*/

		</script>
        
	</body>

</html>