


<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>餐厅类型</title>
    <link rel="stylesheet" type="text/css" th:href="@{/admin/layui/css/layui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/admin.css}" />
</head>
<body>
<div class="wrap-container">
    <form class="layui-form" style="width: 90%;padding-top: 20px;" id="jxlshuai">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:100px">餐厅类型：</label>
            <div class="layui-input-block">
                <input type="hidden" name="dictionariesId" id="dictionariesId" th:value="${dictionariesId}==null?0:${dictionariesId}"/>
                <input type="text" name="valueContent1"  placeholder="输入餐厅类型" autocomplete="off" class="layui-input" id="one"style="width:550px;">
            </div>
            <div style="height:20px"></div>
            <label class="layui-form-label" style="width:100px">成本价：</label>
            <div class="layui-input-block">
                <input type="text" name="valueContent2"  placeholder="输入成本价" autocomplete="off" class="layui-input" id="two"style="width:550px;margin-left:20px">
            </div>
            <div style="height:20px"></div>
            <label class="layui-form-label" style="width:100px">报价：</label>
            <div class="layui-input-block">
                <input type="text" name="valueContent3"  placeholder="输入报价" autocomplete="off" class="layui-input" id="three"style="width:550px;margin-left:20px">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="margin-left:130px">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo" onclick="validate()" >立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script th:src="@{/js/jquery-1.8.2.min.js}"></script>
<script th:src="@{/admin/layui/layui.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/layui.js}"></script>
<script>
    var value="";
    $(function () {
        getbang()
    })

    //Demo
    layui.use(['form', 'layedit', 'laydate', 'element'], function () {
        var form = layui.form,
            element = layui.element,
            laydate = layui.laydate;
        laydate.render({
            elem: '#vvv'
        });
        element.render();
        form.render('select', 'test1');
        form.render();
        //监听提交
        form.on('submit(formDemo)', function(data) {
            return false;
        });
    });

    function getbang(dictionariesId) {
        var haha=$("#dictionariesId").val()
        $.ajax({
            url:"/sdglGroundConnection/Dictionaries/DictionariesCanSelect.html",
            data:{"dictionariesId":haha},
            type:"get",
            dataType:"json",
            success:function (e) {
                value=e.data.valueContent1;
                $("#one").val(e.data.valueContent1);
                $("#two").val(e.data.valueContent2);
                $("#three").val(e.data.valueContent3);
            }
        })
    }
    function validate() {
        var lala=$("form").serialize();
        var la=$("#one").val();
        if(value==la && la!=''){
            $.ajax({
                url:"/sdglGroundConnection/Dictionaries/DictionariesCanthree",
                data:lala,
                type:"get",
                dateType:"json",
                success:function (data) {
                    alert(data.msg);
                    parent.location.reload();
                }
            })
        }else{
            $.ajax({
                url:"/sdglGroundConnection/Dictionaries/DictionariesByNameTypecan",
                data:{valueContent1:la},
                type:"get",
                dataType:"json",
                success:function (data) {
                    if(data.data==1){
                        alert("类型已存在")
                    }else{
                        var haha=$("#one").val()
                        if(haha.value =="" || haha.length==0){
                            alert("餐厅类型不能为空")
                        }else{
                            $.ajax({
                                url:"/sdglGroundConnection/Dictionaries/DictionariesCanthree",
                                data:lala,
                                type:"get",
                                dateType:"json",
                                success:function (data) {
                                    alert(data.msg);
                                    parent.location.reload();
                                }
                            })
                        }
                    }
                }
            })
        }
    }
</script>
</body>

</html>