<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>网站后台管理模版</title>
	<link rel="stylesheet" th:href="@{/css/layui.css}" media="all">
</head>

<body>
<div class="page-content-wrap">
	<form class="layui-form" action="">
		<div class="layui-form-item">
			<div class="layui-inline tool-btn">
				<button class="layui-btn layui-btn-small layui-btn-normal addBtn hidden-xs" type="button" id="ppp"><i class="layui-icon">&#xe654;</i></button>
			</div>
			<div class="layui-inline">
				<input type="text" name="hotelName" placeholder="请输入酒店名称" autocomplete="off" class="layui-input">
			</div>
			<button class="layui-btn layui-btn-normal" lay-submit="search" id="ss" type="button">搜索</button>
		</div>
	</form>
	<div class="layui-form" id="table-list">
		<table class="layui-table" lay-skin="line">
			<colgroup>
				<col width="50">
				<col class="hidden-xs" width="100">
				<col class="hidden-xs" width="100">
				<col class="hidden-xs" width="100">
				<col class="hidden-xs" width="120">
				<col width="150">
				<col width="130">
				<col width="130">
				<col width="80">
				<col width="130">
			</colgroup>
			<thead>
			<tr>
				<th></th>
				<th class="">酒店编号</th>
				<th class="">名称</th>
				<th class="">星级</th>
				<th class="">地址</th>
				<th class="">是否提供早餐</th>
				<th class="">联系电话</th>
				<th class="">报价</th>
				<th>操作</th>
			</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
		<div id="hbb" style="text-align: center"></div>
	</div>
</div>
<script th:src="@{/js/jquery-1.8.2.min.js}"></script>
<script th:src="@{/layui.js}"></script>
<script>
    var limitcount = 3; // 每页总记录数
    var curnum = 1;  // 当前页码
   $(function () {
       $(document).on("click","#ppp",function () {
           layer.open({
               type: 2,
               title: '账户新增',
               maxmin: true,
               shadeClose: true, //点击遮罩关闭层
               area : ['800px' , '600px'],
               content: '/sdglGroundConnection/countAdjust/hotel-add'
           });
       })
      hotelShowAll();
     $("#ss").click(function () {
           hotelShowAll();
       })
   })
    /**
     * 修改酒店信息
     */
    function  hotelUpdate(hotelId) {
        $(document).on(
            layer.open({
                type: 2,
                title: '酒店修改',
                maxmin: true,
                shadeClose: true, //点击遮罩关闭层
                area : ['800px' , '600px'],
                content: '/sdglGroundConnection/countAdjust/hotel-update?hotelId='+hotelId+""
            })
        )
    }
	function hotelShowAll(){
        var costpriceOne=$("input[name='costpriceOne']").val();
        var costpriceTwo=$("input[name='costpriceTwo']").val();
        var hotelName=$("input[name='hotelName']").val();
        var str = "";
        $.ajax({
            url:"/sdglGroundConnection/Hotel/hotelShowAll",
            data:{pageNo:curnum,pageSize:limitcount,hotelName:hotelName,costpriceOne:costpriceOne,costpriceTwo:costpriceTwo},
            dataType:"json",
            type:"get",
            success:function (data) {
                var count=0;
                var count2=0;
                var context2="";
                var cc=(curnum-1)*limitcount+1;
                var breakfast  ="";
                var zt="";
                $.each(data.data,function (i,result) {
                    if (result.breakfast==0){
                        breakfast="提供";
                    }else {
                        breakfast="不提供";
                    }
                    if(result.status==0){
                        zt="禁用";
                    }else{
                        zt="可用";
                    }
                    count++;
                    count2++;
                    var fuqinid="node-"+count;
                    var erziclass="child-node-"+count2+" parent collapsed";
                    var updatedisabled;
                    context2+="<tr id='"+fuqinid+"' class=\"parent collapsed\">\n" +
                        "<td>" +
                        "<a class=\"layui-btn layui-btn-mini layui-btn-normal showSubBtn\" data-id='"+count2+"'>+</a></td>\n" +
                        " <td class=''>"+cc+"</td>"+
                        " <td class=''>"+result.hotelName+"</td>"+
                        "  <td class=''>"+result.starHotel+"</td>"+
                        " <td class=''>"+result.hotelAddress+"</td>"+
                        "  <td class=''>"+breakfast+"</td>"+
                        "  <td class=''>"+result.phone+"</td>"+
                        "  <td class=''>"+result.offer+"</td>"+
                        updatedisabled+
                        "<td style='width: 180px'>\n" +
                        "<div class=\"layui-inline\">\n" +
                        "<button class=\"layui-btn layui-btn-mini layui-btn-normal\" id=\"insert2\" value=\""+result.hotelId+"\" style='width: 40px' onclick='addFangjian("+result.hotelId+")'><i class=\"layui-icon\">&#xe654;</i></button>\n" +
                        "<button class=\"layui-btn layui-btn-mini layui-btn-normal\" id=\"update\" value=\""+result.hotelId+"\" style='width: 40px' onclick='hotelUpdate("+result.hotelId+")'><i class=\"layui-icon\">&#xe642;</i></button>\n" +
                        "<button class=\"layui-btn layui-btn-mini layui-btn-danger\" id=\"delete\" value=\""+result.hotelId+"\" style='width: 40px' onclick='delHotel("+result.hotelId+")'><i class=\"layui-icon\">&#xe640;</i></button>\n" +
                        "</div>\n" +
                        "</td>\n" +
                        "</tr>";
                    if(result.roomTypesList.length>0){
                        count++;
                        context2+="<tr id='"+fuqinid+"' class=\""+erziclass+"\" style=\"display:none ;background-color: #D6E9C6;\" parentid=\"1\">\n" +
                            "\t\t\t\t\t\t\t\t<td class=\"\"></td>\n" +
                            "\t\t\t\t\t\t\t\t<td class=\"\"></td>\n" +
                            "\t\t\t\t\t\t\t\t<td class=\"\">房间类型</td>\n" +
                            "\t\t\t\t\t\t\t\t<td class=\"\">房间报价</td>\n" +
                            "\t\t\t\t\t\t\t\t<td class=\"\"></td>\n" +
                            "\t\t\t\t\t\t\t\t<td class=\"\"></td>\n" +
                            "\t\t\t\t\t\t\t\t<td class=\"\"></td>\n" +
                            "\t\t\t\t\t\t\t\t<td class=\"\"></td>\n" +
                            "\t\t\t\t\t\t\t\t<td class=\"\">操作</td>\n" +
                            "\t\t\t\t\t\t\t</tr>";
                        $.each(result.roomTypesList,function (j,p) {
                            count++;
                            context2+="<tr id='"+fuqinid+"' class=\""+erziclass+"\" style=\"display:none ;\" parentid=\"1\">\n" +
                                "<td class=\"\"></td>\n" +
                                "<td class=\"\"></td>\n" +
                                "<td class=\"\">"+p.typeName+"</td>\n" +
                                "<td class=\"\">"+p.offer+"</td>\n" +
                                "<td class=\"\"></td>\n" +
                                "<td class=\"\"></td>\n" +
                                "<td class=\"\"></td>\n" +
                                "<td class=\"\"></td>\n" +
                                "<td>\n" +
                                "<div class=\"layui-inline\">\n" +
                                "<button class=\"layui-btn layui-btn-mini layui-btn-normal\" id=\"update2\" value=\""+p.typeId+"\" onclick='updateFangjian("+p.typeId+","+result.hotelId+")'><i class=\"layui-icon\">&#xe642;</i></button>\n" +
                                "<button class=\"layui-btn layui-btn-mini layui-btn-danger\" id=\"delete2\" value=\""+p.typeId+"\" onclick='del("+p.typeId+")'><i class=\"layui-icon\">&#xe640;</i></button>\n" +
                                "</div>\n" +
                                "</td>\n" +
                                "</tr>";
                        })
                    }
                    $("tbody").html(context2);
                    // 分页插件
                    layui.use('table', function () {
                        var laypage = layui.laypage;
                        laypage.render({
                            elem: 'hbb'
                            , count: data.count
                            , curr: curnum
                            , limit: 3
                            , layout: ['prev', 'page', 'next', 'skip', 'count']
                            , jump: function (obj, first) {
                                if (!first) {
                                    //obj包含了当前分页的所有参数，比如：
                                    curnum = obj.curr; // 当前页码
                                    limitcount = obj.limit; // 每页记录数
                                    // 查询新数据
                                    hotelShowAll();
                                }
                            }
                        })
                    })
                    cc++;
                })
            },error:function () {
                alert(123)
            }
        })
	}

	function  addFangjian(hotelId) {
        $(document).on(
            layer.open({
                type: 2,
                title: '房间新增',
                maxmin: true,
                shadeClose: true, //点击遮罩关闭层
                area : ['800px' , '350px'],
                content: '/sdglGroundConnection/countAdjust/hotel-roomType-add?hotelId='+hotelId
            })
		)
    }

    /**
	 * 酒店修改方法修改方法
     * @param typeId
     */
    function  updateFangjian(typeId,hotelId) {
        $(document).on(
            layer.open({
                type: 2,
                title: '房间修改',
                maxmin: true,
                shadeClose: true, //点击遮罩关闭层
                area : ['800px' , '350px'],
                content: '/sdglGroundConnection/countAdjust/hotel-roomType-update?typeId='+typeId+"&hotelId="+hotelId
            })
        )
    }



function del(typeId){
  if (confirm("确定要删除么?")){
   $.ajax({
       url:"/sdglGroundConnection/Hotel/removeRoomType",
       data:{hotelId:typeId},
       dataType:"json",
       type:"get",
       success:function (data) {
           if (data!=null){
               alert("删除成功！");
               hotelShowAll();
           }
       },
       error:function () {
           alert("删除房间失败");
       }
   })
  }
}

    function delHotel(hotelId){
        if (confirm("确定要删除么?")){
            $.ajax({
                url:"/sdglGroundConnection/Hotel/removeHoter",
                data:{hotelId:hotelId},
                dataType:"json",
                type:"get",
                success:function (data) {
                    if (data!=null){
                        alert("删除酒店成功！");
                        hotelShowAll();
                    }
                },
                error:function () {
                    alert("删除酒店失败");
                }
            })
        }
    }



    layui.use(['jquery'], function() {
        var $=layui.jquery;
        //修改状态
        $('#table-list').on('click', '.table-list-status', function() {
            var That = $(this);
            var status = That.attr('data-status');
            var id = That.parent().attr('data-id');
            if(status == 1) {
                That.removeClass('layui-btn-normal').addClass('layui-btn-warm').html('隐藏').attr('data-status', 2);
            } else if(status == 2) {
                That.removeClass('layui-btn-warm').addClass('layui-btn-normal').html('显示').attr('data-status', 1);

            }
        })
        //栏目展示隐藏
        $(document).on('click','.showSubBtn', function() {
            var _this = $(this);
            var id = _this.attr('data-id');
            var parent = _this.parents('.parent');
            var child = $('.child-node-' + id);
            var childAll = $('tr[parentid=' + id + ']');
            if(parent.hasClass('collapsed')) {
                _this.html('-');
                parent.addClass('expanded').removeClass('collapsed');
                child.css('display', '');
            } else {
                _this.html('+');
                parent.addClass('collapsed').removeClass('expanded');
                child.css('display', 'none');
                childAll.addClass('collapsed').removeClass('expanded').css('display', 'none');
                childAll.find('.showSubBtn').html('+');
            }
        })
    });
</script>
</body>

</html>