<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>网站后台管理模版</title>
        <link rel="stylesheet" type="text/css" href="/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="/css/baojiadan.css" />
</head>
<body>
<div class="page-content-wrap">
	<div id="divhead">
	<form class="layui-form layui-form-pane" action="">
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><label class="layui-form-label">组团社名称</label></td>
					<td>
						<select name="city" lay-verify="required">
							<option value=""></option>
							<option value="0">哈红祖</option>
							<option value="1">无敌组</option>
							<option value="2">哈皮组</option>
							<option value="3">66组</option>
							<option value="4">纪检组</option>
						</select>
					</td>
					<td><label class="layui-form-label">人数</label></td>
					<td><input type="text" class="layui-input"></td>
				</tr>
				<tr>
					<td><label class="layui-form-label">开始时间</label></td>
					<td> <input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input"></td>
					<td><label class="layui-form-label">结束时间</label></td>
					<td> <input type="text" name="date" id="date1" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input"></td>
				</tr>
			</table>
		</form>
	</div>

	<div id="zong" >
		<div style='margin-bottom: 30px;width: 800px'>
			<input type="image" src="/images/up.PNG" style="height: 30px;width: 35px;" id="toggle" onclick='qiehuan(this)'/>

			<input type="image" id="sc" src="/images/del.PNG" onclick='shanchu(this)' style="display:inline-block;float: right; height: 30px;width: 35px;"/>
			<div id="content">
					<form class="layui-form layui-form-pane" action="">
						<table border="0" cellspacing="0" cellpadding="0">

							<tr>
								<td><label class="layui-form-label">线路</label></td>
								<td>
									<select name="city" lay-verify="required" lay-search>
										<option value=""></option>
										<option value="0">哈红祖</option>
										<option value="1">无敌组</option>
										<option value="2">哈皮组</option>
										<option value="3">66组</option>
										<option value="4">纪检组</option>
									</select>
								</td>
								<td colspan="2">&nbsp;<button type="button" class='layui-btn layui-btn-normal layui-btn-radius' style='height: 30px;width: 100px;' onclick="xianlu(this)">自行填写</button></td>
								<td colspan="2">&nbsp;<button type="button"  class='layui-btn layui-btn-normal layui-btn-radius' style='height: 30px;width: 100px'>保存模板</button></td>
							</tr>
							<tr>
							<td><label class="layui-form-label">日期</label></td>
							<td>
								<input type="text" name="date" id="date2" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
							</td>
						</tr>

							<tr>
								<td><label class="layui-form-label">酒店</label></td>
								<td>
									<select name="city" lay-verify="required">
										<option value=""></option>
										<option value="0">哈红祖</option>
										<option value="1">无敌组</option>
										<option value="2">哈皮组</option>
										<option value="3">66组</option>
										<option value="4">纪检组</option>
									</select>
								</td>
								<td>
									<select name="city" lay-verify="required">
										<option value=""selected="selected">请选择酒店</option>
										<option value="0">哈红祖</option>
										<option value="1">无敌组</option>
										<option value="2">哈皮组</option>
										<option value="3">66组</option>
										<option value="4">纪检组</option>
									</select>
								</td>
								<td><label class="layui-form-label">数量：</label></td>
								<td><input type="text" class="layui-input"></td>
								<td><label class="layui-form-label">成本价</label></td>
								<td><input type="text" class="layui-input"></td>
							</tr>
							<tr>
								<td><label class="layui-form-label">司陪：</label></td>
								<td><label class="layui-form-label" style="width: 140px;">房间数：</label></td>
								<td><input type="text" class="layui-input"></td>
								<td><label class="layui-form-label">成本价：</label></td>
								<td><input type="text" class="layui-input"></td>
							</tr>
							<!--点击新增景点-->
							<tr id="onClickjd">
								<td colspan="2"><button class="layui-btn" type="button" style="font-size: 12px" onclick="add(this)">添加景点+</button></td>
							</tr>
							<!--点击新增结束-->
							<tr id="scenic">
								<td><label class="layui-form-label">景点</label></td>
								<td>
									<select name="city" lay-verify="required">
										<option value=""></option>
										<option value="0">哈红祖</option>
										<option value="1">无敌组</option>
										<option value="2">哈皮组</option>
										<option value="3">66组</option>
										<option value="4">纪检组</option>
									</select>
								</td>
								<td><label class="layui-form-label">成本价:</label></td>
								<td><input type="text" class="layui-input"></td>
								<td><label class="layui-form-label">报价:</label></td>
								<td><input type="text" class="layui-input"></td>
							</tr>
							<tr>
									<td><label class="layui-form-label">购物地：</label></td>
									<td colspan="3">
										<select name="city" lay-verify="required">
											<option value="">无</option>
											<option value="0">啊</option>
											<option value="1">北大青鸟</option>
											<option value="2">哈皮组</option>
											<option value="3">66组</option>
											<option value="4">纪检组</option>
										</select>
									</td>
									<td></td>
									<td></td>
							</tr>
							<tr>
									<td><label class="layui-form-label">午餐</label></td>
								<td>
									<select name="city" lay-verify="required">
										<option value=""></option>
										<option value="0">哈红祖</option>
										<option value="1">无敌组</option>
										<option value="2">哈皮组</option>
										<option value="3">66组</option>
										<option value="4">纪检组</option>
									</select>
								</td>
								<td>
									<select name="city" lay-verify="required">
										<option value=""selected="selected">请选择酒店</option>
										<option value="0">哈红祖</option>
										<option value="1">无敌组</option>
										<option value="2">哈皮组</option>
										<option value="3">66组</option>
										<option value="4">纪检组</option>
									</select>
								</td>
								<td><label class="layui-form-label">成本价</label></td>
								<td colspan="3"><input type="text" class="layui-input"></td>
							</tr>
							<tr>
								<td><label class="layui-form-label">晚餐</label></td>
								<td>
									<select name="city" lay-verify="required">
										<option value=""></option>
										<option value="0">哈红祖</option>
										<option value="1">无敌组</option>
										<option value="2">哈皮组</option>
										<option value="3">66组</option>
										<option value="4">纪检组</option>
									</select>
								</td>
								<td>
									<select name="city" lay-verify="required">
										<option value=""selected="selected">请选择酒店</option>
										<option value="0">哈红祖</option>
										<option value="1">无敌组</option>
										<option value="2">哈皮组</option>
										<option value="3">66组</option>
										<option value="4">纪检组</option>
									</select>
								</td>
								<td><label class="layui-form-label">成本价</label></td>
								<td colspan="3"><input type="text" class="layui-input"></td>
							</tr>
							<tr>
								<td><label class="layui-form-label">行程</label></td>
								<td colspan="5"> <textarea placeholder="请输入内容" class="layui-textarea" name="desc"></textarea></td>
							</tr>
						</table>
					</form>
			</div>
		</div>
		<button class='layui-btn layui-btn-normal layui-btn-radius' onclick='addss()' id="add">十</button>
		<!---中结束-->
	</div>

	<div id="divfoot">
		<form class="layui-form layui-form-pane" action="">
				<table border="0	" cellspacing="0" cellpadding="0" style="width: 900px;">
					<tr>
						<td><label class="layui-form-label">导游：</label></td>
						<td>
							<select name="city" lay-verify="required">
								<option value="" selected="selected">导游一</option>
								<option value="0">哈红祖</option>
								<option value="1">无敌组</option>
								<option value="2">哈皮组</option>
								<option value="3">66组</option>
								<option value="4">纪检组</option>
							</select>
						</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
							<td><label class="layui-form-label">车费：</label></td>
							<td width="300px"><input type="text" class="layui-input"></td>
							<td>
								<table border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td><label class="layui-form-label">报停费：</label></td>
							<td><input type="text" class="layui-input"></td>
									</tr>
								</table>
							</td>
					</tr>
					<tr>
						<td><label class="layui-form-label">酒水：</label></td>
						<td width="300px"><input type="text" class="layui-input"></td>
					</tr>
					<tr>
						<td><label class="layui-form-label">车队：</label></td>
								<td>
									<select name="city" lay-verify="required">
										<option value="" selected="selected">请选择车辆类型</option>
										<option value="0">哈红祖</option>
										<option value="1">无敌组</option>
										<option value="2">哈皮组</option>
										<option value="3">66组</option>
										<option value="4">纪检组</option>
									</select>
								</td>
								<td>
									<select name="city" lay-verify="required">
										<option value=""selected="selected">请选择车辆公司</option>
										<option value="0">哈红祖</option>
										<option value="1">无敌组</option>
										<option value="2">哈皮组</option>
										<option value="3">66组</option>
										<option value="4">纪检组</option>
									</select>
								</td>
							<td>
								<table border="0" cellspacing="0" cellpadding="0">
									<tr>
											<td><label class="layui-form-label" >成本价:</label></td>
								<td><input type="text" class="layui-input"></td>
									</tr>
								</table>
							</td>
						<td>
							<table border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td><label class="layui-form-label" >数量:</label></td>
									<td><input type="text" class="layui-input"></td>
								</tr>
							</table>
						</td>
					</tr>

					<tr>
										<td><label class="layui-form-label">其他：</label></td>
										<td>
											<table border="0"  cellspacing="0"  cellpadding="0">
											<tr>
												<td><label class="layui-form-label">成本价：</label></td>
						             	<td width="300px"><input type="text" class="layui-input"></td>
											</tr>
											</table>
										</td>
					</tr>
					<tr>
										<td><label class="layui-form-label"><小费></小费>：</label></td>
										<td width="300px"><input type="text" class="layui-input"></td>
					</tr>
					<tr>
						<td><label class="layui-form-label">备注：</label></td>
						<td colspan="5"><textarea placeholder="请输入内容" class="layui-textarea" name="desc"></textarea></td>
					</tr>
					<tr>
						<td><label class="layui-form-label">接待标准：</label></td>
						<td colspan="5"><textarea placeholder="请输入内容" class="layui-textarea" name="desc"></textarea></td>
					</tr>
					<tr>
						<td></td>
						<td><button class='layui-btn layui-btn-normal layui-btn-radius'>预览报价单</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						<td><button class='layui-btn layui-btn-normal layui-btn-radius' id="baocun">打印报价单</button></td>
					</tr>
				</table>
			</form>
		<!--底部div结束-->
	</div>

</div>
		<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="/layui.js"></script>
		<script type="text/javascript" src="/js/scheduling.js"></script>
		<script type="text/javascript">
            function san(dang) {
                $(dang).parent().parent().remove();
            }

            function add(onClickjd) {
                $(onClickjd).parent().parent().next().after("<tr id='scenic'>" +
                    "<td><label class='layui-form-label'>景点</label></td>" +
                    "<td>" +
                    "<select name='city' lay-verify='required'>" +
                    "<option value=''></option>" +
                    "<option value='0'>哈红祖</option>" +
                    "<option value='1'>无敌组</option>" +
                    "<option value='2'>哈皮组</option>" +
                    "<option value='3'>66组</option>" +
                    "<option value='4'>纪检组</option>" +
                    "</select>" +
                    "</td>" +
                    "<td><label class='layui-form-label'>成本价:</label></td>" +
                    "<td><input type='text' class='layui-input'></td>" +
                    "<td><label class='layui-form-label'>报价:</label></td>" +
                    "<td><input type='text' class='layui-input'></td>" +
                    "<td style='bottom: 0px;'><label class='layui-form-label' onclick='san(this)'>×</label></td>" +
                    "</tr>");
                layui.use(['form', 'layedit', 'laydate', 'element'], function () {
                    var form = layui.form,
                        layer = layui.layer,
                        layedit = layui.layedit,
                        element = layui.element,
                        laydate = layui.laydate,
                        a;
                    form.render(); //更新全部
                    form.render('select'); //刷新select选择框渲染
                });
            }

			$(function() {
				layui.use(['form', 'layedit', 'laydate','element'], function() {
					var form = layui.form,
							layer = layui.layer,
							layedit = layui.layedit,
							element=layui.element,
							laydate = layui.laydate;
                    //日期
                    laydate.render({
                        elem: '#date'
                    });
                    laydate.render({
                        elem: '#date1'
                    });
                    laydate.render({
                        elem: '#date2'
                    });
					element.render( 'test1');
					form.render('select', 'test1');
					form.on('radio(*)', function(data){
						/*console.log(data.elem); //得到radio原始DOM对象
						 console.log(data.value); //被点击的radio的value值*/
						alert("是是是");

					});
				});
			});

		</script>
</body>

</html>