<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

	<title>网站后台管理模版</title>
        <link rel="stylesheet" type="text/css" href="/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="/css/baojiadan.css" />
</head>
<body>
<div class="page-content-wrap">
	<input type="hidden" name="offerId" th:value="${id}"/>
	<input type="hidden" name="Did" th:value="${did}"/>
	<input type="text" id="offer" name="offer" th:value="${offer}"/>
	<div id="divhead">
	<form class="layui-form layui-form-pane" action="">
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><label class="layui-form-label">组团社名称</label></td>
					<td>
						<select name="travel" style="height: 35px;width:180px;" lay-ignore>
							<option value="">-请选择-</option>
							<option value="0">哈红祖</option>
						</select>
					</td>
					<td><label class="layui-form-label">人数</label></td>
					<td><input type="text" name="num" class="layui-input"></td>
				</tr>
				<tr>
					<td><label class="layui-form-label">开始时间</label></td>
					<td> <input type="text" name="travelStartTime" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input"></td>
					<td><label class="layui-form-label">结束时间</label></td>
					<td> <input type="text" name="travelEndTime" id="date1" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input"></td>
				</tr>
			</table>
		</form>
	</div>

	<div id="zong" >
		<div name="xianlu" style='margin-bottom: 60px;width: 1100px'>
			<input type="hidden" value="1"/>
			<input type="image" src="/images/up.PNG" style="height: 30px;width: 35px;" id="toggle" onclick='qiehuan(this)'/>
			<input type="image" name="hiddendel" src="/images/del.PNG" onclick='shanchu(this)' style="display:inline-block;float: right; height: 30px;width: 35px;display: none"/>
			<div id="content">
					<form class="layui-form layui-form-pane" action="">
						<table border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td><label class="layui-form-label">线路</label></td>
								<td>
									<select name="d1template" style="height: 35px;width:180px;" onchange="xianluchange(this)" lay-ignore>
										<option value="0">--请选择--</option>
									</select>
								</td>
								<td colspan="2">&nbsp;<button type="button" name="d1qiehuan" class='layui-btn layui-btn-normal layui-btn-radius' style='height: 30px;width: 100px;' onclick="xianlu(this)">自行填写</button></td>
							</tr>
							<tr>
							<td><label class="layui-form-label">日期</label></td>
							<td>
								<input type="text" name="d1data" id="date2" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
							</td>
						</tr>
							<tr>
								<td><label class="layui-form-label">酒店</label></td>
								<td>
									<select name="d1hoteltype" style="height: 35px;width:180px;" onchange="typechange(this,'hoteltype')" lay-ignore>
										<option value="0">--请选择--</option>
										<option value="0">哈红祖</option>
									</select>
								</td>
								<td>
									<select name="d1hotel" onchange="emptynum(this)" style="height: 35px;width:180px;" lay-ignore>
										<option value="0"selected="selected">请选择酒店房间类型</option>
									</select>
								</td>
								<td><label class="layui-form-label" >数量：</label></td>
								<td><input name="d1num" type="text" onchange="sumchange(this)" class="layui-input"></td>
								<td><label class="layui-form-label">成本价</label></td>
								<td><input name="d1jiucb" type="text" class="layui-input"></td>
								<td style="width: 90px;padding-left: 5px;">签单<input type="radio" value="签单" name="d1hotelpayment"></td>
								<td style="width: 90px;">付现<input type="radio" value="付现" name="d1hotelpayment"></td>
							</tr>
							<tr>
								<td><label class="layui-form-label">司陪：</label></td>
								<td><label class="layui-form-label"  style="width: 140px;">房间数：</label></td>
								<td><input name="d1spnum" type="text"  onchange="sipeichange(this)" class="layui-input"></td>
								<td><label class="layui-form-label">成本价：</label></td>
								<td><input name="d1spchengben" type="text" class="layui-input"></td>
							</tr>
							<!--点击新增景点-->
							<tr id="onClickjd">
								<td colspan="2"><button class="layui-btn" name="d1scenicspot" type="button" style="font-size: 12px" onclick="add(1)">添加景点+</button></td>
							</tr>
							<!--点击新增结束-->
							<tr id="scenic" name="d1jingdian">
								<td><label class="layui-form-label">景点</label></td>
								<td>
									<select name="d1scenicspot1" style="height: 35px;width:180px;" onchange="jdchange(this)" lay-ignore>
										<option value="0">--请选择--</option>
									</select>
								</td>
								<td><label class="layui-form-label" style="width: 200px;">成本价:</label></td>
								<td><input type="text" name="d1costprice1" class="layui-input"></td>
								<td></td>
								<td></td>
								<td></td>
								<td style="width: 90px;padding-left: 5px;">签单<input type="radio" value="签单" name="d1jingdpayment1"></td>
								<td style="width: 90px;">付现<input type="radio" value="付现" name="d1jingdpayment1"></td>
							</tr>
							<tr name="d1gouwudi">
									<td><label class="layui-form-label">购物地：</label></td>
									<td colspan="3">
										<select name="d1shopping" style="height: 35px;width:180px;" lay-ignore>
											<option value="0">--请选择--</option>
										</select>
									</td>
									<td></td>
									<td></td>
							</tr>
							<tr>
									<td><label class="layui-form-label">午餐</label></td>
								<td>
									<select name="d1wucan" style="height: 35px;width:180px;" onchange="typechange(this,'fantype')" lay-ignore>
										<option value="0">--请选择--</option>
									</select>
								</td>
								<td>
									<select name="d1wufan" style="height: 35px;width:180px;" onchange="jdchange(this)" lay-ignore>
										<option value="0">--请选择午餐类型--</option>
									</select>
								</td>
								<td><label class="layui-form-label">成本价</label></td>
								<td colspan="3"><input name="d1wucancb" type="text" class="layui-input"></td>
								<td style="width: 90px;padding-left: 5px;">签单<input type="radio" value="签单" name="d1wucanpayment"></td>
								<td style="width: 90px;">付现<input type="radio" value="付现" name="d1wucanpayment"></td>
							</tr>
							<tr>
								<td><label class="layui-form-label">晚餐</label></td>
								<td>
									<select name="d1wancan" style="height: 35px;width:180px;" onchange="typechange(this,'fantype')" lay-ignore>
										<option value="0">--请选择--</option>

									</select>
								</td>
								<td>
									<select name="d1wanfan" style="height: 35px;width:180px;" onchange="jdchange(this)" lay-ignore>
										<option value="0">--请选择晚餐类型--</option>
									</select>
								</td>
								<td><label class="layui-form-label">成本价</label></td>
								<td colspan="3"><input type="text" name="d1wancancb" class="layui-input"></td>
								<td style="width: 90px;padding-left: 5px;">签单<input type="radio" value="签单" name="d1wancanpayment"></td>
								<td style="width: 90px;">付现<input type="radio" value="付现" name="d1wancanpayment"></td>
							</tr>
							<tr>
								<td><label class="layui-form-label">行程</label></td>
								<td colspan="5"> <textarea placeholder="请输入内容" class="layui-textarea" name="d1xingcheng"></textarea></td>
							</tr>
						</table>
					</form>
			</div>
		</div>
		<button class='layui-btn layui-btn-normal layui-btn-radius' onclick='addss()' id="add">十</button>
		<!---中结束-->
	</div>

	<div id="divfoot">
		<form class="layui-form layui-form-pane" action="">
				<table border="0	" cellspacing="0" cellpadding="0" style="width: 1000px;">
					<tr>
						<td><label class="layui-form-label">导游：</label></td>
						<td>
							<select name="guide"style="height: 35px;width:233px;" lay-ignore>
								<option value="0">--请选择--</option>
							</select>
						</td>
						<td colspan="2">
							<table border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td><label class="layui-form-label">接团时间：</label></td>
									<td colspan="3"><input type="text" name="clusterTime" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input"></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td><label class="layui-form-label">接团地点：</label></td>
						<td width="80px">
							<input type="text" name="clusterAdderss" class="layui-input">
						</td>
						<td colspan="2">
							<table border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td><label class="layui-form-label">航班/车次：</label></td>
									<td colspan="3"><input type="text" name="clusterNo" class="layui-input"></td>
								</tr>
							</table>
						</td>
					</tr>

					<tr>
						<td><label class="layui-form-label">酒水：</label></td>
						<td width="80px"><input type="text" name="jiushui" class="layui-input"></td>
						<td colspan="2">
							<table border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td><label class="layui-form-label">发往线路：</label></td>
									<td colspan="2"><input type="text" name="sendLine" class="layui-input"></td>
								</tr>
							</table>
						</td>
					</tr>
		<!--			<tr>
						<td><label class="layui-form-label">返程类型：</label></td>
						<td>
							<select name="traffic" onchange="fancheng(this)" style="height: 35px;width:180px;" lay-ignore>
								<option value="" selected="selected">&#45;&#45;无&#45;&#45;</option>
							</select>
						</td>
					</tr>-->
					<tr>
										<td><label class="layui-form-label">其他：</label></td>
										<td>
											<table border="0"  cellspacing="0"  cellpadding="0">
											<tr>
												<td><label class="layui-form-label">成本价：</label></td>
						             	<td><input type="text" name="qitacb" class="layui-input"></td>
											</tr>
											</table>
										</td>
						<td colspan="2">
							<table border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td><label class="layui-form-label">过停费：</label></td>
									<td><input type="text" name="baoting" class="layui-input"></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td><label class="layui-form-label">小费：</label></td>
						<td><input type="text" name="xiaofei"  class="layui-input"></td>
						<td colspan="2">
							<table border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td><label class="layui-form-label">导游借款：</label></td>
									<td><input type="text" name="loan"  class="layui-input"></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td><label class="layui-form-label">车队</label></td>
						<td>
							<select name="vehicle" onchange="typechange(this,'cartype')" style="height: 35px;width:233px;" lay-ignore>
								<option value="0">--请选择--</option>
							</select>
						</td>
						<td>
							<select name="carrental" onchange="emptynum(this)" style="height: 35px;width:180px;" lay-ignore>
								<option value="0">--请选择车队类型--</option>
							</select>
						</td>
						<td><label class="layui-form-label" >数量:</label></td>
						<td><input name="cheduinum" type="text" onchange="sumchange(this)" class="layui-input"></td>
						<td><label class="layui-form-label" >成本价:</label></td>
						<td><input type="text" name="cheduicb" class="layui-input"></td>
					</tr>
					<tr>
						<td><label class="layui-form-label">车联系人：</label></td>
						<td><input type="text" name="cheduilxr" class="layui-input"></td>
						<td colspan="3">(如：张师傅，13333333333，晋H:88888)</td>
					</tr>
					<tr>
						<td><label class="layui-form-label">备注：</label></td>
						<td colspan="5"><textarea placeholder="请输入内容" class="layui-textarea" name="remarks"></textarea></td>
					</tr>
					<tr>
						<td><label class="layui-form-label">接待标准：</label></td>
						<td colspan="5"><textarea placeholder="请输入内容" class="layui-textarea" name="reception"></textarea></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td><button class='layui-btn layui-btn-normal layui-btn-radius' type="button" onclick="saveDispatch()" id="baocun">保存</button></td>
					</tr>
				</table>
			</form>
		<!--底部div结束-->
	</div>

</div>
		<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="/layui.js"></script>
		<script type="text/javascript" src="/js/scheduling.js"></script>
		<script type="text/javascript">
            //窗体加载事件
            $(function() {
                layui.use(['form', 'layedit', 'laydate','element'], function() {
                    var form = layui.form,
                        layer = layui.layer,
                        layedit = layui.layedit,
                        element=layui.element,
                        laydate = layui.laydate;
                    //日期
                    laydate.render({
                        elem: '#date'
                    });
                    laydate.render({
                        elem: '#date1'
                    });
                    laydate.render({
                        elem: '#date2'
                    });
                    element.render( 'test1');

                });
                gerresource();
                var offerId=$("input[name=offerId]").val();
                var Did=$("input[name=Did]").val();
                if(offerId!=null&&offerId!=0){
                    getofferById(offerId);
                    alert($("#offer").val());
                }
                if(Did!=null&&Did!=0){
					getdispatchById(Did);

				}

            });
			//删除景点信息
            function san(dang) {
                $(dang).parent().parent().remove();
            }
			//增加景点信息
            function add(qwe) {
				var index=qwe;
				var html=$("select[name=d1scenicspot1]").html();
				var leng=$("tr[name=d"+index+"jingdian]").length+1;
				$("tr[name=d"+index+"gouwudi]").prev().after("<tr id='scenic' name='d"+index+"jingdian'>" +
                    "<td><label class='layui-form-label'>景点</label></td>" +
                    "<td>" +
                    "<select name='d"+index+"scenicspot"+leng+"' style='height: 35px;width:180px;' onchange='jdchange(this)' lay-ignore>" +
                    ""+html+"</select>" +
                    "</td>" +
                    "<td><label class='layui-form-label' style='width: 200px;'>成本价:</label></td>" +
                    "<td><input type='text' name='d"+index+"costprice"+leng+"' class='layui-input'></td>" +
                    "<td style='bottom: 0px;'><label class='layui-form-label' onclick='san(this)'>×</label></td>" +
					"<td></td>"+
					"<td></td>"+
                    "<td style='width: 90px;padding-left: 5px;'>签单<input type='radio' value='签单' name='d"+index+"jingdpayment"+leng+"'></td>"+
                    "<td style='width: 90px;'>付现<input type='radio' value='付现' name='d"+index+"jingdpayment"+leng+"'></td>"+
                    "</tr>");
                layui.use(['form', 'layedit', 'laydate', 'element'], function () {
                    var form = layui.form,
                        layer = layui.layer,
                        layedit = layui.layedit,
                        element = layui.element,
                        laydate = layui.laydate,
                        a;
                    form.render(); //更新全部
                    form.render('select'); //刷新select选择框渲染
                });
            }
			//获取下拉框资源信息
            function gerresource(){
				$.ajax({
					url:"/dispatch/getresource",
					dataType:"json",
					type:"get",
					async:false,
					success:function (result) {
					    //给组团社下拉框加载信息
					    var content="<option value='0'>--请选择--</option>";
						$(result.data['travel']).each(function (i,e) {
								content+="<option value='"+e.travelId+"'>"+e.travelName+"</option>";
                        });
						$("select[name=travel]").html(content);
						content="<option value='0'>--请选择--</option>";
						//线路信息
                        $(result.data['template']).each(function (i,e) {
                            content+="<option value='"+e.templateId+"'>"+e.templateName+"</option>";
                        });
                        $("select[name=d1template]").html(content);
                        content="<option value='0'>--请选择--</option>";
                        //酒店类型
                        $(result.data['theroom']).each(function (i,e) {
                            content+="<option value='"+e.valueId+"'>"+e.valueContent1+"</option>";
                        });
                        $("select[name=d1hoteltype]").html(content);
                        content="<option value='0'>--请选择--</option>";
						//景点资源
                        $(result.data['scenicspot']).each(function (i,e) {
                            content+="<option value='"+e.scenicSpotId+"' price='"+e.costprice+"'>"+e.scenicSpotName+"</option>";
                        });
                        $("select[name=d1scenicspot1]").html(content);
                        content="<option value='0'>--请选择--</option>";
                        //购物地资源
                        $(result.data['shopping']).each(function (i,e) {
                            content+="<option value='"+e.shoppingId+"'>"+e.shoppingSite+"</option>";
                        });
                        $("select[name=d1shopping]").html(content);
                        content="<option value='0'>--请选择--</option>";
                        //饭店类型
                        $(result.data['diet']).each(function (i,e) {
                            content+="<option value='"+e.valueId+"'>"+e.valueContent1+"</option>";
                        });
                        $("select[name=d1wucan]").html(content);
                        $("select[name=d1wancan]").html(content);
                        content="<option value='0'>--请选择--</option>";
                        //导游
                        $(result.data['guide']).each(function (i,e) {
                            content+="<option value='"+e.guideId+"'>"+e.guideName+"</option>";
                        });
                        $("select[name=guide]").html(content);
                        content="<option value='0'>--请选择--</option>";
                        //车辆类型
                        $(result.data['vehicle']).each(function (i,e) {
                            content+="<option value='"+e.valueId+"'>"+e.valueContent1+"</option>";
                        });
                        $("select[name=vehicle]").html(content);
                        content="<option value='0'>--请选择--</option>";
                        //返程类型
                        $(result.data['traffic']).each(function (i,e) {
                            content+="<option value='"+e.valueId+"'>"+e.valueContent1+"</option>";
                        });
                        $("select[name=traffic]").html(content);
                        content="<option value='0'>--请选择--</option>";
                    },
					error:function (err) {
						alert(err);
                    }
				});
			}
			//选择景点后 显示成本价格
			function jdchange(obj) {
				var price=$(obj).find("option:selected").attr("price");
				$(obj).parent().next().next().children("input").val(price);
            }
            //资源类型下拉框改变值后  获取当前选择类型的资源信息
            function typechange(obj,type){
                var valueId=$(obj).val();
                if(valueId==0){
                    $(obj).parent().next().children("select").html("<option value='0'>--请选择--</option>");
                    return;
				}
				$.ajax({
					url:"/dispatch/listinfoByvalueId",
					data:{type:type,valueId:valueId},
					dataType:"json",
					type:"get",
					async:false,
					success:function (result) {
						 var content="<option value='0'>--请选择酒店--</option>";
                        if(type=="hoteltype"){
                            content="<option value='0'>--请选择酒店--</option>";
                            $(result.data).each(function (i,e) {
                                content+="<option value='"+e.hotelId+"' price='"+e.gettypeprice+"'>--"+e.hotelName+"--</option>";
                            });
                        }else if(type=="fantype"){
                            content="<option value='0'>--请选择饭店--</option>";
                            $(result.data).each(function (i,e) {
                                content+="<option value='"+e.typeId+"' price='"+e.costprice+"'>--"+e.restaurantName+"--</option>";
                            });
                        }else if(type=="cartype"){
                            content="<option value='0'>--请选择车队公司--</option>";
                            $(result.data).each(function (i,e) {
                                content+="<option value='"+e.typeId+"' price='"+e.costprice+"'>--"+e.carRentalName+"--</option>";
                            });
                        }
                        $(obj).parent().next().children("select").html(content);

                    },
					error:function (err) {
						alert(err);
                    }
				});
			}
			//获取酒店资源
			function hotelresource(index) {
                $.ajax({
                    url:"/dispatch/listinfoByvalueId",
                    data:{type:'hoteltype',valueId:1},
                    dataType:"json",
                    type:"get",
                    async:false,
                    success:function (result) {
                        var content="<option value='0'>--请选择酒店--</option>";
						$(result.data).each(function (i,e) {
							content+="<option value='"+e.hotelId+"' price='"+e.gettypeprice+"'>--"+e.hotelName+"--</option>";
						});
                        $("select[name=d"+index+"hotel]").html(content);
                    },
                    error:function (err) {
                        alert(err);
                    }
                });
            }
			//输入酒店和车队数量后计算成价格
			function sumchange(obj){
				var num=$(obj).val();
				var price=$(obj).parent().prev().prev().children("select").find("option:selected").attr("price");
				$(obj).parent().next().next().children("input").val(num*price);
			}
			//输入司陪房数量后  计算成本价格
			function sipeichange(obj) {
                var name=$(obj).attr("name");
                var index=name.substring(1,2);
                var hotelId=$("select[name=d"+index+"hotel]").val();
                if(hotelId==0){
                    alert("请先选择酒店！");
					return;
				}

				var num=$(obj).val();
                $.ajax({
                    url:"/dispatch/listinfoByvalueId",
                    data:{type:"hoteltype",valueId:3},
                    dataType:"json",
                    type:"get",
                    success:function (result) {
                            $(result.data).each(function (i,e) {
                                if(hotelId==e.hotelId){
                                    $(obj).parent().next().next().children("input").val(num*e.gettypeprice);
								}
                            });
                    },
                    error:function (err) {
                        alert(err);
                    }
                });
            }
            //重新选择酒店等资源后清空成本价文本框
            function emptynum(obj) {
				$(obj).parent().next().next().children("input").val('');
                $(obj).parent().next().next().next().next().children("input").val('');
                var name=$(obj).attr("name");
                var index=name.substring(1,2);
                $("input[name=d"+index+"spchengben]").val();
                $("input[name=d"+index+"spnum]").val();
            }
            //选择线路后  带出相关信息
            function xianluchange(obj) {
                var mid=$(obj).val();
                if(mid==0){
                    return;
				}

                var name=$(obj).attr("name");
                var index=name.substring(1,2);
                gethotelbyline(index);
                $.ajax({
                    url:"/Template/gettemplateById",
                    data:{mid:mid},
                    dataType:"json",
                    type:"get",
                    async:false,
                    success:function (result) {
                        for (var i=2;i<=7;i++){
							$("select[name=d"+index+"scenicspot"+i+"]").parent().parent().remove();
						}
                        $("select[name=d"+index+"hoteltype]").val(1);
                        $("select[name=d"+index+"hoteltype]").change();
						$("textarea[name=d"+index+"xingcheng]").text(result.data["parameter"].templateContent);
                        $("select[name=d"+index+"hotel]").children().each(function(){
                            if($(this).val() ==result.data["parameter"].hotelId){
                                $(this).prop("selected",true);
                            }
                        })
                        //$("select[name=d"+index+"hotel]").val(result.data["parameter"].hotelId);
                        $(result.data["scenicspot"]).each(function (i,e) {
                            if(i>0){
                                add(index);
                            }
                            $("input[name=d"+index+"costprice"+(i+1)+"]").val(e.costPrice);
                            $("select[name=d"+index+"scenicspot"+(i+1)+"]").val(e.scenicSpotId);
                        });
                    },
                    error:function (err) {
                        alert("系统异常！");
                    }
                });
            }
            //根据类型获取酒店信息
            function gethotelbyline(index) {
                $.ajax({
                    url:"/dispatch/listinfoByvalueId",
                    data:{type:"hoteltype",valueId:1},
                    dataType:"json",
                    type:"get",
                    success:function (result) {
                        var content="<option value='0'>--请选择酒店--</option>";
                            $(result.data).each(function (i,e) {
                                content+="<option value='"+e.hotelId+"' price='"+e.gettypeprice+"'>--"+e.hotelName+"--</option>";
                            });
                        $("select[name=d"+index+"hotel]").html(content);
                    },
                    error:function (err) {
                        alert(err);
                    }
                });
            }
            //根据报价页面传来的报价id获取该报价的所有信息
            function getofferById(id) {
				$.ajax({
					url:"/dispatch/getofferinfoById",
					data:{oid:id},
					dataType:"json",
					type:"get",
                    async:false,
					success:function (result) {
                        $("select[name=travel]").val(result.data["offer"].travelId);
                        $("input[name=num]").val(result.data["offer"].number);
                        $("input[name=travelStartTime]").val(result.data["offer"].travelStartTime);
                        $("input[name=travelEndTime]").val(result.data["offer"].travelEndTime);
						$("textarea[name=remarks]").text(result.data["offer"].remarks);
                        $("textarea[name=reception]").text(result.data["offer"].reception);
                        $("input[name=qitacb]").val(result.data["other"].costPrice);
                        $("input[name=xiaofei]").val(result.data["offer"].notcontain);
                        $("select[name=vehicle]").val(result.data["car"]);
                        $("select[name=vehicle]").change();
						$(result.data["line"]).each(function (i,e) {
							if(i>0){
								addss();
							}
							$("textarea[name=d"+(i+1)+"xingcheng]").text(e.travelContent);
							$("input[name=d"+(i+1)+"data]").val(e.date);
                            $("select[name=d"+(i+1)+"hoteltype]").val(1);
                            $("select[name=d"+(i+1)+"hoteltype]").change();
							var id=Array();
							var cb=Array();
                            $(result.data["scenic"]).each(function (q,w) {
									if(w.howmanydays==(i+1)){
									    id.push(w.scenicSpotId);
									    cb.push(w.costPrice);
									}
                            });
                            for (var r=0;r<id.length;r++){
                                if(r>0){
									add((i+1));
								}
								$("select[name=d"+(i+1)+"scenicspot"+(r+1)+"]").val(id[r]);
                                $("input[name=d"+(i+1)+"costprice"+(r+1)+"]").val(cb[r]);
							}
                            $("select[name=d"+(i+1)+"template]").children().each(function(){
                                if($(this).text() ==e.lineArriveName){
                                    $(this).prop("selected",true);
                                }
                            })
                        });
						$(result.data["hotel"]).each(function (i,e) {
                            $("select[name=d"+(i+1)+"hotel]").val(e.hotelId);
                            $("select[name=d"+(i+1)+"wucan]").val(result.data["wu"][i].valueId);
                            $("select[name=d"+(i+1)+"wucan]").change();
                            $("select[name=d"+(i+1)+"wancan]").val(result.data["wan"][i].valueId);
                            $("select[name=d"+(i+1)+"wancan]").change();
                        });

                    },
					error:function (err) {
						alert(err);
                    }
				});
            }
			//保存调度信息
			function saveDispatch() {
				var Did=$("input[name=Did]").val();
                if(Did!=null&&Did!=0){
                    updategetinfo();
                }else{
					savegetinfo();
				}
            }
             //修改时获取页面数据
            function updategetinfo() {
                var index=$("div[name=xianlu]").length;
                //创建json对象
                var dispatch={};
                var disguide={};
                var cluster={};
                var discar={};
                var disother={};
                var offerId =$("input[name=offerId]").val();
                //填充数据
                dispatch.groupNumber=$("select[name=travel]").val();
                dispatch.num=$("input[name=num]").val();
                dispatch.travelStartTime=$("input[name=travelStartTime]").val();
                dispatch.travelEndTime=$("input[name=travelEndTime]").val();
                dispatch.sendLine=$("input[name=sendLine]").val();
                dispatch.dispatchId=$("input[name=Did]").val();
                var tourist="";
                for (var i=0;i<index;i++){
                    var L=0;
                    $($("div[name=xianlu]")).each(function (z,x) {
                        if(z==i){
                            L=$(x).children("input:first-child").val();
                            return false;
                        }
                    });
                    tourist+="第"+(i+1)+"天:"+$("textarea[name=d"+(L)+"xingcheng]").text()+",";
                }
                dispatch.trip=tourist;
                dispatch.fare=$("input[name=baoting]").val();
                dispatch.wineFee=$("input[name=jiushui]").val();
                dispatch.notcontain =$("input[name=xiaofei]").val();
                dispatch.remarks=$("textarea[name=remarks]").text();
                dispatch.reception=$("textarea[name=reception]").text();
                dispatch.loan=$("input[name=loan]").val();
                dispatch.guideId=$("select[name=guide]").val();
                dispatch.carcontacts=$("input[name=cheduilxr]").val();
                disguide.guideId=$("select[name=guide]").val();
                disguide.disGuideId=$("select[name=guide]").attr("disGuideId");
                cluster.clusterTime=$("input[name=clusterTime]").val();
                cluster.clusterAdderss=$("input[name=clusterAdderss]").val();
                cluster.clusterNo=$("input[name=clusterNo]").val();
                cluster.clusterId=$("input[name=clusterTime]").attr("clusterId");
                discar.typeId=$("select[name=carrental]").val();
                discar.costPrice=$("input[name=cheduicb]").val();
                discar.number=$("input[name=cheduinum]").val();
                discar.disCarId=$("select[name=carrental]").attr("disCarId");
                disother.costPrice=$("input[name=qitacb]").val();
                disother.disOtherId=$("input[name=qitacb]").attr("disOtherId");
                //每一天的资源集合
                var dispatchhotelList=[];
                var hoteroomTypeList=[];
                var disattrList=[];
                var disshoppList=[];
                var disrestaurantList=[];

                //循环每一天的线路
                for (var i=0;i<index;i++){
                    //确认元素name的名称
                    var L=0;
                    $($("div[name=xianlu]")).each(function (z,x) {
                        if(z==i){
                            L=$(x).children("input:first-child").val();
                            return false;
                        }
                    });
                    var hoteroomtype={};
                    if($("input[name=d"+(L)+"template]").val()!=null&&$("input[name=d"+(L)+"template]").val()!=undefined){
                        hoteroomtype.temName=$("input[name=d"+(L)+"template]").val();
                    }else{
                        hoteroomtype.templateId=$("select[name=d"+(L)+"template]").val();
                    }
                    hoteroomtype.weight=(i+1);
                    hoteroomtype.date=$("input[name=d"+(L)+"data]").val();
                    hoteroomtype.xingcheng=$("textarea[name=d"+(L)+"xingcheng]").val();

                    hoteroomtype.hoteroomtId=$("textarea[name=d"+L+"xingcheng]").attr("hoteroomtId");

                    hoteroomTypeList.push(hoteroomtype);
                    var dispatchhotel={};
                    dispatchhotel.hotelId=$("select[name=d"+(L)+"hotel]").val();
                    dispatchhotel.costPrice=$("input[name=d"+(L)+"jiucb]").val();
                    dispatchhotel.date=$("input[name=d"+(L)+"data]").val();
                    dispatchhotel.weight=(i+1);
                    dispatchhotel.roomNum=$("input[name=d"+(L)+"num]").val();
                    dispatchhotel.valueId=$("input[name=d"+(L)+"spchengben]").val();
                    dispatchhotel.sproomNum=$("input[name=d"+(L)+"spnum]").val();
                    dispatchhotel.payment=$("input[name=d"+(L)+"hotelpayment]:checked").val();
                    dispatchhotel.hotelTypeId=$("select[name=d"+(L)+"hoteltype]").val();
                    dispatchhotel.dispatchHotelId=$("select[name=d"+L+"hotel]").attr("dispatchHotelId");
                    dispatchhotelList.push(dispatchhotel);
                    if($("select[name=d"+(L)+"shopping]").val()!=0&&$("select[name=d"+(L)+"shopping]").val()!=undefined){
                        var disshopp={};
                        disshopp.scenicSpotId=$("select[name=d"+(L)+"shopping]").val();
                        disshopp.date=$("input[name=d"+(L)+"data]").val();
                        disshopp.weight=(i+1);
                        disshopp.disShoppId=$("select[name=d"+L+"shopping]").attr("disShoppId");
                        disshoppList.push(disshopp);
                    }
                    var disrestaurant={};
                    disrestaurant.typeId=$("select[name=d"+(L)+"wufan]").val();
                    disrestaurant.costPrice=$("input[name=d"+(L)+"wucancb]").val();
                    disrestaurant.dinDate=2;
                    disrestaurant.tourismdate=$("input[name=d"+(L)+"data]").val();
                    disrestaurant.weight=(i+1);
                    disrestaurant.payment=$("input[name=d"+(L)+"wucanpayment]:checked").val();
                    disrestaurant.disRestaurantId=$("select[name=d"+(L)+"wufan]").attr("disRestaurantId");
                    disrestaurantList.push(disrestaurant);
                    var disrestaurant1={};
                    disrestaurant1.typeId=$("select[name=d"+(L)+"wanfan]").val();
                    disrestaurant1.costPrice=$("input[name=d"+(L)+"wancancb]").val();
                    disrestaurant1.dinDate=3;
                    disrestaurant1.tourismdate=$("input[name=d"+(L)+"data]").val();
                    disrestaurant1.weight=(i+1);
                    disrestaurant1.payment=$("input[name=d"+(L)+"wancanpayment]:checked").val();
                    disrestaurant1.disRestaurantId=$("select[name=d"+(L)+"wanfan]").attr("disRestaurantId");
                    disrestaurantList.push(disrestaurant1);
                    $($("tr[name=d"+(L)+"jingdian]")).each(function (w,q) {
                        var selectname=$(q).children("td:first-child").next().children("select").attr("name");
                        var r=selectname.substring(12,13);
                        var disattr={};
                        disattr.scenicSpotId=$("select[name=d"+(L)+"scenicspot"+(r)+"]").val();
                        disattr.costPrice=$("input[name=d"+(L)+"costprice"+(r)+"]").val();
                        disattr.payMethods=$("input[name=d"+(L)+"jingdpayment"+(r)+"]:checked").val();
                        disattr.date=$("input[name=d"+(L)+"data]").val();
                        disattr.weight=(i+1);
                        disattrList.push(disattr);
                    });
                }
                var dispatchParameter={offerId:offerId,dispatch:dispatch,disguide:disguide,cluster:cluster,
                    discar:discar,disother:disother,dispatchhotelList:dispatchhotelList,hoteroomTypeList:hoteroomTypeList,
                    disattrList:disattrList,disshoppList:disshoppList,disrestaurantList:disrestaurantList};

                $.ajax({
                    url:"/dispatch/updateDispatch",
                    data:JSON.stringify(dispatchParameter),
                    type:"post",
                    dataType:"json",
                    contentType: "application/json",
                    success:function (result) {
                        if(result.data==1){
                            parent.location.reload();
                            var index=parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                            alert("保存成功！");
                        }else{
                            alert("系统异常："+result.data);
                        }
                    },
                    error:function (err) {
                        alert(err);
                    }
                });

            }
            //添加时获取页面数据
            function savegetinfo() {
                var index=$("div[name=xianlu]").length;
                //创建json对象
                var dispatch={};
                var disguide={};
                var cluster={};
                var discar={};
                var disother={};
                var offerId =$("input[name=offerId]").val();
                //填充数据
                dispatch.groupNumber=$("select[name=travel]").val();
                dispatch.num=$("input[name=num]").val();
                dispatch.travelStartTime=$("input[name=travelStartTime]").val();
                dispatch.travelEndTime=$("input[name=travelEndTime]").val();
                dispatch.sendLine=$("input[name=sendLine]").val();
                dispatch.offer=$("#offer").val();
                var tourist="";
                for (var i=0;i<index;i++){
                    var L=0;
                    $($("div[name=xianlu]")).each(function (z,x) {
                        if(z==i){
                            L=$(x).children("input:first-child").val();
                            return false;
                        }
                    });
                    tourist+="第"+(i+1)+"天:"+$("textarea[name=d"+(L)+"xingcheng]").text()+",";
                }
                dispatch.trip=tourist;
                dispatch.fare=$("input[name=baoting]").val();
                dispatch.wineFee=$("input[name=jiushui]").val();
                dispatch.notcontain =$("input[name=xiaofei]").val();
                dispatch.remarks=$("textarea[name=remarks]").text();
                dispatch.reception=$("textarea[name=reception]").text();
                dispatch.loan=$("input[name=loan]").val();
                dispatch.guideId=$("select[name=guide]").val();
                dispatch.carcontacts=$("input[name=cheduilxr]").val();
                disguide.guideId=$("select[name=guide]").val();
                cluster.clusterTime=$("input[name=clusterTime]").val();
                cluster.clusterAdderss=$("input[name=clusterAdderss]").val();
                cluster.clusterNo=$("input[name=clusterNo]").val();
                discar.typeId=$("select[name=carrental]").val();
                discar.costPrice=$("input[name=cheduicb]").val();
                discar.number=$("input[name=cheduinum]").val();
                disother.costPrice=$("input[name=qitacb]").val();
                //每一天的资源集合
                var dispatchhotelList=[];
                var hoteroomTypeList=[];
                var disattrList=[];
                var disshoppList=[];
                var disrestaurantList=[];

                //循环每一天的线路
                for (var i=0;i<index;i++){
                    //确认元素name的名称
                    var L=0;
                    $($("div[name=xianlu]")).each(function (z,x) {
                        if(z==i){
                            L=$(x).children("input:first-child").val();
                            return false;
                        }
                    });
                    var hoteroomtype={};
                    if($("input[name=d"+(L)+"template]").val()!=null&&$("input[name=d"+(L)+"template]").val()!=undefined){
                        hoteroomtype.temName=$("input[name=d"+(L)+"template]").val();
                    }else{
                        hoteroomtype.templateId=$("select[name=d"+(L)+"template]").val();
                    }
                    hoteroomtype.weight=(i+1);
                    hoteroomtype.date=$("input[name=d"+(L)+"data]").val();
                    hoteroomtype.xingcheng=$("textarea[name=d"+(L)+"xingcheng]").text();
                    hoteroomTypeList.push(hoteroomtype);
                    var dispatchhotel={};
                    dispatchhotel.hotelId=$("select[name=d"+(L)+"hotel]").val();
                    dispatchhotel.costPrice=$("input[name=d"+(L)+"jiucb]").val();
                    dispatchhotel.date=$("input[name=d"+(L)+"data]").val();
                    dispatchhotel.weight=(i+1);
                    dispatchhotel.roomNum=$("input[name=d"+(L)+"num]").val();
                    dispatchhotel.valueId=$("input[name=d"+(L)+"spchengben]").val();
                    dispatchhotel.sproomNum=$("input[name=d"+(L)+"spnum]").val();
                    dispatchhotel.payment=$("input[name=d"+(L)+"hotelpayment]:checked").val();
                    dispatchhotel.hotelTypeId=$("select[name=d"+(L)+"hoteltype]").val();
                    dispatchhotelList.push(dispatchhotel);
                    if($("select[name=d"+(L)+"shopping]").val()!=0&&$("select[name=d"+(L)+"shopping]").val()!=undefined){
                        var disshopp={};
                        disshopp.scenicSpotId=$("select[name=d"+(L)+"shopping]").val();
                        disshopp.date=$("input[name=d"+(L)+"data]").val();
                        disshopp.weight=(i+1);
                        disshoppList.push(disshopp);
                    }
                    var disrestaurant={};
                    disrestaurant.typeId=$("select[name=d"+(L)+"wufan]").val();
                    disrestaurant.costPrice=$("input[name=d"+(L)+"wucancb]").val();
                    disrestaurant.dinDate=2;
                    disrestaurant.tourismdate=$("input[name=d"+(L)+"data]").val();
                    disrestaurant.weight=(i+1);
                    disrestaurant.payment=$("input[name=d"+(L)+"wucanpayment]:checked").val();
                    disrestaurantList.push(disrestaurant);
                    var disrestaurant1={};
                    disrestaurant1.typeId=$("select[name=d"+(L)+"wanfan]").val();
                    disrestaurant1.costPrice=$("input[name=d"+(L)+"wancancb]").val();
                    disrestaurant1.dinDate=3;
                    disrestaurant1.tourismdate=$("input[name=d"+(L)+"data]").val();
                    disrestaurant1.weight=(i+1);
                    disrestaurant1.payment=$("input[name=d"+(L)+"wancanpayment]:checked").val();
                    disrestaurantList.push(disrestaurant1);
                    $($("tr[name=d"+(L)+"jingdian]")).each(function (w,q) {
                        var selectname=$(q).children("td:first-child").next().children("select").attr("name");
                        var r=selectname.substring(12,13);
                        var disattr={};
                        disattr.scenicSpotId=$("select[name=d"+(L)+"scenicspot"+(r)+"]").val();
                        disattr.costPrice=$("input[name=d"+(L)+"costprice"+(r)+"]").val();
                        disattr.payMethods=$("input[name=d"+(L)+"jingdpayment"+(r)+"]:checked").val();
                        disattr.date=$("input[name=d"+(L)+"data]").val();
                        disattr.weight=(i+1);
                        disattrList.push(disattr);
                    });
                }
                var dispatchParameter={offerId:offerId,dispatch:dispatch,disguide:disguide,cluster:cluster,
                    discar:discar,disother:disother,dispatchhotelList:dispatchhotelList,hoteroomTypeList:hoteroomTypeList,
                    disattrList:disattrList,disshoppList:disshoppList,disrestaurantList:disrestaurantList};

                $.ajax({
                    url:"/dispatch/saveDispatch",
                    data:JSON.stringify(dispatchParameter),
                    type:"post",
                    dataType:"json",
                    contentType: "application/json",
                    success:function (result) {
                        if(result.data==1){
                            location.href="Quotation.html";
                            alert("保存成功！");
                        }else{
                            alert("系统异常："+result.data);
                        }
                    },
                    error:function (err) {
                        alert(err);
                    }
                });
            }
            //根据调度id获取调度详情进行展示
			function getdispatchById(Did){
				$.ajax({
					url:"/dispatch/getDispatchBydispatchId",
					data:{dispatchId:Did},
					type:"get",
					dataType:"json",
					success:function (result) {
						$("select[name=travel]").val(result.data["dispatch"].groupNumber);
						$("input[name=num]").val(result.data["dispatch"].num);
						$("input[name=travelStartTime]").val(result.data["dispatch"].travelStartTime);
                        $("input[name=travelEndTime]").val(result.data["dispatch"].travelEndTime);
                        $("select[name=guide]").val(result.data["disguide"].guideId);
                        $("select[name=guide]").attr("disGuideId",result.data["disguide"].disGuideId);
                        $("input[name=clusterTime]").val(result.data["cluster"].clusterTime);
                        $("input[name=clusterTime]").attr("clusterId",result.data["cluster"].clusterId);
                        $("input[name=clusterAdderss]").val(result.data["cluster"].clusterAdderss);
                        $("input[name=clusterNo]").val(result.data["cluster"].clusterNo);
                        $("input[name=jiushui]").val(result.data["dispatch"].wineFee);
                        $("input[name=sendLine]").val(result.data["dispatch"].sendLine);
                        $("input[name=baoting]").val(result.data["dispatch"].fare);
                        $("input[name=qitacb]").val(result.data["disother"].costPrice);
                        $("input[name=qitacb]").attr("disOtherId",result.data["disother"].disOtherId);
                        $("input[name=xiaofei]").val(result.data["dispatch"].notcontain);
                        $("input[name=loan]").val(result.data["dispatch"].loan);
                        $("input[name=cheduilxr]").val(result.data["dispatch"].carcontacts);
                        $("textarea[name=remarks]").text(result.data["dispatch"].remarks);
                        $("textarea[name=reception]").text(result.data["dispatch"].reception);
                        $("select[name=vehicle]").val(result.data["discar"].vehicleType.valueId);
                        $("select[name=vehicle]").change();
                        $("select[name=carrental]").val(result.data["discar"].typeId);
                        $("input[name=cheduinum]").val(result.data["discar"].number);
                        $("input[name=cheduicb]").val(result.data["discar"].costPrice);
                        $("select[name=carrental]").attr("disCarId",result.data["discar"].disCarId);

                        $(result.data["hoteroomType"]).each(function (i,e) {
                            if(i>0){
                                addss();
                            }
						});
                        //给景点信息赋值
                        $(result.data["hoteroomType"]).each(function (i,e) {
							var w=0;
							var q=0;
							var t=1;
                            //给景点信息赋值
                            $(result.data["disattr"]).each(function (z,x) {
                                w=x.weight;
								if(w==(i+1)){
									var pd=$("select[name=d"+(i+1)+"scenicspot"+t+"]").length;
                                    if (pd<1) {
                                        add((i+1));
                                    }
									$("select[name=d"+(i+1)+"scenicspot"+t+"]").val(x.scenicSpotId);
                                    $("select[name=d"+(i+1)+"scenicspot"+t+"]").attr("disAttrId",x.disAttrId);
                                    $("input[name=d"+(i+1)+"costprice"+t+"]").val(x.costPrice);
                                    if(x.payMethods=='付现'){
                                        $("input[name=d"+(i+1)+"jingdpayment"+t+"]").get(1).checked=true;
									}else{
                                        $("input[name=d"+(i+1)+"jingdpayment"+t+"]").get(0).checked=true;
									}
								    t+=1;
								}

								if(result.data["disattr"][i+1]!=undefined){
                                    q=result.data["disattr"][i+1].weight;
								}
								if(w!=q){
									t=1;
								}
                            });
						});
                        //给线路信息赋值
                        $(result.data["hoteroomType"]).each(function (i,e) {
                            var R=e.weight;
							if(e.temName != null && e.temName != ''){
								$("button[name=d"+R+"qiehuan]").click();
								$("input[name=d"+R+"template]").val(e.temName);
							}else{
                                $("select[name=d"+R+"template]").val(e.templateId);
							}
							$("textarea[name=d"+R+"xingcheng]").val(e.xingcheng);
                            $("textarea[name=d"+R+"xingcheng]").attr("hoteroomtId",e.hoteroomtId);
                            $("input[name=d"+R+"data]").val(e.date);
                        });
                        //给酒店信息赋值
                        $(result.data["dispatchhote"]).each(function (i,e) {
                            var R=e.weight;
                            $("select[name=d"+R+"hoteltype]").val(e.hotelTypeId);
                            $("select[name=d"+R+"hoteltype]").change();
                            $("select[name=d"+R+"hotel]").val(e.hotelId);
                            $("input[name=d"+R+"num]").val(e.roomNum);
                            $("input[name=d"+R+"jiucb]").val(e.costPrice);
                            $("input[name=d"+R+"spnum]").val(e.sproomNum);
                            $("input[name=d"+R+"spchengben]").val(e.valueId);
                            $("select[name=d"+R+"hotel]").attr("dispatchHotelId",e.dispatchHotelId);
                            if(e.payment=='付现'){
                                $("input[name=d"+R+"hotelpayment]").get(1).checked=true;
							}else{
                                $("input[name=d"+R+"hotelpayment]").get(0).checked=true;
							}
                        });
                        //给购物地信息赋值
                        $(result.data["disshopp"]).each(function (i,e) {
                            var R=e.weight;
                            $("select[name=d"+R+"shopping]").val(e.scenicSpotId);
                            $("select[name=d"+R+"shopping]").attr("disShoppId",e.disShoppId);
                        });
                        //给餐厅信息赋值
                        $(result.data["disrestaurant"]).each(function (i,e) {
                            var R=e.weight;
                            if(e.dinDate==2){
								$("select[name=d"+R+"wucan]").val(e.mealType.valueId);
                                $("select[name=d"+R+"wucan]").change();
								$("select[name=d"+R+"wufan]").val(e.typeId);
								$("input[name=d"+R+"wucancb]").val(e.costPrice);
                                $("select[name=d"+R+"wufan]").attr("disRestaurantId",e.disRestaurantId);
                                if(e.payment=='付现'){
                                    $("input[name=d"+R+"wucanpayment]").get(1).checked=true;
								}else{
                                    $("input[name=d"+R+"wucanpayment]").get(0).checked=true;
								}
							}else if(e.dinDate==3){
                                $("select[name=d"+R+"wancan]").val(e.mealType.valueId);
                                $("select[name=d"+R+"wancan]").change();
                                $("select[name=d"+R+"wanfan]").val(e.typeId);
                                $("input[name=d"+R+"wancancb]").val(e.costPrice);
                                $("select[name=d"+R+"wanfan]").attr("disRestaurantId",e.disRestaurantId);
                                if(e.payment=='付现'){
                                    $("input[name=d"+R+"wancanpayment]").get(1).checked=true;
                                }else{
                                    $("input[name=d"+R+"wancanpayment]").get(0).checked=true;
                                }
							}
                        });

                        $($("input[name=hiddendel]")).each(function (i,e) {
							$(e).css("display","none");
                        });
                        $("#add").css("display","none");
                    },
					error:function (err) {
						alert(err);
                    }
				});
			}
		</script>
</body>
</html>