<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
  		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>网站后台管理模版</title>
		<link rel="stylesheet" type="text/css" th:href="@{/admin/layui/css/layui.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/admin/css/admin.css}" />

	</head>
	<body>
	<form class="layui-form column-content-detail">
					<div class="layui-tab">
						<ul class="layui-tab-title">
							<li class="layui-this">餐馆饮食类型信息</li>
						</ul>
						<input type="hidden" id="typeId" value="0">
						<div class="layui-tab-content">
							<div class="layui-tab-item layui-show">
								<div class="layui-form-item">
									<label class="layui-form-label">类型名称： </label>
									<div class="layui-input-block">
										<select name="valueId" id="valueContent1" class="layui-select"></select>
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">成本价：</label>
									<div class="layui-input-block">
										<input type="text" name="costprice" required lay-verify="required" placeholder="请输入成本价" autocomplete="off" class="layui-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">报价：</label>
									<div class="layui-input-block">
										<input type="text" name="offer" required lay-verify="required" placeholder="请输入报价" autocomplete="off" class="layui-input">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="layui-form-item" style="padding-left: 10px;">
						<div class="layui-input-block">
							<button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo" onclick="panduan()" type="button">立即提交</button>
							<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					</div>
				</form>
	<script  th:src="@{/admin/js/jquery-3.2.1.js}"></script>
	<script  th:src="@{/layui.js}"></script>
	<script th:src="@{/admin/js/common.js}" type="text/javascript" charset="utf-8"></script>
	<script>
		layui.use(['form', 'jquery', 'laydate', 'layer', 'laypage', 'dialog', 'common', 'tool', 'element', 'upload', 'layedit'], function() {
				var form = layui.form,
					layer = layui.layer,
					$ = layui.jquery,
					laypage = layui.laypage,
					laydate = layui.laydate,
					layedit = layui.layedit,
					common = layui.common,
					tool = layui.tool,
					element = layui.element(),
					dialog = layui.dialog;

				//获取当前iframe的name值
				var iframeObj = $(window.frameElement).attr('name');
				//创建一个编辑器
				var editIndex = layedit.build('LAY_demo_editor', {
					tool: ['strong' //加粗
						, 'italic' //斜体
						, 'underline' //下划线
						, 'del' //删除线
						, '|' //分割线
						, 'left' //左对齐
						, 'center' //居中对齐
						, 'right' //右对齐
						, 'link' //超链接
						, 'unlink' //清除链接
						, 'image' //插入图片
					],
					height: 100
				})
				//全选
				form.on('checkbox(allChoose)', function(data) {
					var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
					child.each(function(index, item) {
						item.checked = data.elem.checked;
					});
					form.render('checkbox');
				});
				form.render();

				layui.upload({
					url: '上传接口url',
					success: function(res) {
						console.log(res); //上传成功返回值，必须为json格式
					}
				});
			});

			var id=0;
			var restaurantid=0;
			var value1=0;
			$(function(){
                var thisURL = document.URL;
                var  getval =thisURL.split('?')[1];
                var aa = getval.split("=")[0];
                id= getval.split("=")[1];
                if (aa=="codeType"){
					$("#typeId").val(id);
				}
				if (aa=="restaurantId"){
                    restaurantid = id;
				}
                selectDic();
                selectById();
			})

			function selectById(){
                var typeId=$("#typeId").val();
			    $.ajax({
                    url: "/sdglGroundConnection/MealType/selectById",
                    data:{typeId:typeId},
                    dataType: "json",
                    async: false,
                    type: "get",
                    success: function (e) {
                        $("[name='costprice']").val(e.data.costprice);
                        $("[name='offer']").val(e.data.offer);
                        $("[name='valueId']").val(e.data.valueId);
                        value1 = e.data.valueId;
                    }
				})
			}




			function  selectDic() {
				$.ajax({
                    url: "/sdglGroundConnection/MealType/selectDic",
                    dataType: "json",
					async: false,
                    type: "post",
                    success: function (data) {
                        var content = "<option value='0'>请选择</option>";
                        $.each(data.data,function(i,e){
                            content+="<option value='"+e.valueId+"'>"+e.valueContent1+"</option>";
						})
						$("#valueContent1").html(content);
                    }
				})
            }

            function panduan(){
                var valueId = $("select option:selected").val();
				$.ajax({
                    url: "/sdglGroundConnection/Restaurant/selectTypeById",
                    data: {valueId:valueId,restaurantId:restaurantid,typeId:id},
                    dataType: "json",
                    type: "post",
                    success: function (data) {
                        if (value1==valueId){
                            insertMealType();
						}else{
                            if (data.data>0){
                                alert("该餐厅已有此类型");
                                return;
                            }else{
                                insertMealType();
                            }
						}
					}
				})
			}



            function insertMealType(){
			    var costprice = $("[name='costprice']").val();
			    var offer = $("[name='offer']").val();
			    var valueId = $("select option:selected").val();
			    var typeId=$("#typeId").val();
                $.ajax({
                    url: "/sdglGroundConnection/MealType/updateMealType",
					data: {costprice:costprice,offer:offer,valueId:valueId,typeId:typeId,restaurantId:id},
                    dataType: "json",
                    type: "post",
                    success: function (data) {
                        alert(data.msg);
                        var index=parent.layer.getFrameIndex(window.name);
                        parent.location.reload(index);
                    }
                })
			}
	</script>
	</body>
</html>