<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/admin/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/admin/css/baojiadan.css}" />
</head>
<body>
<div>
    <form class="layui-form layui-form-pane">
        <table border="0" cellspacing="0" cellpadding="0">
            <tr><td><input type="hidden" name="mid" th:value="${mid}"></td></tr>
            <tr>
                <td><label class="layui-form-label">模板名称</label></td>
                <td>
                    <input type="text" class="layui-input" placeholder="请输入模板名称！" name="templateName" >
                </td>
            </tr>
            <!--点击新增线路-->
            <tr id="onClickjd">
                <td colspan="2"><button class="layui-btn" id="newjd" type="button" style="font-size: 12px" onclick="insertJingdian()">添加线路</button></td>

            </tr>
            <!--点击新增线路-->
            <tr  name="template">
                <td><label class="layui-form-label">线路</label></td>
                <td>
                    <select  name="temline1" lay-verify="required">

                    </select>
                </td>
                <td><span style="font-weight: bold;padding-left: 15px;margin-right: 15px;" name="howmanydays1">Day1</span></td>
            </tr>

            <tr id="caozuo">
                <td style="padding-top: 8px"><button type="button" class="layui-btn layui-btn-radius" onclick="saveTemplate()">保存</button></td>
                <td style="padding-top: 8px"><button class="layui-btn layui-btn-radius">取消</button></td>
            </tr>
        </table>
    </form>
</div>
<script  th:src="@{/admin/js/jquery-3.2.1.js}"></script>
<script  th:src="@{/layui.js}"></script>
<script type="text/javascript" th:src="@{/js/baojiadan.js}"></script>
<script type="text/javascript">
    var xlName="";
    $(function() {
        LodingResouce();
        var mid=$("input[name=mid]").val();
        if(mid!=null&&mid!=0){
            updatefuzhi(mid);
        }
        $("input[name=templateName]").blur(function () {
            judgeName();
        });
    });

    layui.use(['form', 'layedit', 'laydate','element'], function() {
        var form = layui.form;
        layer = layui.layer;
        layedit = layui.layedit;
        element=layui.element;
        laydate = layui.laydate;
        form.on('select(hotel)',function (data) {
            getHotelByid(data.value);
        });

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });
        laydate.render({
            elem: '#date2'
        });
        element.render( 'test1');
        form.render('select', 'test1');
        form.render('select');
    });


    //执行修改操作时给文本框赋值
    function updatefuzhi(mid){
        $.ajax({
            url:"/sdglGroundConnection/Tourismtemplate/listtandlById",
            data:{tid:mid},
            dataType:"json",
            type:"get",
            success:function (result) {
                $("input[name=templateName]").val(result.data['info'].tourismtemplateName);
                $(result.data["list"]).each(function (i,e) {
                    if(i>0){
                        insertJingdian();
                    }
                    $("select[name=temline"+(i+1)+"]").val(e.templateId);
                });
            },
            error:function (err) {
                alert("系统异常！");
            }
        });
    }

    /**
     * 加载下拉框资源
     * @constructor
     */
    function LodingResouce(){
        $.ajax({
            url: "/sdglGroundConnection/Template/listtemplateall",
            dataType: "json",
            type: "get",
            success:function (result) {
                var content="<option value='0'>--请选择--</option>";
                $(result.data).each(function (i,e) {
                   content+="<option value='"+e.templateId+"'>"+e.templateName+"</option>";
                });
                $("select[name=temline1]").html(content);
            },
            error:function (err) {
                alert(err);
            }

        });
    }
    //判断用户输入的模板名称是否存在  存在则情况文本框提示用户重新输入
    function judgeName() {
        var name=$("input[name=templateName]").val();
        if(xlName==name){
            return;
        }
        $.ajax({
            url:"/sdglGroundConnection/Tourismtemplate/jumptempName",
            data:{temName:name},
            type:"get",
            dataType:"json",
            success:function (result) {
                if(result.data==false){
                    $("input[name=templateName]").val("");
                    alert("该线路名称已存在,请重新输入！");
                }
            },
            error:function (err) {
                alert(err);
            }
        });
    }
    /**
     * 点击保存按钮 响应方法 新增模板信息
     */
    function  saveTemplate() {
        var temname=$("input[name=templateName]").val();
        var items=$("tr[name=template]");
        var info=new Array();
        var id=$("input[name=mid]").val();
        for(var i=1;i<=items.length;i++){
            var xuan=$("select[name=temline"+i+"]").val();
            info.push(xuan);
        }
        $.ajax({
            url:"/sdglGroundConnection/Tourismtemplate/saveorupdate",
            data:{temName:temname,info:info,id:id},
            dataType:"json",
            type:"get",
            success:function (result) {
                if(result.data>0){
                    parent.location.reload();
                    var index=parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                    alert("操作成功！");
                }else{
                    alert("系统异常，请稍后重试！");
                }
            },error:function (err) {
                alert(err);
            }
        });
    }

    //新增景点信息
    function insertJingdian() {
        var A=$("tr[name=template]");
        if(A.length==7){
            alert("最多可选择七天行程！");
            return;
        }
        var index=parseInt(A.length)+1;
        var content=$("select[name=temline1]").html();
        $("#caozuo").prev().after("<tr  name='template'>\n" +
            "<td><label class='layui-form-label'>线路</label></td>\n" +
            "<td>\n" +
            "<select  name='temline"+index+"' lay-verify='required' >"+content+"</select>\n" +
            "</td>\n" +
            "<td><span style='font-weight: bold;padding-left: 15px;margin-right: 15px;' name='howmanydays"+index+"'>Day"+index+"</span></td>\n" +
            "<td style='bottom: 0px;'><label class='layui-form-label' onclick='san(this)'>×</label></td>"+
            "</tr>");
        layui.use(['form', 'layedit', 'laydate','element'], function() {
            var form = layui.form,
                layer = layui.layer,
                layedit = layui.layedit,
                element=layui.element,
                laydate = layui.laydate,
                a;
            form.render(); //更新全部
            form.render('select'); //刷新select选择框渲染
        });
    }
    //删除景点
    function  san(dang){
        $(dang).parent().parent().remove();
        //删除一个景点后给  景点内的元素进行重新排序
        var items=$("tr[name=template]");
        for(var i=1;i<=items.length;i++){
            var item=$(items).get(i-1);
            var infos=$(item).text().replace(/[ ]/g,"").replace(/[\r\n]/g,"");
            var info=infos.substring(infos.length-1,infos.length);
            if(isNaN(info)){
                info=infos.substring(infos.length-2,infos.length-1);
            }
            if(info!=i){
                $("select[name=temline"+info+"]").attr("name","temline"+i);
                $("span[name=howmanydays"+info+"]").text("Day"+i);
                $("span[name=howmanydays"+info+"]").attr("name","howmanydays"+i);

            }

        }
    }
</script>
</body>
</html>