<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/admin/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="/css/baojiadan.css"/>
</head>
<body>
<div id="content">
    <form class="layui-form layui-form-pane">
        <table border="0" cellspacing="0" cellpadding="0">
            <tr><td><input type="hidden" name="mid" th:value="${mid}"></td></tr>
            <tr>
                <td><label class="layui-form-label">线路</label></td>
                <td>
                    <input type="text" class="layui-input" placeholder="请输入模板线路名称！" name="templateName" >
                </td>
            </tr>

            <tr>
                <td><label class="layui-form-label">酒店</label></td>
                <td>
                    <select name="hotelId" lay-verify="required" lay-filter="hotel" >

                    </select>
                </td>
                <td><label class="layui-form-label">成本价</label></td>
                <td><input type="text" class="layui-input" name="costprice"></td>
                <td><label class="layui-form-label">报价</label></td>
                <td><input type="text" class="layui-input" name="offer"></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" id="tupian">

                </td>
                <td style="margin:8px;" colspan="4"  id="jieshao">
                </td>
            </tr>

            <!--点击新增景点-->
            <tr id="onClickjd">
                <td colspan="2"><button class="layui-btn" id="newjd" type="button" style="font-size: 12px" onclick="insertJingdian()">添加景点+</button></td>

            </tr>
            <!--点击新增结束-->
            <tr  name="scenic">
                <td><label class="layui-form-label">景点</label></td>
                <td>
                    <select  name="scenicSpotId1" lay-verify="required" lay-filter="jingd1" >

                    </select>
                </td>
                <td><label class="layui-form-label">成本价:</label></td>
                <td><input type="text" class="layui-input" name="costprice1"></td>
                <td><label class="layui-form-label">报价:</label></td>
                <td><input type="text" class="layui-input" name="offer1" ></td>

            </tr>
            <tr>
                <td><label class="layui-form-label">行程</label></td>
                <td colspan="5"><textarea placeholder="请输入内容" class="layui-textarea" name="templateContent"></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td style="padding-top: 8px"><button type="button" class="layui-btn layui-btn-radius" onclick="saveTemplate()">保存</button></td>
                <td style="padding-top: 8px"><button class="layui-btn layui-btn-radius">取消</button></td>
            </tr>
        </table>
    </form>
</div>
<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/layui.js"></script>
<script type="text/javascript" src="/js/baojiadan.js"></script>
<script type="text/javascript">
    var xlName="";
    $(function() {
        LodingResouce();
        var mid=$("input[name=mid]").val();
        if(mid!=null&&mid!=0){
            updatefuzhi(mid);
        }
        $("input[name=templateName]").blur(function () {
            judgeName();
        });
    });

    layui.use(['form', 'layedit', 'laydate','element'], function() {
         var form = layui.form;
         layer = layui.layer;
         layedit = layui.layedit;
         element=layui.element;
         laydate = layui.laydate;
        form.on('select(hotel)',function (data) {
                getHotelByid(data.value);
        });

        form.on('select(jingd1)',function(data){
            getScenicByid(data.value,1);
        });
        form.on('select(jingd2)',function(data){
            getScenicByid(data.value,2);
        });
        form.on('select(jingd3)',function(data){
            getScenicByid(data.value,3);
        });
        form.on('select(jingd4)',function(data){
            getScenicByid(data.value,4);
        });
        form.on('select(jingd5)',function(data){
            getScenicByid(data.value,5);
        });

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });
        laydate.render({
            elem: '#date2'
        });
        element.render( 'test1');
        form.render('select', 'test1');
        form.render('select');
    });


    //执行修改操作时给文本框赋值
    function updatefuzhi(mid){
        $.ajax({
            url:"/Template/gettemplateById",
            data:{mid:mid},
            dataType:"json",
            type:"get",
            success:function (result) {
                xlName=result.data["parameter"].templateName;
                $("input[name=templateName]").val(result.data["parameter"].templateName);
                $("input[name=costPrice]").val(result.data["parameter"].costprice);
                $("input[name=offer]").val(result.data["parameter"].offer);
                $("textarea").text(result.data["parameter"].templateContent);
                $("select[name=hotelId]").val(result.data["parameter"].hotelId);
                getHotelByid(result.data["parameter"].hotelId);
                $(result.data["scenicspot"]).each(function (i,e) {
                    if(i>0){
                        insertJingdian();
                    }
                    $("select[name=scenicSpotId"+(i+1)+"]").val(e.scenicSpotId);
                    $("input[name=costprice"+(i+1)+"]").val(e.costPrice);
                    $("input[name=offer"+(i+1)+"]").val(e.offer);
                });
            },
            error:function (err) {
                alert("系统异常！");
            }
        });
    }

    /**
     * 加载下拉框资源
     * @constructor
     */
    function LodingResouce(){
        $.ajax({
            url: "/Template/getResource",
            dataType: "json",
            type: "get",
            success:function (result) {
                var jiudian="<option value='0'>--请选择--</option>";
                var jingdian="<option value='0'>--请选择--</option>";
                $(result.data["hotel"]).each(function (i,e) {
                    jiudian+="<option value='"+e.hotelId+"'>"+e.hotelName+"</option>";
                });
                $(result.data["scenicspot"]).each(function (i,e) {
                    jingdian+="<option value='"+e.scenicSpotId+"'>"+e.scenicSpotName+"</option>";
                });
                $("select[name=scenicSpotId1]").html(jingdian);
                $("select[name=hotelId]").html(jiudian);
            },
            error:function (err) {
                alert(err);
            }

        });
    }
    //判断用户输入的模板名称是否存在  存在则情况文本框提示用户重新输入
    function judgeName() {
         var name=$("input[name=templateName]").val();
         if(xlName==name){
            return;
         }
         $.ajax({
             url:"/Template/judgeTemplateName",
             data:{templateName:name},
             type:"get",
             dataType:"json",
             success:function (result) {
                 if(result.data==false){
                     $("input[name=templateName]").val("");
                     alert("该线路名称已存在,请重新输入！");
                 }
             },
             error:function (err) {
                 alert(err);
             }
         });
    }
    function insertJingdian() {
        var A=$("tr[name=scenic]");
        if(A.length==5){
            alert("最多可选择五个景点！");
            return;
        }
        var index=parseInt(A.length)+1;
        var content=$("select[name=scenicSpotId1]").html();
        $("#newjd").parent().parent().next().after("<tr name='scenic'>"+
            "<td><label class='layui-form-label'>景点</label></td>"+
            "<td>"+
            "<select name='scenicSpotId"+index+"' lay-verify='required' lay-filter='jingd"+index+"'>"+content+"</select>"+
            "</td>"+
            "<td><label class='layui-form-label'>成本价:</label></td>"+
            "<td><input type='text' class='layui-input' name='costprice"+index+"'></td>"+
            "<td><label class='layui-form-label'>报价:</label></td>"+
            "<td><input type='text' class='layui-input' name='offer"+index+"'></td>"+
            "<td style='bottom: 0px;'><label class='layui-form-label' onclick='san(this)'>×</label></td>"+
            "</tr>");
        layui.use(['form', 'layedit', 'laydate','element'], function() {
            var form = layui.form,
                layer = layui.layer,
                layedit = layui.layedit,
                element=layui.element,
                laydate = layui.laydate,
                a;
            form.render(); //更新全部
            form.render('select'); //刷新select选择框渲染
        });
    }

    /**
     * 点击保存按钮 响应方法 新增模板信息
     */
    function  saveTemplate() {
        var info=$("form").serialize();
        $.ajax({
            url:"/Template/saveTemplate",
            data:info,
            dataType:"json",
            type:"get",
            success:function (result) {
                if(result.data>0){
                    parent.location.reload();
                    var index=parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                    alert("操作成功！");
                }else{
                    alert("系统异常，请稍后重试！");
                }
            },error:function (err) {
                alert(err);
            }
        });
    }
    
    /**
     * 根据景点id获取该
     * */
    function  getScenicByid(id,index) {
        if(id==0){
            $("input[name=costprice"+index+"]").val("");
            $("input[name=offer"+index+"]").val("");
            return;
        }
        $.ajax({
            url: "/Scenicspot/getScenicspotById",
            data:{scenicSpotId:id},
            dataType: "json",
            type: "get",
            success:function (result) {
                $("input[name=costprice"+index+"]").val(result.data.costprice);
                $("input[name=offer"+index+"]").val(result.data.offer);
            },
            error:function (err) {
                alert(err);
            }

        });
    }
    
    /**
     * 根据Id查找指定的酒店信息
     * @param id
     */
    function getHotelByid(id) {
        if(id==0){
            $("#tupian").html("");
            $("#jieshao").html("");
            $("input[name=costprice]").val("");
            $("input[name=offer]").val("");
            return;
        }
        $.ajax({
            url: "/Hotel/getHotelById",
            data:{id:id},
            dataType: "json",
            type: "get",
            async:false,
            success:function (result) {
                var xingji="";
                var jieshao="<span style='font-size: 16px;font-weight:bold'>"+result.data.hotelName+"</span>" +
                    "<p>"+result.data.hotelDescribe+"<p>";
                for(var i=0;i<5;i++){
                    if(i<result.data.starHotel){
                        xingji+=" <input type='image' src='/images/face/xingyou.png' style='width: 20px;height: 20px;margin: 3px;'/>";
                    }else{
                        xingji+="<input type='image'src='/images/face/xingwu.png'style='width: 20px;height: 20px;margin: 3px;'/>";
                    }
                }
                var content="<input type='image' style='width: 150px;height: 120px;margin: 8px;'  src='"+result.data.picturePath+"'/>\n" +
                    "<div style='margin-left: 8px;'>"+xingji+"</div>";
                $("#tupian").html(content);
                $("#jieshao").html(jieshao);
                $("input[name=costprice]").val(result.data.costprice);
                $("input[name=offer]").val(result.data.offer);
            },
            error:function (err) {
                alert(err);
            }

        });
    }
</script>
</body>
</html>