<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>网站后台管理模版</title>
		<link rel="stylesheet" type="text/css" th:href="@{/admin/layui/css/layui.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/admin/css/baojiadan.css}" />

	</head>

	<body style="margin-left: 50px;margin-top: 20px">
		<form class="layui-form layui-form-pane" action="">
			<table border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td><label class="layui-form-label">组团社名称</label></td>
					<td id="xzzutuanshe">
						<select name="travelName" lay-verify="required" lay-filter="zutuanshe">

						</select>
					</td>
					<td><label class="layui-form-label">人数</label></td>
					<td><input id="number" type="text" class="layui-input"></td>
				</tr>
				<tr>
					<td><label class="layui-form-label">开始时间</label></td>
					<td> <input type="text" name="travelStartTime" id="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input"></td>
					<td><label class="layui-form-label">结束时间</label></td>
					<td> <input type="text" name="travelEndTime" id="date1" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input"></td>
				</tr>
				<tr>
					<td><label class="layui-form-label">选择模板</label></td>
					<td id="xzmuban"><select name="tourismtemplateName" lay-filter="muban"></select></td>
					<td><input  id="offerId" type="hidden" value="0"></td>
				</tr>
			</table>
		</form>
		<div id="zong1" name="zong" lay-filter="test1">
			<div style='margin-bottom: 30px;width: 800px'>
				<input type="image" src="/sdglGroundConnection/images/up.PNG" style="height: 30px;width: 35px;" id="toggle" onclick='qiehuan(this)' />
				<input type="hidden" id="sc" src="/sdglGroundConnection/images/del.PNG" onclick='shanchu(this)' style="display:inline-block;float: right;height: 30px;width: 35px;" />
				<div id="content">
					<form class="layui-form layui-form-pane" action="">
						<table border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td><label class="layui-form-label">线路</label></td>
								<td class='xzxianlu'>
									<select id="xianlu" name="lineArriveName" lay-verify="required" lay-search lay-filter="xianlu">

									</select>
								</td>
								<td colspan="2">&nbsp;<button type="button" class='layui-btn layui-btn-normal layui-btn-radius' style='height: 30px;width: 100px;' onclick="xianlu1(this)">自行填写</button></td>
							</tr>
							<tr>
								<td><label class="layui-form-label">日期</label></td>
								<td>
									<input type="text" name="date" id="date2" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
								</td>
							</tr>

							<tr>
								<td><label class="layui-form-label">酒店</label></td>
								<td class="jiudian">
									<select id="jiudian" class="hotelName" name="hotelName" lay-verify="required" lay-filter="jiudian">
									</select>
								</td>
								<td><label class="layui-form-label">成本价</label></td>
								<td><input name="jcostPrice" type="text" class="layui-input"></td>
								<td><label class="layui-form-label">报价</label></td>
								<td><input name="joffer" type="text" class="layui-input"></td>
							</tr>
							<!--点击新增景点-->
							<tr id="onClickjd">
								<td colspan="2" class="tian"><button id="tian" class="layui-btn" type="button" style="font-size: 12px" onclick="insertJingdian(this)">添加景点+</button></td>
							</tr>
							<!--点击新增结束-->
							<tr id="scenic1" name="scenic" class="scenic">
								<td><label class="layui-form-label">景点</label></td>
								<td class="jingdian">
									<select id="jingdian" name="scenicSpotName" lay-verify="required" lay-filter="jingdian">

									</select>
								</td>
								<td><label class="layui-form-label">成本价:</label></td>
								<td><input name="jdcostPrice" type="text" class="layui-input"></td>
								<td><label class="layui-form-label">报价:</label></td>
								<td><input name="jdoffer" type="text" class="layui-input"></td>
							</tr>
							<tr name="wucai">
								<td><label class="layui-form-label">午餐</label></td>
								<td class="wuc">
									<select id="wucan" name="typeName" lay-verify="required" lay-filter="wucan">

									</select>
								</td>
								<td><label class="layui-form-label">成本价</label></td>
								<td class="wucb"><input type="text" class="layui-input" name="cb"></td>
								<td><label class="layui-form-label">报价</label></td>
								<td class="wubj"><input type="text" class="layui-input" name="bj"></td>
							</tr>
							<tr>
								<td><label class="layui-form-label">晚餐</label></td>
								<td class="wanc">
									<select id="wancan" name="typeName" lay-verify="required" lay-filter="wancan">

									</select>
								</td>
								<td><label class="layui-form-label">成本价</label></td>
								<td class="wancb"><input type="text" class="layui-input" name="cb"></td>
								<td><label class="layui-form-label">报价</label></td>
								<td class="wanbj"><input type="text" class="layui-input" name="bj"></td>
							</tr>
							<tr>
								<td><label class="layui-form-label">行程</label></td>
								<td colspan="5"> <textarea name="trip" placeholder="请输入内容" class="layui-textarea"></textarea></td>
							</tr>
						</table>
					</form>
				</div>
			</div>
			<!---中结束-->
		</div>
		<button class='layui-btn layui-btn-normal layui-btn-radius' onclick='addss1()' id="add">十</button>
		<div id="divfoot">
			<form class="layui-form layui-form-pane" action="">
				<table border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td><label class="layui-form-label">车队：</label></td>
						<td id="ctypeId">
							<select name="cheduiName" lay-verify="required" lay-filter="chedui">

							</select>
						</td>
						<td><table border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td><label class="layui-form-label">成本价</label></td>
								<td><input id="ccostPrice" type="text" class="layui-input"></td>
							</tr>
						</table>
						</td>
						<td><table border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td><label class="layui-form-label">报价</label></td>
								<td><input id="coffer" type="text" class="layui-input"></td>
							</tr>
						</table>
						</td>
					</tr>
					<tr>
						<td><label class="layui-form-label">其他:</label></td>
						<td colspan="5">
							<table border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td><label class="layui-form-label">成本价</label></td>
									<td width="300px"><input id="qcostPrice" type="text" class="layui-input"></td>
									<td><label class="layui-form-label">报价</label></td>
									<td width="300px"><input id="qoffer" type="text" class="layui-input"></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td><label class="layui-form-label">小费:</label></td>
						<td colspan="5"><input id="xiaofei" type="text" class="layui-input"></td>
					</tr>
					<tr>
						<td><label class="layui-form-label">备注：</label></td>
						<td colspan="5"><textarea id="remarks" placeholder="请输入内容" class="layui-textarea" name="desc"></textarea></td>
					</tr>
					<tr>
						<td><label class="layui-form-label">接待标准：</label></td>
						<td colspan="5"><textarea id="jiedai" placeholder="请输入内容" class="layui-textarea" name="desc"></textarea></td>
					</tr>
					<tr>
						<td></td>
						<td><button class='layui-btn layui-btn-normal layui-btn-radius' type="button" id="baocun" onclick="baojia()">预览报价单</button></td>
						<td style="padding: 0px 80px"><button class='layui-btn layui-btn-normal layui-btn-radius' type="button" onclick="dayin()">生成确认书</button></td>
						<td class="hi" style="padding: 0px 80px"><button class='layui-btn layui-btn-normal layui-btn-radius' type="button" id="baocun1" onclick="baocunmuban()">保存</button></td>
					</tr>
				</table>
			</form>
			<!--底部div结束-->
		</div>
	</table>
		<script  th:src="@{/admin/js/jquery-3.2.1.js}"></script>
		<script  th:src="@{/layui.js}"></script>
		<script type="text/javascript" th:src="@{/js/baojiadan.js}"></script>
		<script type="text/javascript">
				layui.use(['form', 'layedit', 'laydate','element'], function() {
					var form = layui.form,
						layer = layui.layer,
						layedit = layui.layedit,
						element=layui.element,
						laydate = layui.laydate;
                    //日期
                    laydate.render({
                        elem: '#date'
                    });
                    laydate.render({
                        elem: '#date1'
                        ,done: function (value, date, endDate) {
                            fanzhuanDate()
                        }
                    });
                    laydate.render({
                        elem: '#date2'
                    });
					   element.render( 'test1');
					   form.render('select', 'test1');
                       form.render('select', 'jiudian');
                       form.render('select');

                    form.on('select(wancan)',function(data){
                        selectByDictionariesId(data.value,1,this);
                    });
                    form.on('select(wucan)',function(data){
                        selectByDictionariesId(data.value,1,this);
                    });
                    form.on('select(jingdian)',function(data){
                        selectByScenicSpotId(data.value,1,this);
                    });
                    form.on('select(jiudian)',function(data){
                        selectByHotelId(data.value,1,this);
                    });
                    form.on('select(xianlu)',function(data){
                        selectByofferLineRecordId(data.value,1,this);
                    });
                    form.on('select(muban)',function(data){
                        selectTourismandlineAll(data.value,1,this);
                    });
                    form.on('select(chedui)',function(data){
                        selectByDictionariesId1(data.value,1,this);
                    });

				});
                var id=0;
				$(function(){
                    selectTourismtemplate()
                    selectofferline()
                    selectHotel()
                    listScenicspotAll()
                    selectMealType()
                    selectTravel()
                    listVehicletype()
                    var thisURL = document.URL;
                    var  getval =thisURL.split('?')[1];
                    var lei;
                    if (getval!=undefined){
                        id= getval.split("=")[1];
                        lei = getval.split("=")[0];
                        selectOfferByOfferId();
                        selectOffer();
                        selectOfferlineByOfferId();
                        selectOfferHotelByOfferId();
                        selectOfferRestaurantByOfferId();
                        selectOfferRestaurantByOfferId1();
                        selectOfferotherByOfferId();
                        selectOfferscenicByOfferId();
                        $("#offerId").val(id);
                        if (lei=="offerId"){
                            $("select").attr("disabled","disabled");
                            $("input").attr("disabled","disabled");
                            $("textarea").attr("disabled","disabled");
                            $(".hi").hide();
                            $("#add").hide();
						}
                    }
				})


				function selectOffer(){
				    $.ajax({
                        url:"/sdglGroundConnection/Offer/selectOfferByOfferId",
                        data:{offerId:id},
                        dataType:"json",
                        async: false,
                        type:"get",
                        success:function (data) {
                            $("#xzzutuanshe").children().val(data.data.travelId);
                            $("#number").val(data.data.number);
                            $("[name=travelStartTime]").val(data.data.travelStartTime);
                            $("[name=travelEndTime]").val(data.data.travelEndTime);
                            $("[name=desc]").val(data.data.reception);
                            $("#xiaofei").val(data.data.notcontain);
						}
					})
				}

                function selectOfferByOfferId(){
                    $.ajax({
                        url:"/sdglGroundConnection/Offercar/selectOfferByOfferId",
                        data:{offerId:id},
                        dataType:"json",
                        async: false,
                        type:"get",
                        success:function (data) {
                            $("#ctypeId").children().val(data.data.dictionariesId);
                            $("#ccostPrice").val(data.data.costPrice);
                            $("#coffer").val(data.data.offer);
                        }
                    })
                }




                function selectOfferlineByOfferId(){
                    $.ajax({
                        url:"/sdglGroundConnection/Offerline/selectOfferlineByOfferId",
                        data:{offerId:id},
                        dataType:"json",
                        async: false,
                        type:"get",
                        success:function (data) {
                            for (var u=1;u<=data.data.length;u++){
                                if (u<data.data.length){
                                    addss2();
                                }
                                $(".xzxianlu").eq(u-1).children().children().eq(0).text(data.data[u-1].lineArriveName);
                                /*$(".xzxianlu").eq(u-1).children().children().each(function(){
                                    var a = $(this).text();
                                    var b = data.data[u-1].lineArriveName;
                                    if($(this).text() ==data.data[u-1].lineArriveName){
                                        $(this).prop("selected",true);
                                    }
                                })*/
                                $("[name=trip]").eq(u-1).val(data.data[u-1].travelContent);
                                $("[name=date]").eq(u-1).val(data.data[u-1].date);

							}

                        }
                    })
                }




                function selectOfferHotelByOfferId(){
                    $.ajax({
                        url:"/sdglGroundConnection/OfferHotel/selectOfferHotelByOfferId",
                        data:{offerId:id},
                        dataType:"json",
                        async: false,
                        type:"get",
                        success:function (data) {
                            for (var u=1;u<=data.data.length;u++){
                                $(".jiudian").eq(u-1).children().val(data.data[u-1].hotelId)
                                $("[name=jcostPrice]").eq(u-1).val(data.data[u-1].costPrice);
                                $("[name=joffer]").eq(u-1).val(data.data[u-1].offer);
                            }

                        }
                    })
                }


                function selectOfferRestaurantByOfferId(){
                    $.ajax({
                        url:"/sdglGroundConnection/Offerrestaurant/selectOfferRestaurantByOfferId",
                        data:{"offerId":id},
                        dataType:"json",
                        type:"get",
                        success:function (data) {
                            for (var u=1;u<=data.data.length;u++){
                                $(".wuc").eq(u-1).children().val(data.data[u-1].dictionariesId)
                                $(".wucb").eq(u-1).children().val(data.data[u-1].costPrice);
                                $(".wubj").eq(u-1).children().val(data.data[u-1].offer);
                            }
                        }
                    })
                }


                function selectOfferRestaurantByOfferId1(){
                    $.ajax({
                        url:"/sdglGroundConnection/Offerrestaurant/selectOfferRestaurantByOfferId1",
                        data:{offerId:id},
                        dataType:"json",
                        async: false,
                        type:"get",
                        success:function (data) {
                            for (var u=1;u<=data.data.length;u++){
                                $(".wanc").eq(u-1).children().val(data.data[u-1].dictionariesId)
                                $(".wancb").eq(u-1).children().val(data.data[u-1].costPrice);
                                $(".wanbj").eq(u-1).children().val(data.data[u-1].offer);
                            }

                        }
                    })
                }



                function selectOfferotherByOfferId(){
                    $.ajax({
                        url:"/sdglGroundConnection/Offerother/selectOfferotherByOfferId",
                        data:{offerId:id},
                        dataType:"json",
                        async: false,
                        type:"get",
                        success:function (data) {
                            $("#qcostPrice").val(data.data.costPrice);
                            $("#qoffer").val(data.data.offer);
                            $("#remarks").val(data.data.remarks);
                        }
                    })
                }




                function selectOfferscenicByOfferId(){
                    $.ajax({
                        url:"/sdglGroundConnection/Offerscenic/selectOfferscenicByOfferId",
                        data:{offerId:id},
                        dataType:"json",
                        async: false,
                        type:"get",
                        success:function (data) {
                            var p1 = 0;
                            var p2 = 0;
                            var p3 = 0;
                            var p4 = 0;
                            var p5 = 0;
                            for (var u=0;u<data.data.length;u++) {
                                if (data.data[u].howmanydays == 1) {
                                    p1++;
                                }
                                if (data.data[u].howmanydays == 2) {
                                    p2++;
                                }
                                if (data.data[u].howmanydays == 3) {
                                    p3++;
                                }
                                if (data.data[u].howmanydays == 4) {
                                    p4++;
                                }
                                if (data.data[u].howmanydays == 5) {
                                    p5++;
                                }
                            }
                            for (var o=1;o<p1;o++){
                                var c = $("#zong1").find(".tian").children();
                                insertJingdian(c);
                            }
                            for (var o=1;o<p2;o++){
                                var c = $("#zong2").find(".tian").children();
                                insertJingdian(c);
                            }
                            for (var o=1;o<p3;o++){
                                var c = $("#zong3").find(".tian").children();
                                insertJingdian(c);
                            }
                            for (var o=1;o<p4;o++){
                                var c = $("#zong4").find(".tian").children();
                                insertJingdian(c);
                            }
                            for (var o=1;o<p5;o++){
                                var c = $("#zong5").find(".tian").children();
                                insertJingdian(c);
                            }
                            for (var u=1;u<=data.data.length;u++){
                                $(".jingdian").eq(u-1).children().val(data.data[u-1].scenicSpotId)
                                $("[name=jdcostPrice]").eq(u-1).val(data.data[u-1].costPrice);
                                $("[name=jdoffer]").eq(u-1).val(data.data[u-1].offer);
                            }
                        }
                    })
                }







				function selectTourismtemplate(){
				    $.ajax({
                        url:"/sdglGroundConnection/Tourismtemplate/selectTourismtemplate",
                        data:{},
                        dataType:"json",
                        async: false,
                        type:"get",
                        success:function (data) {
							var content="<option selected>请选择</option>";
							$.each(data.data,function(i,e){
								content+="<option value='"+e.tourismId+"'>"+e.tourismtemplateName+"</option>";
							})
							$("[name='tourismtemplateName']").html(content);
						}
					})
				}

            function selectofferline(){
                $.ajax({
                    url:"/sdglGroundConnection/Template/selectTemplate",
                    data:{},
                    dataType:"json",
                    async: false,
                    type:"get",
                    success:function (data) {
                        var content="<option>请选择</option>";
                        $.each(data.data,function(i,e){
                            content+="<option value='"+e.templateId+"'>"+e.templateName+"</option>";
                        })
                        $("[name='lineArriveName']").html(content);
                    }
                })
            }

            function selectHotel(){
                $.ajax({
                    url:"/sdglGroundConnection/Hotel/selectHotel",
                    data:{},
                    dataType:"json",
                    async: false,
                    type:"get",
                    success:function (data) {
                        var content="<option>请选择</option>";
                        $.each(data.data,function(i,e){
                            content+="<option value='"+e.hotelId+"'>"+e.hotelName+"</option>";
                        })
                        $("[name='hotelName']").html(content);
                    }
                })
            }



            function listScenicspotAll(){
                $.ajax({
                    url:"/sdglGroundConnection/Scenicspot/listScenicspotAll",
                    data:{},
                    dataType:"json",
                    async: false,
                    type:"get",
                    success:function (data) {
                        var content="<option>请选择</option>";
                        $.each(data.data,function(i,e){
                            content+="<option value='"+e.scenicSpotId+"'>"+e.scenicSpotName+"</option>";
                        })
                        $("[name='scenicSpotName']").html(content);
                    }
                })
            }


            function selectMealType(){
                $.ajax({
                    url:"/sdglGroundConnection/MealType/selectMealType",
                    data:{},
                    dataType:"json",
                    async: false,
                    type:"get",
                    success:function (data) {
                        var content="<option>请选择</option>";
                        $.each(data.data,function(i,e){
                            content+="<option value='"+e.dictionariesId+"'>"+e.valueContent1+"</option>";
                        })
                        $("[name='typeName']").html(content);
                    }
                })
            }

            function selectTravel(){
                $.ajax({
                    url:"/sdglGroundConnection/Travel/selectTravel",
                    data:{},
                    dataType:"json",
                    async: false,
                    type:"get",
                    success:function (data) {
                        var content="<option>请选择</option>";
                        $.each(data.data,function(i,e){
                            content+="<option value='"+e.travelId+"'>"+e.travelName+"</option>";
                        })
                        $("[name='travelName']").html(content);
                    }
                })
            }

                function listVehicletype(){
                    $.ajax({
                        url:"/sdglGroundConnection/Dictionaries/listVehicletype",
                        data:{},
                        dataType:"json",
                        async: false,
                        type:"get",
                        success:function (data) {
                            var content="<option>请选择</option>";
                            $.each(data.data,function(i,e){
                                content+="<option value='"+e.dictionariesId+"'>"+e.valueContent1+"</option>";
                            })
                            $("[name='cheduiName']").html(content);
                        }
                    })
                }


            function selectByDictionariesId(id,index,qq){
                //var id = $("[name='typeName'] option:selected").val();
                $.ajax({
                    url:"/sdglGroundConnection/Dictionaries/selectByDictionariesId",
                    data:{dictionariesId:id},
                    dataType:"json",
                    type:"get",
                    success:function (data) {
                        $(qq).parent().parent().parent().next().next().children().val(data.data.valueContent2);
                        $(qq).parent().parent().parent().next().next().next().next().children().val(data.data.valueContent3);
                    }
                })
			}

               function selectByDictionariesId1(id,index,qq){
                    //var id = $("[name='typeName'] option:selected").val();
                    $.ajax({
                        url:"/sdglGroundConnection/Dictionaries/selectByDictionariesId",
                        data:{dictionariesId:id},
                        dataType:"json",
                        type:"get",
                        success:function (data) {
                            $("#ccostPrice").val(data.data.valueContent2);
                            $("#coffer").val(data.data.valueContent3);
                        }
                    })
                }

                function selectByScenicSpotId(id,index,qq){
                    //var id = $("[name='typeName'] option:selected").val();'
                    $.ajax({
                        url:"/sdglGroundConnection/Scenicspot/selectByScenicSpotId",
                        data:{scenicSpotId:id},
                        dataType:"json",
                        type:"get",
                        success:function (data) {
                            $(qq).parent().parent().parent().next().next().children().val(data.data.costprice);
                            $(qq).parent().parent().parent().next().next().next().next().children().val(data.data.offer);
                        }
                    })
                }

                function selectByHotelId(id,index,qq){
                    //var id = $("[name='typeName'] option:selected").val();
                    $.ajax({
                        url:"/sdglGroundConnection/Hotel/selectByHotelId",
                        data:{hotelId:id},
                        dataType:"json",
                        type:"get",
                        success:function (data) {
                            $(qq).parent().parent().parent().next().next().children().val(data.data.costprice);
                            $(qq).parent().parent().parent().next().next().next().next().children().val(data.data.offer);
                        }
                    })
                }





                function selectByofferLineRecordId(id,index,qq){
                    for (var k=1;k<=5;k++){
                        $(qq).parent().parent().parent().parent().parent().find("[name=scenic]").eq(1).remove();
                    }
                    /*var id = $("[name='typeName'] option:selected").val();*/
					var q = $(qq).parent();
					var ww;
					if (q.length==1){
                        ww = q[0].firstChild;
					}else{
                        ww = q[1].firstChild;
					}
					var ee = $(ww).html();
                    $.ajax({
                        url:"/sdglGroundConnection/Template/selectTemplateAll",
                        data:{templateId:id},
                        dataType:"json",
                        async: false,
                        type:"get",
                        success:function (data) {
                            var a = $(ww).parent().parent().parent().parent().next().next().next().children().children();
                            $(ww).parent().parent().parent().parent().next().next().children().eq(3).children().val(data.data.thcostPrice);
                            $(ww).parent().parent().parent().parent().next().next().children().eq(5).children().val(data.data.thoffer);
                            $(ww).parent().parent().parent().parent().next().next().children().eq(1).children().children().each(function(){
                                if($(this).text() ==data.data.hotelName){
                                    $(this).prop("selected",true);
                                }
                            })
                            for (var i=1;i<data.data.scenicspotsList.length;i++) {
                                var A=$("[name=scenic]");
                                var index=parseInt(A.length)+1;
                                var content = $("#jingdian").html();
                                $(a).parent().parent().parent().find("[name=wucai]").before("<tr id=\"scenic1\" name=\"scenic\" class=\"scenic\">\n" +
                                    "\t\t\t\t\t\t\t\t<td><label class=\"layui-form-label\">景点</label></td>\n" +
                                    "\t\t\t\t\t\t\t\t<td class=\"jingdian\">\n" +
                                    "\t\t\t\t\t\t\t\t\t<select id=\"jingdian\" name=\"scenicSpotName\" lay-verify=\"required\" lay-filter=\"jingdian\">"+content+"</select>\n" +
                                    "\t\t\t\t\t\t\t\t</td>\n" +
                                    "\t\t\t\t\t\t\t\t<td><label class=\"layui-form-label\">成本价:</label></td>\n" +
                                    "\t\t\t\t\t\t\t\t<td><input name=\"jdcostPrice\" type=\"text\" class=\"layui-input\"></td>\n" +
                                    "\t\t\t\t\t\t\t\t<td><label class=\"layui-form-label\">报价:</label></td>\n" +
                                    "\t\t\t\t\t\t\t\t<td><input name=\"jdoffer\" type=\"text\" class=\"layui-input\"></td>\n" +
                                    "\t\t\t\t\t\t\t</tr>");
                            }
                            for (var j=1;j<=data.data.scenicspotsList.length;j++) {
                                var b = $(ww).parent().parent().parent().parent().parent().children().eq(j+3).html();
                                $(ww).parent().parent().parent().parent().parent().children().eq(j+3).children().eq(3).children().val(data.data.scenicspotsList[j-1].costprice);
                                $(ww).parent().parent().parent().parent().parent().children().eq(j+3).children().eq(5).children().val(data.data.scenicspotsList[j-1].offer);
                                $(ww).parent().parent().parent().parent().parent().children().eq(j+3).children().eq(1).children().children().each(function(){
                                    if($(this).text() ==data.data.scenicspotsList[j-1].scenicSpotName){
                                        $(this).prop("selected",true);
                                    }
                                })
                            }
                            layui.form.render('select');
                        }
                    })
                }

                function apps(onClickjd) {
                    var A=$("#zong1");
                    if(A.length==5){
                        alert("最多可选择五天行程！");
                        return;
                    }
                    var index=parseInt(A.length)+1;
                    var content=$("#zong1").html();
                    var a = $(onClickjd).parent().parent().parent().parent().parent().parent().html();
                    $(onClickjd).parent().parent().parent().parent().parent().parent().parent().after("<div id='zong"+index+"' lay-filter='test1'>"+content+"</div>");
                    layui.use(['form', 'layedit', 'laydate','element'], function() {
                        var form = layui.form,
                            layer = layui.layer,
                            layedit = layui.layedit,
                            element=layui.element,
                            laydate = layui.laydate,
                            a;
                        element.render( 'test1');
                        form.render(); //更新全部
                        form.render('select','skt'); //刷新select选择框渲染
                    });
                }


                function selectTourismandlineAll(id,index,qq){
				    for (var i=2;i<=5;i++){
				        var c = "#zong"+i;
				        $(c).remove();
					}
                    for (var i=2;i<=5;i++){
                        var c = "#scenic"+i;
                        $(c).remove();
                    }
                    $("#zong1").find("input").val("");
                    $("#zong1").find("select").val("请选择");
                    $.ajax({
                        url:"/sdglGroundConnection/Tourismandline/selectTourismandlineAll",
                        data:{tourismId:id},
                        dataType:"json",
                        async: false,
                        type:"get",
                        success:function (data) {
							for (var i=1;i<data.data.length;i++){
                                addss1();
							}
                            for (var i=1;i<=data.data.length;i++){
							    var c = "#zong"+i;
							    var a = $(c).children().children().eq(2).children().children().children().eq(0).children().eq(0).children().eq(1).children().html();

                                $(c).children().children().eq(2).children().children().children().eq(0).children().eq(0).children().eq(1).children().children().each(function(){
                                    if($(this).val() ==data.data[i-1].templateId){
                                        $(this).prop("selected",true);
                                        var xian = $(c).children().children().eq(2).children().children().children().eq(0).children().eq(0).children().eq(1).children().children().children();
                                        selectByofferLineRecordId(data.data[i-1].templateId,1,xian);
                                    }
                                })
                                layui.form.render('select');
                            }
                        }
                    })
                    tianshu();
				}

				function tianshu(){
				    var tian=$("[name=zong]").length;
                    var startDate=$("#date").val();
                    startDate = new Date(startDate);
                    startDate = +startDate + (tian-1)*1000 * 60 * 60 * 24;
                    startDate = new Date(startDate);
                    var nextStartDate = startDate.getFullYear() + "-0" + (startDate.getMonth() + 1) + "-" + startDate.getDate();
                    $("#date1").val(nextStartDate);
				}


				function baocunmuban(){
				    var tripList = new Array();
				    var xdateList = new Array();
				    var xianluList = new Array();
                    var wucList = new Array();
                    var wucbList = new Array();
                    var wubjList = new Array();
                    var wancList = new Array();
                    var wancbList = new Array();
                    var wanbjList = new Array();
                    var jiudianList = new Array();
                    var jcostPrice = new Array();
                    var joffer = new Array();
				    var xianluCount = $("[name=zong]").length;
				    var jingdianCount = 0;
				    var jingdianList = new Array();
                    var jdcostPriceList = new Array();
                    var jdofferList = new Array();
                    for (var i=0;i<xianluCount;i++){
                        var index = "#zong"+(i+1);
                        jingdianCount = $(index).find("[name=scenic]").length;
                        var jingdian = new Array();
                        var jdcostPrice = new Array();
                        var jdoffer = new Array();
						for (var j=0;j<jingdianCount;j++){
                            jingdian[j] = $(".jingdian").eq(j).children().val();
                            jdcostPrice[j] = $("[name=jdcostPrice]").val();
                            jdoffer[j] = $("[name=jdoffer]").val();
						}
                        jingdianList[i] = jingdian;
                        jdcostPriceList[i] = jdcostPrice;
                        jdofferList[i] = jdoffer;

                        tripList[i] = $("[name=trip]").eq(i).val();
                        xdateList[i] = $("[name=date]").eq(i).val();
                        xianluList[i] = $(".xzxianlu").eq(i).children().val();
                        wucList[i] = $(".wuc").eq(i).children().val();
                        wucbList[i] = $(".wucb").eq(i).children().val();
                        wubjList[i] = $(".wubj").eq(i).children().val();

                        wancList[i] = $(".wanc").eq(i).children().val();
                        wancbList[i] = $(".wancb").eq(i).children().val();
                        wanbjList[i] = $(".wanbj").eq(i).children().val();

                        jiudianList[i] = $(".jiudian").eq(i).children().val();
                        jcostPrice[i] = $("[name=jcostPrice]").eq(i).val();
                        joffer[i] = $("[name=joffer]").eq(i).val();
                    }








                    var travelId = $("#xzzutuanshe").children().val();
                    var xiaofei = $("#xiaofei").val();
					var number = $("#number").val();
                    var remarks = $("#remarks").val();
					var travelStartTime = $("[name=travelStartTime]").val();
                    var des = $("[name=desc]").val();
					var travelEndTime = $("[name=travelEndTime]").val();
					var qcostPrice = $("#qcostPrice").val();
					var qoffer = $("#qoffer").val();
                    var ctypeId = $("#ctypeId").children().val();
                    var ccostPrice = $("#ccostPrice").val();
                    var coffer = $("#coffer").val();
                    var jiedai = $("#jiedai").val();
                    var offerId=$("#offerId").val();



					$.ajax({
                        url:"/sdglGroundConnection/Offer/insertOffer",
                        data:{offerId:offerId,xiaofei:xiaofei,jiedai:jiedai,tripList:tripList,xdateList:xdateList,xianluList:xianluList,wucList:wucList,wucbList:wucbList,wubjList:wubjList,wancList:wancList,wancbList:wancbList,wanbjList:wanbjList,jiudianList:jiudianList,jcostPrice:jcostPrice,joffer:joffer,jingdianList:jingdianList,jdcostPriceList:jdcostPriceList,jdofferList:jdofferList,travelId:travelId,number:number,remarks:remarks,travelStartTime:travelStartTime,travelEndTime:travelEndTime,qcostPrice:qcostPrice,qoffer:qoffer,ctypeId:ctypeId,ccostPrice:ccostPrice,coffer:coffer,des:des},
                        dataType:"json",
                        async: false,
                        traditional: true,
                        type:"get",
                        success:function (data) {
                            alert(data.msg);
                            var index=parent.layer.getFrameIndex(window.name);
                            parent.location.reload(index);
						}
					})
				}

				function dayin(){
                    var xianluCount = $("[name=zong]").length;
				    var zuid = $("[name=travelName]").val();
				    var jiedai = $("#jiedai").val();
                    var xianluList = new Array();
                    var xdateList = new Array();
                    var tripList = new Array();
                    var wucList = new Array();
                    var wucbList = new Array();
                    var wubjList = new Array();
                    var wancList = new Array();
                    var wancbList = new Array();
                    var wanbjList = new Array();
                    var jiudianList = new Array();
                    var travelStartTime = $("[name=travelStartTime]").val();
                    var travelEndTime = $("[name=travelEndTime]").val();
                    var number = $("#number").val();
                    for (var i=0;i<xianluCount;i++){
                        xianluList[i] = $(".xzxianlu").eq(i).children().val();
                        xdateList[i] = $("[name=date]").eq(i).val();
                        tripList[i] = $("[name=trip]").eq(i).val();

                        wucList[i] = $(".wuc").eq(i).children().val();
                        wucbList[i] = $(".wucb").eq(i).children().val();
                        wubjList[i] = $(".wubj").eq(i).children().val();

                        wancList[i] = $(".wanc").eq(i).children().val();
                        wancbList[i] = $(".wancb").eq(i).children().val();
                        wanbjList[i] = $(".wanbj").eq(i).children().val();

                        jiudianList[i] = $(".jiudian").eq(i).children().val();
					}
				    $.ajax({
                        url:"/sdglGroundConnection/Offer/Confirmation",
                        data:{number:number,travelEndTime:travelEndTime,travelStartTime:travelStartTime,travelId:zuid,jiedai:jiedai,tripList:tripList,xdateList:xdateList,xianluList:xianluList,wucList:wucList,wucbList:wucbList,wubjList:wubjList,wancList:wancList,wancbList:wancbList,wanbjList:wanbjList,jiudianList:jiudianList},
                        dataType:"json",
                        async: false,
                        traditional: true,
                        type:"get",
                        success:function (data) {
                            window.open("/sdglGroundConnection/voucher/Confirmation.html")
							//location.href="/sdglGroundConnection/countAdjust/Confirmation";
						}
					})
				}

				function baojia(){
                    var xianluCount = $("[name=zong]").length;
                    var zuid = $("[name=travelName]").val();
                    var number = $("#number").val();
                    var travelStartTime = $("[name=travelStartTime]").val();
                    var travelEndTime = $("[name=travelEndTime]").val();
                    var jiage = 0;
                    var wu = 0;
                    var ctypeId = $("#ctypeId").children().val();
                    var remarks = $("#remarks").val();
                    var xiaofei = $("#xiaofei").val();

                    var tripList = new Array();
                    var wubjList = new Array();
                    var wanbjList = new Array();
                    var joffer = new Array();
                    var jdofferList = new Array();
                    jiage += Number($("#qoffer").val());
                    jiage += Number($("#coffer").val());
                    var wuCount = 0;
					var ji = $(".wubj").length+$(".wanbj").length;
                    for (var i=0;i<xianluCount;i++){
                        var index = "#zong"+(i+1);
                        var jingdianCount = $(index).find("[name=scenic]").length;
                        wuCount+=jingdianCount;
                        for (var j=0;j<jingdianCount;j++){
                            jiage+= Number($("[name=jdoffer]").val());
                        }
                        tripList[i] = $("[name=trip]").eq(i).val();
                        jiage += Number($(".wubj").eq(i).children().val());
                        wu += Number($(".wubj").eq(i).children().val());
                        wu += Number($(".wanbj").eq(i).children().val());
                        jiage += Number($(".wanbj").eq(i).children().val());
                        jiage += Number($("[name=joffer]").eq(i).val());
					}
					var oId = $("#offerId").val();
					wu = wu/wuCount;
				    $.ajax({
                        url:"/sdglGroundConnection/Offer/quotation",
                        data:{offerId:oId,ji:ji,xiaofei:xiaofei,tripList:tripList,remarks:remarks,zuid:zuid,number:number,travelStartTime:travelStartTime,travelEndTime:travelEndTime,jiage:jiage,wu:wu,ctypeId:ctypeId},
                        dataType:"json",
                        async: false,
                        traditional: true,
                        type:"get",
                        success:function (data) {
                            window.open("/sdglGroundConnection/voucher/quotation.html")
                            //location.href="/sdglGroundConnection/countAdjust/quotation";
                        }
					})
				}


                function fanzhuanDate(){
                    var begin=$("#date").val();
                    var end=$("#date1").val();
                    var cha=0;
                    if(begin!="" && end!=""){
                        cha=getDaysByDateString(begin,end)+1;
                    }
                    var xls=$("[name=zong]").length;
                    var js=parseInt(cha)-parseInt(xls)
                    if(begin!=""&&end!=""){
                        if(js>0){
                            for(var i=1;i<js;i++){
                                addss3();
                            }
                        }
                        if(js<=0){
                            --js;
                            var jsb=-js;
                            for (var i=0;i<jsb;i++){
                                shanchu1($("#add").prev().children("div:last-child").find("[id=sc]"));
                            }
                        }
                    }
                }
                //获取两个日期之间的天数
                function  getDaysByDateString(dateString1,dateString2){
                    var  startDate=Date.parse(dateString1.replace('/-/g','/'));
                    var  endDate=Date.parse(dateString2.replace('/-/g','/'));
                    var diffDate=(endDate-startDate)+1*24*60*60*1000;
                    var days=diffDate/(1*24*60*60*1000);
                    //alert(diffDate/(1*24*60*60*1000));
                    return  days;
                }
                //日期加一天
                function dateAdd() {
                    var startDate=$("#date1").val();
                    startDate = new Date(startDate);
                    startDate = +startDate + 1000 * 60 * 60 * 24;
                    startDate = new Date(startDate);
                    var nextStartDate = startDate.getFullYear() + "-" + (startDate.getMonth() + 1) + "-" + startDate.getDate();
                    $("#date1").val(nextStartDate);
                }
                //日期减一天
                function datedel() {
                    var startDate=$("#date1").val();
                    startDate = new Date(startDate);
                    startDate = +startDate - 1000 * 60 * 60 * 24;
                    startDate = new Date(startDate);
                    var nextStartDate = startDate.getFullYear() + "-" + (startDate.getMonth() + 1) + "-" + startDate.getDate();
                    $("#date1").val(nextStartDate);
                }

		</script>
	</body>
</html>