<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.sdglgroundconnection.mapper.BillMapper">
    <select id="selectBillByDispatchIdAndBillTypeId" resultType="com.dyhc.sdglgroundconnection.pojo.Bill">
        SELECT * FROM bill WHERE dispatchId=#{dispatchId} AND billTypeId=#{billTypeId} AND whetherDel=0
    </select>

    <insert id="insertBill">
        INSERT INTO bill(dispatchId,billTypeId,picturePath,whetherDel,createBy,createDate)
        value (#{dispatchId},#{billTypeId},#{picturePath},#{whetherDel},#{createBy},#{createDate})
    </insert>
    
    <update id="updateBillById">
        update bill set picturePath=#{picturePath} where billId=#{billId}
    </update>

</mapper>