<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.sdglgroundconnection.mapper.ClusterMapper">


    <select id="ClusterById" resultType="com.dyhc.sdglgroundconnection.pojo.Cluster">
        SELECT clusterTime,clusterAdderss,clusterNo FROM cluster c,dispatch d WHERE c.dispatchId=d.dispatchId AND d.dispatchId=#{dispatchId}
    </select>

    <!--根据调度id获取接团信息表数据-->
    <select id="getClusterByDid" resultType="com.dyhc.sdglgroundconnection.pojo.Cluster">
        SELECT `clusterId`,`clusterTime`,`clusterAdderss`,`clusterNo` FROM `cluster` WHERE `dispatchId`=#{Did}
    </select>
</mapper>