<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.sdglgroundconnection.mapper.DictionariesMapper">
    <select id="listDictionaries" resultType="com.dyhc.sdglgroundconnection.pojo.Dictionaries">
        SELECT * FROM `dictionaries`
        WHERE typeCode='ATTRACTIONS' and whetherDel!=1
    </select>

    <select id="selectByDictionariesId" resultType="com.dyhc.sdglgroundconnection.pojo.Dictionaries">
        SELECT * FROM `dictionaries`
        WHERE dictionariesId=#{dictionariesId}
    </select>


    <select id="getDictionaries" resultType="com.dyhc.sdglgroundconnection.pojo.Dictionaries">
        SELECT * FROM `dictionaries`
        WHERE typeCode='VEHICLE' and valueId=#{valueId}
    </select>


    <select id="listDictionaries1" resultType="com.dyhc.sdglgroundconnection.pojo.Dictionaries">
        SELECT * FROM `dictionaries`
        WHERE typeCode='VEHICLE' and whetherDel=0
    </select>

    <select id="listdictionarieslBycode" resultType="com.dyhc.sdglgroundconnection.pojo.Dictionaries">
            SELECT `valueId`,`valueContent1` FROM `dictionaries`
        <if test="code != null and code != '' ">
            WHERE `typeCode`=#{code}
        </if>
    </select>


    <select id="listVehicletype" resultType="com.dyhc.sdglgroundconnection.pojo.Dictionaries">
        select * from `dictionaries` where typeCode='VEHICLE' and whetherDel!=1
    </select>

    <!--餐厅类型-->
    <select id="getDictionariesCan" resultType="com.dyhc.sdglgroundconnection.pojo.Dictionaries">
        SELECT  d.*,s.theUserName FROM dictionaries  d, staff s WHERE d.createBy=s.staffId AND typeCode='DIET' AND d.whetherDel!=1
        <if test="valueContent1 !=null and valueContent1 !=''">
            and valueContent1 like concat('%',#{valueContent1},'%')
        </if>
    </select>
    <!--车队类型-->
    <select id="getDictionariesCar" resultType="com.dyhc.sdglgroundconnection.pojo.Dictionaries">
        SELECT  d.*,s.theUserName FROM dictionaries  d, staff s WHERE d.createBy=s.staffId AND typeCode='VEHICLE' AND d.whetherDel!=1
        <if test="valueContent1 !=null and valueContent1 !=''">
            and valueContent1 like concat('%',#{valueContent1},'%')
        </if>
    </select>
    <!--酒店类型-->
    <select id="getDictionariesHotel" resultType="com.dyhc.sdglgroundconnection.pojo.Dictionaries">
        SELECT  d.*,s.theUserName FROM dictionaries  d, staff s WHERE d.createBy=s.staffId AND typeCode='THEROOM' AND d.whetherDel!=1
        <if test="valueContent1 !=null and valueContent1 !=''">
            and valueContent1 like concat('%',#{valueContent1},'%')
        </if>
    </select>


    <!--餐厅类型-->
    <update id="getDictionariesByOne">
        UPDATE dictionaries SET whetherDel=1 WHERE valueContent1=#{valueContent1}
    </update>
    <!--车队类型-->
    <update id="getDictionariesByDel">
        UPDATE dictionaries SET whetherDel=1 WHERE valueContent1=#{valueContent1}
    </update>
    <!--酒店类型-->
    <update id="getDictionariesHotelDel">
        UPDATE dictionaries SET whetherDel=1 WHERE valueContent1=#{valueContent1}
    </update>




    <!--餐厅类型-->
    <update id="getDictionariesByUpd">
        UPDATE dictionaries SET valueContent1=#{valueContent1} WHERE dictionariesId=#{dictionariesId}
    </update>
    <!--车队类型-->
    <update id="getDictionariescarUpd">
        UPDATE dictionaries SET valueContent1=#{valueContent1} WHERE dictionariesId=#{dictionariesId}
    </update>
    <!--酒店类型-->
    <update id="getDictionariesHotelByUpd">
        UPDATE dictionaries SET valueContent1=#{valueContent1} WHERE dictionariesId=#{dictionariesId}
    </update>

    <!--餐厅类型-->
    <select id="getgetDictionariesSelect" resultType="com.dyhc.sdglgroundconnection.pojo.Dictionaries">
        SELECT * FROM dictionaries WHERE dictionariesId=#{dictionariesId}
    </select>
    <!--车队类型-->
    <select id="getgetDictionariesCarSelect" resultType="com.dyhc.sdglgroundconnection.pojo.Dictionaries">
        SELECT * FROM dictionaries WHERE dictionariesId=#{dictionariesId}
    </select>
    <!--酒店类型-->
    <select id="getgetDictionariesHotelSelect" resultType="com.dyhc.sdglgroundconnection.pojo.Dictionaries">
        SELECT * FROM dictionaries WHERE dictionariesId=#{dictionariesId}
    </select>

    <!--判断餐厅类型名称是否存在-->
    <select id="getDictionariesByNameTypecan" resultType="com.dyhc.sdglgroundconnection.pojo.Dictionaries">
        SELECT  d.*,s.theUserName FROM dictionaries  d, staff s WHERE d.createBy=s.staffId AND typeCode='DIET' AND valueContent1=#{valueContent1} AND d.whetherDel!=1
    </select>


    <!--判断车辆类型名称是否存在-->
    <select id="getDictionariesByNameTypecar" resultType="com.dyhc.sdglgroundconnection.pojo.Dictionaries">
        SELECT  d.*,s.theUserName FROM dictionaries  d, staff s WHERE d.createBy=s.staffId AND typeCode='VEHICLE' AND valueContent1=#{valueContent1} AND d.whetherDel!=1
    </select>

    <!--判断酒店类型名称是否存在-->
    <select id="getDictionariesByNameType" resultType="com.dyhc.sdglgroundconnection.pojo.Dictionaries">
        SELECT  d.*,s.theUserName FROM dictionaries  d, staff s WHERE d.createBy=s.staffId AND typeCode='THEROOM' AND valueContent1=#{valueContent1} AND d.whetherDel!=1
      </select>

    <!--餐厅-->
    <select id="DictionariesCanMax" resultType="com.dyhc.sdglgroundconnection.pojo.Dictionaries">
        SELECT  MAX(d.valueId) AS valueId FROM dictionaries  d, staff s WHERE d.createBy=s.staffId AND typeCode='DIET' AND d.whetherDel!=1
    </select>


    <!--车辆-->
    <select id="DictionariesCarMax" resultType="com.dyhc.sdglgroundconnection.pojo.Dictionaries">
        SELECT  MAX(d.valueId) AS valueId FROM dictionaries  d, staff s WHERE d.createBy=s.staffId AND typeCode='VEHICLE' AND d.whetherDel!=1
    </select>

    <!--酒店-->
    <select id="DictionariesHotelMax" resultType="com.dyhc.sdglgroundconnection.pojo.Dictionaries">
        SELECT  MAX(d.valueId) AS valueId FROM dictionaries  d, staff s WHERE d.createBy=s.staffId AND typeCode='THEROOM' AND d.whetherDel!=1
    </select>

</mapper>