<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.sdglgroundconnection.mapper.DisattrMapper">
    <!--查询调度景点:贾晓亮-->
    <select id="disattr" resultType="com.dyhc.sdglgroundconnection.pojo.Disattr">
       select  * from  disattr where  offerId=#{offerId}
    </select>

    <delete id="removeDisattrByDid">
        DELETE FROM `disattr` WHERE `offerId`=#{Did}
    </delete>

    <!--根据调度id获取调度景点表数据 张枫-->
    <select id="listDisattrByDid" resultType="com.dyhc.sdglgroundconnection.pojo.Disattr">
        SELECT `scenicSpotId`,`costPrice`,`payMethods`,`weight` FROM `disattr` WHERE `offerId`=#{Did}
    </select>
</mapper>