<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.sdglgroundconnection.mapper.DiscarMapper">

   <!--查询调度用车表-->
    <select id="discar" resultType="com.dyhc.sdglgroundconnection.pojo.Discar">
       select  *  from  discar where  disCarId=#{disCarId}
    </select>

    <select id="listDiscar" resultType="com.dyhc.sdglgroundconnection.pojo.Discar">
      SELECT carRentalName FROM disCar d,vehicleType v,carRental c,dispatch s WHERE d.typeId=v.typeId AND v.carRentalId=c.carRentalId AND d.offerId=s.dispatchId AND s.dispatchId=#{dispatchId}
    </select>
    
    <select id="getDiscarByDid" resultMap="getDiscarByDidMap">
        SELECT d.`disCarId`,d.`costPrice`,d.`number`,v.`typeId`,v.`valueId` FROM `discar` d,`vehicletype` v WHERE d.`typeId`=v.`typeId` AND d.`offerId`=#{Did}
    </select>
    
    <resultMap id="getDiscarByDidMap" type="com.dyhc.sdglgroundconnection.pojo.Discar">
            <association property="vehicleType" javaType="com.dyhc.sdglgroundconnection.pojo.VehicleType">
            </association>
    </resultMap>
</mapper>