<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.sdglgroundconnection.mapper.DisguideMapper">
    <select id="DisguideAll" resultType="com.dyhc.sdglgroundconnection.pojo.Disguide">
SELECT g.guideName,g.certificate,g.telephone,o.num,o.tourist,o.travelStartTime,o.travelEndTime FROM disGuide d,guide g,dispatch o WHERE d.guideId=g.guideId AND d.offerId=o.dispatchId AND o.dispatchId=#{dispatchId}
    </select>

    <!--根据调度Id获取调度导游表数据-->
    <select id="getDisguideByDid" resultType="com.dyhc.sdglgroundconnection.pojo.Disguide">
        SELECT `disGuideId`,guideId FROM disguide WHERE `offerId`=#{Did} AND `status`!=1
    </select>
    <!--查询导游名称-->

    <select id="selectNameAll" resultType="com.dyhc.sdglgroundconnection.pojo.Disguide">
     SELECT * FROM disguide WHERE `offerId`=#{offerId} AND `status`!=1
    </select>
</mapper>