<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.sdglgroundconnection.mapper.DisotherMapper">

    <!--根据调度id获取调度其他表数据-->
    <select id="getDisotherByDid" resultType="com.dyhc.sdglgroundconnection.pojo.Disother">
        SELECT `disOtherId`,`costPrice` FROM `disother` WHERE `offerId`=#{Did}
    </select>
</mapper>