<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.sdglgroundconnection.mapper.DispatchMapper">

    <!--根据条件获取调度信息-->
    <select id="listdispatch" resultType="com.dyhc.sdglgroundconnection.pojo.Dispatch">
        SELECT d.*,g.`guideName` AS 'guideName' FROM `dispatch` d,`guide` g WHERE d.`guideId`=g.`guideId`
        <if test="djsth != null and djsth != '' ">
            AND d.`groundConnectionNumber` LIKE CONCAT('%',#{djsth},'%')
        </if>
        <if test="dyname != null and dyname != '' ">
            AND g.`guideName` LIKE CONCAT('%',#{dyname},'%')
        </if>
        <if test="state != null and state != 0 ">
            AND d.`state`=#{state}
        </if>
    </select>
    
    <select id="getDispatchByguideId" resultType="com.dyhc.sdglgroundconnection.pojo.Dispatch">
        SELECT * FROM dispatch WHERE guideId=#{guideId} AND state=2
    </select>

    <!--查询调度信息：贾晓亮-->
    <select id="dispatchSelectAll" resultType="com.dyhc.sdglgroundconnection.pojo.Dispatch">
         SELECT * FROM dispatch WHERE dispatchId=#{dispatchId}
    </select>

    <select id="getDispatchLike" resultType="com.dyhc.sdglgroundconnection.pojo.Dispatch">
        SELECT d.*,s.theUserName,g.guideName FROM Dispatch d ,staff s ,guide g WHERE d.creater=s.staffId AND d.guideId=g.guideId
        <if test="guideName !=null and guideName !=''">
            and g.guideName like concat('%',#{guideName},'%')
        </if>
        <if test="groundConnectionNumber !=null and groundConnectionNumber !=''">
            and d.groundConnectionNumber like concat('%',#{groundConnectionNumber},'%')
        </if>
    </select>

    <update id="updateDispatchstate">
        UPDATE `dispatch` SET `state`=2 WHERE `dispatchId`=#{did}
    </update>

    <select id="listDispatch" resultType="com.dyhc.sdglgroundconnection.pojo.Dispatch">
        SELECT carcontacts,groundConnectionNumber FROM dispatch WHERE dispatchId=#{dispatchId}
    </select>

    <select id="dispatch" resultType="com.dyhc.sdglgroundconnection.pojo.Dispatch">
      select  * from dispatch where dispatchId=#{dispatchId}
    </select>


</mapper>