<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.sdglgroundconnection.mapper.DispatchhotelMapper">
    <!--查询调度酒店信息：贾晓亮-->
     <select id="dispatchhotelSelectAll" resultType="com.dyhc.sdglgroundconnection.pojo.Dispatchhotel">
        select  *  from dispatchhotel where  offerId=#{offerId}
     </select>
    <select id="getDispatchHotel" resultType="com.dyhc.sdglgroundconnection.pojo.Dispatchhotel">
        SELECT * FROM `dispatchhotel` WHERE offerId=#{dispatchId} AND weight=#{weight} and whetherDel=0
    </select>

    <select id="listDispatchhotelAll" resultType="java.lang.String">
SELECT h.hotelName FROM DispatchHotel d,hotel h,dispatch s WHERE d.hotelId=h.hotelId AND d.offerId=s.dispatchId AND s.dispatchId=#{dispatchId}
</select>

    <!--根据调度id获取调度酒店信息-->
    <select id="listDispatchhotelByDid" resultType="com.dyhc.sdglgroundconnection.pojo.Dispatchhotel">
        SELECT `dispatchHotelId`,`hotelId`,`costPrice`,`payment`,`roomNum`,`valueId`,`weight`,`sproomNum`,`hotelTypeId` FROM `dispatchhotel` WHERE `offerId`=#{Did}
    </select>
</mapper>