<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.sdglgroundconnection.mapper.DispatchhotelMapper">
    <!--查询调度酒店信息：贾晓亮-->
     <select id="dispatchhotelSelectAll" resultType="com.dyhc.sdglgroundconnection.pojo.Dispatchhotel">
        select  *  from dispatchhotel where  offerId=#{offerId}
     </select>
</mapper>