<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.sdglgroundconnection.mapper.GuidescheduleMapper">
    <select id="listguideschedule" resultType="com.dyhc.sdglgroundconnection.pojo.Guideschedule">
        SELECT * FROM `guideschedule`
        <where>
            <if test="year != null and year != ''">
                 AND `arrangeyear`=#{year}
            </if>
            <if test="month != null and month != ''">
                 AND `arrangemonth`=#{month}
            </if>
        </where>
    </select>
</mapper>