<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.sdglgroundconnection.mapper.GuideMapper">
    <!--查询导游类型信息-->
    <select id="listGuide"  resultType="com.dyhc.sdglgroundconnection.pojo.Guide">
       select  * from  guide where 1=1
        <if test="guideName!=null and guideName!=''">
            and guideName like concat('%',#{guideName},'%')
        </if>
        AND `whetherDel` != 1
    </select>
    
    <select id="login" resultType="com.dyhc.sdglgroundconnection.pojo.Guide">
        select * from guide where username=#{username} and password=#{password}
    </select>

    <!--查询导游信息-->
    <select id="ShowAllGuide" resultType="com.dyhc.sdglgroundconnection.pojo.Guide">
       select  *  from guide where  guideId=#{guideId}
    </select>

    <select id="listGuideName" resultType="com.dyhc.sdglgroundconnection.pojo.Guide">
        select  *  from guide where  whetherDel=0
    </select>
   <!--查询导游证件号是否有重复数据-->
    <select id="pdcertificate" resultType="com.dyhc.sdglgroundconnection.pojo.Guide">
      select  * from  guide where  certificate=#{certificate}
    </select>

    <update id="updateTX">
        UPDATE `guide` SET picturePath=#{tx}   WHERE guideId=#{guideId}
    </update>

    <select id="listNoDelGuide" resultType="com.dyhc.sdglgroundconnection.pojo.Guide">
        SELECT * FROM guide WHERE whetherDel != 1
    </select>
</mapper>