<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.sdglgroundconnection.mapper.HotelMapper">


    <select id="selectByHotelId" resultType="com.dyhc.sdglgroundconnection.pojo.Hotel">
        SELECT  * from hotel where whetherDel!=1 and hotelId=#{hotelId}
    </select>
    <!--查询酒店信息-->
    <select id="HotelShowAll" resultType="com.dyhc.sdglgroundconnection.pojo.Hotel">
      select  * from  Hotel where 1=1
      <if test="hotelName!=null and hotelName!=''">
        and hotelName like  concat('%',#{hotelName},'%')
      </if>
        and whetherDel != 1
    </select>
     <!--删除酒店信息:贾晓亮-->
    <update id="removeHoter">
     update  Hotel set whetherDel =1 where  hotelId =#{hotelId}
    </update>
    <!--房间修改赋值-->
    <select id="fuzhiRoomType" resultType="com.dyhc.sdglgroundconnection.pojo.RoomType">
           SELECT * FROM roomtype r,dictionaries d WHERE r.typeId=#{typeId} AND d.typeCode='THEROOM' AND r.valueId = d.valueId
    </select>
    <!--酒店修改赋值-->
    <select id="fuzhiHotel"  resultType="com.dyhc.sdglgroundconnection.pojo.Hotel">
           select  * from  hotel WHERE hotelId=#{hotelId}
    </select>
    
    <select id="listhotelByvalueId" resultType="com.dyhc.sdglgroundconnection.pojo.Hotel">
       SELECT h.*,r.`costprice` AS 'gettypeprice' FROM `hotel` h,`roomtype` r WHERE r.`hotelId`=h.`hotelId` AND r.`valueId`=#{valueId}
    </select>

    <select id="selectRoomType" resultType="com.dyhc.sdglgroundconnection.pojo.Dictionaries">
        SELECT * FROM dictionaries WHERE typeCode='THEROOM' AND whetherDel!=1
    </select>

    <select id="selectTypeById" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM hotel WHERE hotelId IN (SELECT hotelId FROM roomType WHERE typeCode='THEROOM' AND valueId=#{valueId} AND hotelId=#{hotelId} AND whetherDel!=1)
    </select>
</mapper>