<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.sdglgroundconnection.mapper.HoteroomTypeMapper">
    <select id="getHoteroomTypeById" resultType="com.dyhc.sdglgroundconnection.pojo.HoteroomType">
        SELECT * FROM `hoteroomtype` WHERE offerId=#{dispatchId} AND weight=#{weight} and `status`=0
    </select>

    <select id="listOfferlineAll" resultType="com.dyhc.sdglgroundconnection.pojo.HoteroomType">
      SELECT SUBSTRING(CONCAT(h.date),6,11)AS 'riqi',SUBSTRING(CONCAT(t.templateName),4,6) AS 'templateName',t.templateContent FROM template t,hoteroomtype h,dispatch s WHERE t.templateId=h.templateId AND h.offerId=s.dispatchId AND s.dispatchId=#{dispatchId}
    </select>

    <!--根据调度id获取调度线路表数据-->
    <select id="listHoteroomTypeByDid" resultType="com.dyhc.sdglgroundconnection.pojo.HoteroomType">
        SELECT `hoteroomtId`,`templateId`,`xingcheng`,`weight`,`date` FROM `hoteroomtype` WHERE `offerId`=#{Did}
    </select>
</mapper>