<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.sdglgroundconnection.mapper.MealTypeMapper">

    <select id="selectMealTypeByRestaurantId" resultType="com.dyhc.sdglgroundconnection.pojo.MealType">
        SELECT * FROM mealType m,dictionaries d WHERE m.`typeCode` = d.`typeCode` AND m.whetherDel=0 AND m.`valueId` = d.`valueId` AND m.`restaurantId`=#{restaurantId}
    </select>
    <update id="updateMealType">
        update mealType set valueId=#{valueId},costprice=#{costprice},offer=#{offer} where typeId=#{typeId}
    </update>

    <select id="selectDic" resultType="com.dyhc.sdglgroundconnection.pojo.Dictionaries">
        select * from dictionaries where typeCode="DIET"
    </select>

    <update id="delMealTypeById">
        update mealType set whetherDel=1 where typeId=#{typeId}
    </update>

    <insert id="insertMealType">
        insert into mealType(typeCode,valueId,restaurantId,costprice,offer,whetherDel) values("DIET",#{valueId},#{restaurantId},#{costprice},#{offer},0)
    </insert>

    <select id="selectById" resultType="com.dyhc.sdglgroundconnection.pojo.MealType">
        select typeId,restaurantId,typeCode,valueId,costprice,offer,whetherDel,createBy,updateBy,updateDate,createDate,value1,value2,value3 from mealType where typeId = #{typeId}
    </select>

    <select id="selectMealType" resultType="com.dyhc.sdglgroundconnection.pojo.Dictionaries">
        SELECT * FROM dictionaries WHERE whetherDel!=1 and typeCode="DIET"
    </select>

    <select id="listinfoByvalueId" resultType="com.dyhc.sdglgroundconnection.pojo.MealType">
        SELECT m.`typeId`,r.`restaurantName` AS 'restaurantName' FROM `mealtype` m,`restaurant` r  WHERE m.`restaurantId`=r.`restaurantId` AND m.`valueId`=#{valueId} AND r.`whetherDel` !=1
    </select>
</mapper>