<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.sdglgroundconnection.mapper.OfferrestaurantMapper">

    <insert id="insertOfferrestaurant">
        insert into offerrestaurant(offerId,typeCode,dictionariesId,costPrice,offer,`date`,havemealsdate,whetherDel,creater,howmanydays)
        values(#{offerId},'DIET',#{dictionariesId},#{costPrice},#{offer},#{date},#{havemealsdate},0,1,#{howmanydays})
    </insert>

    <delete id="delOfferrestaurant">
        delete from offerrestaurant where offerId=#{offerId}
    </delete>

    <select id="selectOfferRestaurantByOfferId" resultType="com.dyhc.sdglgroundconnection.pojo.Offerrestaurant">
        select * from offerrestaurant where whetherDel!=1 and offerId=#{offerId}
    </select>
</mapper>