<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.sdglgroundconnection.mapper.OfferotherMapper">

    <insert id="insertOfferother">
        insert into offerother(offerId,costPrice,offer,remarks,whetherDel,creater)
        values(#{offerId},#{costPrice},#{offer},#{remarks},0,1)
    </insert>

    <update id="updateOfferother">
        update offerother set offerId=#{offerId},costPrice=#{costPrice},offer=#{offer},remarks=#{remarks},whetherDel=0 where offerId=#{offerId}
    </update>

    <select id="selectOfferotherByOfferId" resultType="com.dyhc.sdglgroundconnection.pojo.Offerother">
        select * from offerother where whetherDel!=1 and offerId=#{offerId}
    </select>
</mapper>