<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.sdglgroundconnection.mapper.OfferscenicMapper">

    <insert id="insertOfferscenic">
      insert into offerscenic(scenicSpotId,offerId,costPrice,offer,whetherDel,creater,howmanydays)
      values(#{scenicSpotId},#{offerId},#{costPrice},#{offer},0,1,#{howmanydays})
    </insert>

    <delete id="delOfferscenic">
        delete from offerscenic where offerId=#{offerId}
    </delete>

    <select id="selectOfferscenicByOfferId" resultType="com.dyhc.sdglgroundconnection.pojo.Offerscenic">
        select * from offerscenic where whetherDel!=1 and offerId=#{offerId}
    </select>
</mapper>