<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.sdglgroundconnection.mapper.OfferlineMapper">

    <select id="selectByofferLineRecordId" resultType="com.dyhc.sdglgroundconnection.pojo.Offerline">
        SELECT  * from offerline where whetherDel!=1 and offerLineRecordId=#{offerLineRecordId}
    </select>

    <insert id="insertOfferline">
        insert into offerline(offerId,lineArriveName,travelContent,`date`,whetherDel,creater,howmanydays)
        values(#{offerId},#{lineArriveName},#{travelContent},#{date},0,1,#{howmanydays})
    </insert>

    <select id="selectOfferlineByOfferId" resultType="com.dyhc.sdglgroundconnection.pojo.Offerline">
        select * from offerline where whetherDel!=1 and offerId=#{offerId}
    </select>
</mapper>