<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.sdglgroundconnection.mapper.OfferHotelMapper">

    <insert id="insertOfferHotel">
        insert into offerhotel(hotelId,offerId,costPrice,offer,whetherDel,creater,howmanydays)
        values(#{hotelId},#{offerId},#{costPrice},#{offer},0,1,#{howmanydays})
    </insert>

    <delete id="delOfferHotel">
        delete from offerhotel where offerId=#{offerId}
    </delete>

    <select id="selectOfferHotelByOfferId" resultType="com.dyhc.sdglgroundconnection.pojo.OfferHotel">
        select * from offerhotel where  whetherDel!=1 and offerId=#{offerId}
    </select>
</mapper>