<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.sdglgroundconnection.mapper.ReportdetailMapper">
    <select id="showInfoAll" resultType="com.dyhc.sdglgroundconnection.pojo.Reportdetail">
        SELECT r.*,d.groupNumber,d.groundConnectionNumber,g.guideName FROM `reportdetail` r,`dispatch` d,guide g
        <where>
            <if test="groupNumber!=null and groupNumber!=''">
                d.groupNumber like  concat('%',#{groupNumber},'%')
            </if>
            <if test="states!=0">
                AND r.`status`=#{states}
            </if>
            and r.dispatchId=d.dispatchId AND d.guideId=g.guideId
        </where>
    </select>
    <!--查询地接导游报账明细信息：贾晓亮-->
    <select id="reportdetail" resultType="com.dyhc.sdglgroundconnection.pojo.Reportdetail">
       select  * from  reportdetail where  dispatchId=#{dispatchId}
    </select>
    
    <update id="tgShenHe">
        UPDATE `reportdetail` SET `status`=4 WHERE reportDetailId=#{reportDetailId}
    </update>

    <update id="bhShenHe">
        UPDATE `reportdetail` SET `status`=4 WHERE reportDetailId=#{reportDetailId}
    </update>

    <update id="jsShenHe">
        UPDATE `reportdetail` SET `status`=2 WHERE reportDetailId=#{reportDetailId}
    </update>
    <!--查询报账类型名称-->
    <select id="baozhangType" resultType="com.dyhc.sdglgroundconnection.pojo.Dictionaries">
      select  * from   `dictionaries`  where typeCode="BILL"
    </select>
     <!--查询宗总报账的ID-->
    <select id="All_dispatchId" resultType="com.dyhc.sdglgroundconnection.pojo.Reportdetail">
     select * from  `reportdetail` where  dispatchId=#{dispatchId}
    </select>

    <select id="selectDispatchById" resultType="com.dyhc.sdglgroundconnection.pojo.Dispatch">
          select * from dispatch where groupNumber=#{groupNumber}
    </select>


    <!--查看门票-->
    <select id="getReportticket" resultType="com.dyhc.sdglgroundconnection.pojo.Reportdetail">
        SELECT * FROM reportDetail r,dispatch d,reportticket s WHERE r.dispatchId=d.dispatchId AND r.reportDetailId=s.reportDetailId AND r.dispatchId=#{dispatchId}
    </select>
    <!--查看住宿-->
    <select id="getHotel" resultType="com.dyhc.sdglgroundconnection.pojo.Reportaccommodation">
        SELECT * FROM reportDetail r,dispatch d,reportaccommodation s WHERE r.dispatchId=d.dispatchId AND r.reportDetailId=s.reportDetailId AND r.dispatchId=#{dispatchId}
    </select>
    <!--查看其它-->
    <select id="getReportingotherexpenses" resultType="com.dyhc.sdglgroundconnection.pojo.Reportingotherexpenses">
        SELECT * FROM reportDetail r,dispatch d,reportingotherexpenses s WHERE r.dispatchId=d.dispatchId AND r.reportDetailId=s.reportDetailId AND r.dispatchId=#{dispatchId}
    </select>

    <select id="showJieSuan" resultType="com.dyhc.sdglgroundconnection.pojo.Travel">
        SELECT t.* FROM `reportdetail` r,dispatch d,travel t WHERE r.`reportDetailId`=#{reportDetailId} AND r.dispatchId = d.dispatchId AND t.`travelId` = d.`groupNumber`
    </select>

    <select id="showJieSuan1" resultType="com.dyhc.sdglgroundconnection.pojo.Dispatch">
        select d.* from `reportdetail` r,dispatch d where r.`reportDetailId`=#{reportDetailId} and r.dispatchId = d.dispatchId
    </select>

    <select id="getReportdetailById" resultType="com.dyhc.sdglgroundconnection.pojo.Dispatch">
        SELECT * FROM reportdetail WHERE reportDetailId =#{reportDetailId}
    </select>
</mapper>