<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.sdglgroundconnection.mapper.RestaurantMapper">

    <resultMap id="lianbiao" type="com.dyhc.sdglgroundconnection.pojo.Restaurant">
        <id column="restaurantId" property="restaurantId"/>
        <collection property="mealType" ofType="com.dyhc.sdglgroundconnection.pojo.MealType">
            <id column="typeId" property="typeId"/>
        </collection>
    </resultMap>



    <select id="selectByEx" resultMap="lianbiao">
        select * from restaurant where whetherDel!=1
        <if test="restaurantName!=null and restaurantName!=''">
            and r.restaurantName like concat("%",#{restaurantName},"%")
        </if>
        <if test="restaurantAddress!=null and restaurantAddress!=''">
            and r.restaurantAddress like concat("%",#{restaurantAddress},"%")
        </if>
        <if test="whetherDel!=null">
            and r.whetherDel = #{whetherDel}
        </if>
    </select>

    <update id="delRestaurantById">
        update restaurant set whetherDel=1 where restaurantId=#{restaurantId}
    </update>

    <update id="updateRestaurantById">
        update restaurant set restaurantName=#{restaurantName},restaurantAddress=#{restaurantAddress},phone=#{phone},picturePath=#{picturePath} where restaurantId=#{restaurantId}
    </update>
</mapper>