<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.sdglgroundconnection.mapper.ScenicspotMapper">

    <select id="listScenicspots" resultMap="getScenicspotLevel">
        SELECT * FROM  `scenicspot` s
        <where>
            <if test="scenicSpotName!=null and scenicSpotName!=''">
                scenicSpotName like CONCAT('%',#{scenicSpotName},'%')
            </if>
            <if test="scenicSpotAddress!=null and scenicSpotAddress!=''">
                and scenicSpotAddress like CONCAT('%',#{scenicSpotAddress},'%')
            </if>
            <if test="typeId!=0">
                and  typeId=#{typeId}
            </if>
            <if test="whetherDel!=3">
               and whetherDel=#{whetherDel}
            </if>
            and whetherDel!=1
        </where>
        ORDER BY `createDate` DESC
    </select>


    <select id="getScenicspotByParentId" resultType="com.dyhc.sdglgroundconnection.pojo.Scenicspot">
        select * from scenicspot  where scenicSpotId=#{parentId} and whetherDel=0
    </select>
    
    <update id="updateScenicspot">
        <if test="picturePath==null">
            UPDATE scenicspot
            SET scenicSpotName=#{scenicSpotName},parentId=#{parentId},scenicSpotAddress=#{scenicSpotAddress},costprice=#{costprice},offer=#{offer},typeId=#{typeId},remarks=#{remarks},updateBy=#{updateBy},updateDate=#{updateDate}
            WHERE scenicSpotId=#{scenicSpotId}
        </if>
        <if test="picturePath!=null">
            UPDATE scenicspot
            SET scenicSpotName=#{scenicSpotName},parentId=#{parentId},scenicSpotAddress=#{scenicSpotAddress},costprice=#{costprice},offer=#{offer},typeId=#{typeId},picturePath=#{picturePath},remarks=#{remarks},updateBy=#{updateBy},updateDate=#{updateDate}
            WHERE scenicSpotId=#{scenicSpotId}
        </if>

    </update>


    <update id="deleteScenicspotById">
        UPDATE scenicspot SET whetherDel=1 WHERE scenicSpotId=#{scenicSpotId}
    </update>

    <select id="selectByScenicSpotId" resultType="com.dyhc.sdglgroundconnection.pojo.Scenicspot">
        SELECT  * from scenicspot where whetherDel!=0 and scenicSpotId=#{scenicSpotId}
    </select>


    <resultMap id="getScenicspotLevel" type="com.dyhc.sdglgroundconnection.pojo.Scenicspot">
        <id column="scenicSpotId" property="scenicSpotId"/>
        <result column="parentId" property="parentId"/>
        <result column="scenicSpotName" property="scenicSpotName"/>
        <result column="scenicSpotAddress" property="scenicSpotAddress"/>
        <result column="typeId" property="typeId"/>
        <result column="remarks" property="remarks"/>
        <result column="offer" property="offer"/>
        <result column="whetherDel" property="whetherDel"/>
        <association property="dictionarie" javaType="com.dyhc.sdglgroundconnection.pojo.Dictionaries">
            <id column="dictionariesId" property="dictionariesId"/>
            <result column="valueId" property="valueId"/>
            <result column="typeCode" property="typeCode"/>
            <result column="valueContent1" property="valueContent1"/>
            <result column="valueContent1" property="valueContent1"/>
        </association>
    </resultMap>
   <!--查询景点信息-->
  <select id="ShowScenicSpotId" resultType="com.dyhc.sdglgroundconnection.pojo.Scenicspot">
     select  * from  scenicspot where  parentId=#{scenicSpotId}
  </select>
</mapper>