<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.sdglgroundconnection.mapper.StaffMapper">
    <select id="login" resultType="com.dyhc.sdglgroundconnection.pojo.Staff">
        select * from staff where theUserName=#{theUserName} and password=#{password}
    </select>

    <select id="getStaffAll" resultType="com.dyhc.sdglgroundconnection.pojo.Staff">
        SELECT * FROM staff where 1=1
        <if test="staffname !=null and staffname !='' ">
            and staffname like concat('%',#{staffname},'%')
        </if>
        and whetherDel !=1
    </select>

    <update id="getStaffUpd">
        UPDATE staff SET whetherDel=1 where staffId=#{staffId}
    </update>

    <!--修改图片-->
    <update id="getStaffUpdTwo">
      UPDATE staff SET roleId=#{roleId},staffname=#{staffname},sex=#{sex},theUserName=#{theUserName},cardId=#{cardId},qqnumber=#{qqnumber},headPortraitPath=#{headPortraitPath},currentAddress=#{currentAddress},phone=#{phone} where staffId=#{staffId}
    </update>

    <!--不修改图片-->
    <update id="getStaffUpdThree">
        UPDATE staff SET roleId=#{roleId},staffname=#{staffname},sex=#{sex},theUserName=#{theUserName},cardId=#{cardId},qqnumber=#{qqnumber},currentAddress=#{currentAddress},phone=#{phone} where staffId=#{staffId}
    </update>

    <select id="getStaffUpdTwoById" resultType="com.dyhc.sdglgroundconnection.pojo.Staff">
        SELECT * FROM staff WHERE staffId=#{staffId}
    </select>

    <select id="getserlectBy" resultType="com.dyhc.sdglgroundconnection.pojo.Staff">
        SELECT staffname FROM staff
    </select>

    <select id="listStaff" resultType="com.dyhc.sdglgroundconnection.pojo.Staff">
         SELECT s.staffname,s.phone FROM staff s,dispatch d,role r WHERE s.roleId=r.roleId AND s.staffId=d.creater AND d.dispatchId=#{dispatchId}
    </select>


    <update id="updateStaffInfo1">
        UPDATE `staff` SET currentAddress=#{currentAddress},phone=#{phone},qqnumber=#{qqnumber},headPortraitPath=#{uploadResult} WHERE staffId=#{staffId}
    </update>
    <update id="updateStaffInfo2">
        UPDATE `staff` SET currentAddress=#{currentAddress},phone=#{phone},qqnumber=#{qqnumber} WHERE staffId=#{staffId}
    </update>

    <select id="pdPassword" resultType="com.dyhc.sdglgroundconnection.pojo.Staff">
        SELECT * FROM `staff` WHERE staffId=#{staffId}
    </select>

    <update id="updatePassword">
        update staff set password=#{password} where staffId=#{staffId}
    </update>
    <select id="StaffByName" resultType="com.dyhc.sdglgroundconnection.pojo.Staff">
        SELECT * FROM staff WHERE theUserName=#{theUserName}
    </select>
    <!--贾晓亮-->
    <select id="nameStaff" resultType="com.dyhc.sdglgroundconnection.pojo.Staff">
         SELECT * FROM `staff` WHERE staffId=#{staffId}
    </select>
</mapper>