<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.sdglgroundconnection.mapper.TemplateMapper">

    <!--根据条件查询模板信息-->
    <select id="listtemplate" resultMap="lianbiao">
        SELECT t.`templateId`,t.`templateName`,t.`templateContent`,t.`creationDate`,s.`theUserName` FROM `template` t,`staff` s WHERE t.`creater`=s.`roleId` AND t.`whetherDel` != 1
        <if test="tempName != null and tempName != '' ">
            AND t.`templateName` LIKE CONCAT('%',#{tempName},'%')
        </if>
        <if test="username != null and username != '' ">
            AND s.`theUserName` LIKE CONCAT('%',#{username},'%')
        </if>
    </select>
    <!--查询模板信息的resultMap-->
    <resultMap id="lianbiao" type="com.dyhc.sdglgroundconnection.pojo.Template">
        <id column="templateId" property="templateId"/>
        <association property="staff" javaType="com.dyhc.sdglgroundconnection.pojo.Staff">
            <id column="staffId" property="staffId"/>
        </association>
    </resultMap>

    <!--根据模板名称进行查询-->
    <select id="gettemplateByName" resultType="com.dyhc.sdglgroundconnection.pojo.Template">
        SELECT `templateId` FROM `template` WHERE templateName=#{templateName}
    </select>

    <select id="selectTemplate" resultType="com.dyhc.sdglgroundconnection.pojo.Template">
        select * from template where whetherDel!=1
    </select>

    <select id="selectTemplateAll" resultType="com.dyhc.sdglgroundconnection.pojo.Template">
        SELECT
        t.templateId,
		th.hotelId,
		h1.hotelName,
		th.costPrice AS thcostPrice,
		th.offer AS thoffer
        FROM template t,templatehotel th,hotel h1
        WHERE t.templateId=th.templateId
        AND th.hotelId=h1.hotelId
        AND t.templateId=#{templateId}
    </select>

    <select id="selectscenicSpotById" resultType="com.dyhc.sdglgroundconnection.pojo.Scenicspot">
        SELECT s.scenicSpotName,ts.costPrice,ts.offer FROM
        `templatescenicspot` ts,
        `scenicspot` s
        WHERE ts.scenicSpotId=s.scenicSpotId
        AND ts.templateId=#{templateId}
    </select>

    <select id="selecctNameById" resultType="com.dyhc.sdglgroundconnection.pojo.Template">
        select * from template where templateId=#{templateId}
    </select>


    <select id="listTemplate" resultType="com.dyhc.sdglgroundconnection.pojo.Template">
 SELECT SUBSTRING(CONCAT(t.templateName),1,2) AS templateName FROM template t,hoteroomtype h,dispatch s WHERE t.templateId=h.templateId AND h.offerId=s.dispatchId AND s.dispatchId=#{dispatchId} AND weight=1
    </select>
</mapper>