<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.sdglgroundconnection.mapper.TourismandlineMapper">

    <delete id="removeTourismandline">
        DELETE FROM `tourismandline` WHERE `tourismId`=#{tid}
    </delete>

    <select id="listtlBytid" resultType="com.dyhc.sdglgroundconnection.pojo.Tourismandline">
        SELECT * FROM `tourismandline` WHERE `tourismId`=#{tid}
    </select>
</mapper>