<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.sdglgroundconnection.mapper.TourismtemplateMapper">


    <select id="listtemplate" resultType="com.dyhc.sdglgroundconnection.pojo.Tourismtemplate">
      SELECT t.*,s.`theUserName` AS 'userName' FROM `tourismtemplate` t,`staff` s WHERE s.`staffId`=t.`createBy`
        <if test="tempName != null and tempName != '' ">
            AND t.`tourismtemplateName` LIKE CONCAT('%',#{tempName},'%')
        </if>
        <if test="username != null and username != '' ">
            AND s.`theUserName` LIKE CONCAT('%',#{username},'%')
        </if>
    </select>

</mapper>