<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.sdglgroundconnection.mapper.TravelMapper">
    <select id="listTravelLike" resultType="com.dyhc.sdglgroundconnection.pojo.Travel">
        SELECT * FROM travel WHERE 1=1
        <if test="travelName !=null and travelName !='' " >
            and travelName  like concat('%',#{travelName},'%')
        </if>
        and whetherDel !=1
    </select>

    <update id="getUpdTrave">
        UPDATE travel SET whetherDel=1 WHERE travelId=#{travelId};
    </update>

    <select id="getupdBytravelId" resultType="com.dyhc.sdglgroundconnection.pojo.Travel">
        SELECT * FROM travel WHERE travelId=#{travelId};
    </select>


    <update id="getupdlala">
        UPDATE travel SET travelName=#{travelName},personName=#{personName},personPost=#{personPost},phone=#{phone} WHERE travelId=#{travelId}
    </update>

    <select id="selectTravelById" resultType="com.dyhc.sdglgroundconnection.pojo.Travel">
        select * from travel where whetherDel!=1 and travelId=#{travelId}
    </select>

    <select id="selectGuideByTravelId" resultType="com.dyhc.sdglgroundconnection.pojo.Guide">
        SELECT g.* FROM guide g,Dispatch d,disGuide dg,travel t
        WHERE dg.guideId = g.guideId
        AND dg.offerId = d.dispatchId
        AND d.groupNumber = t.travelId
        AND t.travelId = #{travelId}
    </select>

    <select id="selectDispatchByTravelId" resultType="com.dyhc.sdglgroundconnection.pojo.Dispatch">
          SELECT * FROM dispatch d,travel t WHERE d.groupNumber = t.travelId AND t.travelId=#{travelId}
    </select>

    <select id="selectStaffByTraveId" resultType="com.dyhc.sdglgroundconnection.pojo.Staff">
        SELECT s.* FROM staff s,travel t,Dispatch d
        WHERE d.groupNumber = t.travelId
        AND d.creater = s.staffId
        AND t.travelId = #{travelId}
    </select>

    <select id="selectOfferByTravelId" resultType="com.dyhc.sdglgroundconnection.pojo.Offer">
         SELECT * FROM offer o,travel t WHERE o.travelId=t.travelId AND t.travelId=#{travelId}
    </select>
</mapper>