<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.sdglgroundconnection.mapper.VehicleTypeMapper">
    <select id="listVehicleTypes" resultType="com.dyhc.sdglgroundconnection.pojo.VehicleType">
        select  * from VehicleType

        where  whetherDel=0

        order by createDate desc
    </select>


    <update id="deleteVehicleTypesBycarRentalId">
        update vehicletype set whetherDel=1 WHERE carRentalId=#{carRentalId}
    </update>

    <insert id="insertVehicleType">
        INSERT INTO `vehicletype`(valueId,passengervolume,costprice,offer,typeCode,carRentalId,whetherDel,createBy,createDate)
        VALUE(#{valueId},#{passengervolume},#{costprice},#{offer},'THEROOM',#{carRentalId},#{whetherDel},#{createBy},#{createDate})
    </insert>
    
    <update id="updateVehicleType">
        UPDATE vehicletype SET valueId=#{valueId},passengervolume=#{passengervolume},costprice=#{costprice},offer=#{offer},updateBy=#{updateBy},updateDate=#{updateDate} WHERE typeId=#{typeId}
    </update>
    
    <update id="deleteVehicleTypeById">
        update vehicletype set whetherDel=0 where typeId=#{typeId}
    </update>
    
    <select id="listVehicleTypeByValueId" resultType="com.dyhc.sdglgroundconnection.pojo.VehicleType">
        select * from vehicleType
        where carRentalId=#{carRentalId} and valueId=#{valueId} and whetherDel=0
    </select>

    <!--查询车辆类型：贾晓亮-->
    <select id="vehicleType" resultType="com.dyhc.sdglgroundconnection.pojo.VehicleType">
        select   *   from    vehicletype where  typeId=#{typeId}
    </select>

    <select id="listinfoByvalueId" resultType="com.dyhc.sdglgroundconnection.pojo.VehicleType">
SELECT v.`typeId`,c.`carRentalName` AS 'carRentalName',v.`costprice` FROM `vehicletype` v,`carrental` c WHERE v.`carRentalId`=c.`carRentalId` AND c.`whetherDel` !=1 AND v.`valueId` = #{valueId}
    </select>

</mapper>